<div class="col-xs-1 avatar-responsive">
	<%= image_tag current_user.try(:profile).try(:avatar).url(:small), class: "full-width" %>
</div>
<div class="col-xs-11">
	<div class="catalog-item">
		<%= f.hidden_field :commentable_id, value: "#{resource.id}" %>
		<%= f.text_area :comment, class: "form-control", required: true %>
	</div>
	<button class="btn btn-info margin-top10" type="submit">Send</button>
</div>