<div class="control-group">
  <label class="control-label">User</label>
  <div class="controls">
    <%= f.text_field :user_id, class: 'span7' %> 
  </div>
</div>

<div class="control-group">
  <label class="control-label">Comments</label>
  <div class="controls">
    <%= f.text_area :comment, class: 'span7 height-100' %> 
  </div>
</div>

<div class="control-group">
  <label class="control-label">Status</label>
  <div class="controls">
    <%= f.check_box :status, class: 'span1' %> 
  </div>
</div>
