<%= form_tag "#{collection_path}/destroy_multiple", method: :delete do %>
  <%= render partial: "backend/shareds/prepare_table", 
                locals: {table_name: 'Comments', button_name: 'Comments', add_method: true } %>
    <div class="widget-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Created At</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @collection.each do |resource| %>
            <tr>
              <td><%= check_box_tag "ids[]", resource.id %></td>
              <td><b><%= truncate resource.try(:user).try(:username) %></b></td>
              <td><%= resource.status? %></td>
              <td>
                <%= link_to comments_catalog_path(resource.commentable.slug, reply: true, to: resource.id ) do %>
                  <%= truncate resource.try(:comment), length: 45 %>
                <% end %>
              </td>
              <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
              <td class="text-center">
                <%= render partial: 'backend/shareds/prepare_action', 
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination">
        <%= paginate @collection %>
      </div>
    </div>
  </div>
<% end %>