<div class="col-md-8">
	<h1>Open Ticket</h1>
	<center>
		<p>If you can not find a solution to your problems in our knowledgebase, you can submit a ticket by selecting the appropriate department below.</p>
	</center>
	<br>
  <div class="row margin-top10">
  	<div class="col-md-4 align-center">
  		<div class="catalog-item-show">
    		<%= link_to ticket_catalog_path(departement: 'Technical Support') do %>
    			<span class="support-icon"><i class="fa fa-wrench fa-4x"></i> </span>
    			<h4>Technical Support</h4>
    		<% end %>
				<p>Support Technical Issues</p>
			</div>
  	</div>

  	<div class="col-md-4 align-center">
  		<div class="catalog-item-show">
    		<%= link_to ticket_catalog_path(departement: 'Billing and Payment') do %>
    			<span class="support-icon"><i class="fa fa-envelope fa-4x"></i></span>
    			<h4>Sales/Marketing</h4>
    		<% end %>
				<p>Sales and marketing support</p>
			</div>
  	</div>

  	<div class="col-md-4 align-center">
  		<div class="catalog-item-show">
    		<%= link_to ticket_catalog_path(departement: 'Sales/Marketing') do %>
    			<span class="support-icon"><i class="fa fa-money fa-4x"></i></span>
    			<h4>Billing/Payment</h4>
    		<% end %>
				<p>Issues Billing or Payment</p>
			</div>
  	</div>
  </div>
</div>