<div class="col-md-8 comments-wrapper">
	<h3 class="margin0">Add Comment</h3>
	<div class="catalog-item-show col-md-12 margin-top10">
		<% if current_user %>
			<%= form_for @comment_root, url: comments_path, method: 'post' do |f| %>
				<%= render partial: 'shareds/comments/form_comment', locals: {f: f} %>
			<% end %>
		<% else %>
			<p>
				You must <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"> sign in</a> or 
				<a href="#signup" data-toggle="modal" data-target=".bs-modal-sm2">sign up</a> to comment this page.
			</p>
		<% end %>
	</div>
	<div class="comment-comment-wrapper margin-top10 col-xs-12">
		<h3>
			<span class="comments-count"><%= @comments_root.size %></span> comments found
		</h3>
	</div>
	<div class="list-comments">
		<% @comments.each_with_index do |resource, index| %>
			<% @avatar = resource.try(:user).try(:profile).try(:avatar) %>
			<div class="col-md-12 wrapper-comment-list">
				<div class="col-xs-1 avatar-responsive">
					<% if @avatar.present? %>
						<%= image_tag @avatar.url(:small), class: "full-width" %>
					<% else %>
						<%= image_tag 'no-image.png', class: "full-width" %>
					<% end %>
				</div>
				<div class="col-xs-11 wrapper-item-comment">
					<div class="panel panel-default comment-parent">
			  		<div class="panel-body">
			  			<h5 class="comment-username"><%= resource.try(:user).try(:username) %>
				  			<small class="comment-date">
				  				<i class="fa fa-calendar"></i> <%= time_ago_in_words(resource.created_at) %>
				  			</small>
			  			</h5>
							<p><%= resource.try(:comment) %></p>
							<h6 class="comment-reply-link">
								<%= resource.children.count %> Comments 
								<% unless resource.children.count >= 1 %>
									|
									<% if current_user %>
										<a href='#' class='click-comment-reply-link'>Reply</a>
									<% else %>
										<a href="#signin" data-toggle="modal" data-target=".bs-modal-sm">Reply</a>
									<% end %>
								<% end %>
							</h6>
						</div>
					</div>

					<div class="list-comments-<%= resource.id %>">
						<% resource.children.oldest.each_with_index do |comment_child, index| %>
							<div class="col-md-12">
								<div class="col-xs-1 avatar-responsive">
									<% if @avatar.present? %>
										<%= image_tag @avatar.url(:small), class: "full-width" %>
									<% else %>
										<%= image_tag 'no-image.png', class: "full-width" %>
									<% end %>
								</div>
								<div class="col-xs-11">
									<div class="panel panel-default grey">
							  		<div class="panel-body">
							  			<h5 class="comment-username"><%= comment_child.try(:user).try(:username) %>
								  			<small class="comment-date">
								  				<i class="fa fa-calendar"></i> 
								  				<%= time_ago_in_words(resource.created_at) %>
								  			</small>
							  			</h5>
											<%= comment_child.try(:comment) %>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<% if current_user %>
						<%= form_for(@comment, :remote => true, 
							html: {class: "comment_form-#{resource.id} #{'new_comment' unless resource.children.count >= 1}"}) do |f| %>
							<%= render partial: 'comments/form_comment_child', 
							locals: {f: f, resource_comment: resource, index: resource.id} %>
						<% end %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-md-12">
    <%= paginate @comments %>
  </div>
</div>