<div class="col-md-8">
	<div class="catalog-item-show">
    <div class="media">
      <%= image_tag resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:large), class: 'full-width img-responsive' %>
      <div class="clearfix visible-sm"></div>
      <div class="desc-catalog">
        <div class="button-item-description">
          <% if resource.demo_url.present? %>
            <a href="<%= resource.demo_url %>" target="_blank">
              <button class= "btn btn-success pull-left">
                Live Preview <i class="fa fa-desktop"></i>
              </button>
            </a>
          <% end %>
          <div class="btn-group button-item-share pull-right">            
            <%= render_shareable :buttons=> ['twitter', 'facebook'], facebook: {:send=> 'true', url: "#{catalog_url(resource)}"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description-catalog">
    <p>
      <%= resource.content.html_safe if resource.content.present? %>
    </p>
    <% resource.galleries.oldest.each_with_index do |resource, index| %>
      <% unless index == 0 %>
        <%= image_tag resource.file.url(:large), class: "full-width image-catalog img-responsive", 'data-toggle' => 'magnify' %>
    		<p><%= resource.try(:description).html_safe if resource.description.present? %></p>
      <% end %>
    <% end %>
	</div>
</div>