<div class="col-md-8">  
  <div class="catalog-item-show">
    <div class="row">
      <h3 align="center">FORM TICKET</h3>
      <hr>
      <div class="col-sm-6">
        <label class="form-group">Name</label>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control', value: "#{current_user.try(:profile).try(:full_name) if current_user}", disabled: true %>
          <%= f.hidden_field :name, value: "#{current_user.try(:profile).try(:full_name) if current_user}" %>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="form-group">Email</label>
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', value: "#{current_user.try(:email) if current_user}", disabled: true %>
          <%= f.hidden_field :email, value: "#{current_user.try(:email) if current_user}" %>
        </div>
      </div>
      <div class="col-sm-12">
        <label class="form-group">Title</label>
        <div class="form-group">
          <%= f.text_field :title, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-sm-4">
        <label class="form-group">Departement</label>
        <div class="form-group">
          <% value_departement = params[:departement].present? ? params[:departement] : '' %>
          <%= f.select :departement, options_for_select(departement, value_departement), 
                        {:prompt=> "Select Departement"}, { class: 'form-control', required: true }%>
        </div>
      </div>
      <div class="col-sm-5">
        <label class="form-group">Related Services</label>
        <div class="form-group">
          <%= f.text_field :problem, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <label class="form-group">Priority</label>
        <div class="form-group">
          <%= f.select :priority, options_for_select(priority), 
                        {:prompt=> "Select Priority"}, { class: 'form-control', required: true }%>
        </div>
      </div>
      
      <div class="col-md-12">   
        <div class="row">
          <div class="form-group">
            <label class="col-sm-12">Put Your Message</label>
            <div class="col-sm-12">
              <%= f.text_area :message, class: 'form-control', style: 'height: 200px', required: true %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 margin-top10">
          <% if current_user %>
            <button type="submit" class="btn btn-lg btn-success full-width">Send Ticket Now</button>
          <% else %>
            <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn btn-lg btn-success full-width"> Send Ticket Now</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>