<div class="col-md-4">
	<% unless current_user %>
		<center>
			<p class="small-font">
				You must <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm"> sign in</a> or 
				<a href="#signup" data-toggle="modal" data-target=".bs-modal-sm2">sign up</a> to purchase this item.
			</p>
		</center>
	<% end %>
	<% if resource.published? %>
		<div class="side-purchase sidebar-show">
			<div class="row">
		    <div class="col-md-12">
		    	<h4 class="pull-left"><strong>PRICE</strong></h4>
		    	<span class="price-lg pull-right"><%= number_to_currency_br(resource.try(:price)) %></span>
		    </div>
		    <div class="col-md-12">
			    <p>To purchase this item please click the order button below, the total price includes the price of the goods and the cost of the buyer. </p>
			    <div>
				    <% if current_user %>
				    	<% unless @check_order.present? %>
				    		<div class="form-order">
						    	<%= form_for @order_item, remote: true do |f| %>
								    <div class="purchase-form__button">
								    	<%= f.hidden_field :catalog_id, value: resource.id %>
										  <%= f.submit "Order Now", class: "btn btn-success btn-lg full-width" %>
										</div>
									<% end %>
								</div>
							<% else %>
								<%= render "layouts/already_order" %>
							<% end %>
						<% else %>
							<a href="#signin" class= "btn btn-success btn-lg full-width" data-toggle="modal" data-target=".bs-modal-sm">
								Order Now
							</a>
						<% end %>
					</div>
			  </div>
			</div>
		</div>
	<% end %>
	<div class="sidebar-show">
		<div class="row">
			<div class="col-md-6">
				<% if current_user %>
					<%= link_to 'Add Favorites <i class="fa fa-heart"></i>'.html_safe, member_favorites_path(catalog_id: resource.id), method: 'post', class: "btn btn-danger full-width" %>
				<% else %>
					<a href="#signin" class= "btn btn-danger full-width" data-toggle="modal" data-target=".bs-modal-sm">
						Add Favorites <i class="fa fa-heart"></i>
					</a>
				<% end %>
			</div>
			<div class="col-md-6">
				<% if current_user %>
					<%= link_to "#{resource.score} Like <i class='fa fa-thumbs-up'></i>".html_safe, like_catalog_path(resource), class: "btn btn-info full-width" %>
				<% else %>
					<a href="#signin" class= "btn btn-info full-width" data-toggle="modal" data-target=".bs-modal-sm">
						<%= resource.score %> Like <i class='fa fa-thumbs-up'></i>
					</a>
				<% end %>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
  	<div class="panel-heading">
  		<h4 class="panel-title">Item Rating</h4>
  	</div>
	  <div class="panel-body">
	  	<div class="col-xs-3 avatar-responsive" style="height: 70px;">
	  		<%= image_tag resource.try(:thumbnail).url(:small) %>
	  	</div>
	  	<div class="col-xs-9">
	  		<%= rating_for resource, "price", star: 5 %>
	  		<span class="small-font pull-left margin-top10">
          <i class="fa fa-eye"></i> <%= resource.impressionist_count %> people have seen
        </span>
	  	</div>
	  </div>
	</div>

  <div class="sidebar-show">
		<div class="row">
			<div class="col-xs-4">
				<%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:small), class: 'full-width' %>
			</div>
			<div class="col-xs-8">
				<h4><%= resource.try(:user).try(:profile).try(:full_name) %></h4>
				<a href="#"><%= resource.try(:user).try(:email) %></a>
			</div>
		  <div class="col-xs-12 margin-top10">
		  	<%= link_to 'View Portfolio', portfolio_path(resource.user.username), class: "btn btn-info full-width" %>
		  </div>
		</div>
	</div>

	<div class="sidebar-show">
		<div class="row">
			<div class="col-xs-12">
		  	<h2 class="margin0"><i class="fa fa-shopping-cart"></i> <%= resource.try(:order_items).try(:verified).size %> Sales </h2>
		  </div>
		</div>
	</div>

	<div class="side-attributes panel panel-default">
	  <div class="panel-body meta-attributes">
	  	<table class="table-item-attributes" cellspacing="0" cellpadding="0" border="0">
	      <tbody>
	        <tr>
	          <td class="meta-attributes__attr-name">Created</td>
	          <td class="meta-attributes__attr-detail"><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
	        </tr>
	        <tr>
	          <td class="meta-attributes__attr-name">Last Update</td>
	          <td class="meta-attributes__attr-detail"><%= resource.try(:updated_at).strftime("%H:%M %B, %d, %Y") %></td>
	        </tr>
	        <% if resource.columns.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">Columns</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= resource.try(:columns) %></a>
		          </td>
		        </tr>
		      <% end %>
		      <% if resource.compatible_browsers.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">Compatible Browsers</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= resource.try(:compatible_browsers) %></a>
		          </td>
		        </tr>
		      <% end %>
		      <% if resource.software_version.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">Software Version</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= resource.try(:software_version) %></a>
		          </td>
		        </tr>
		      <% end %>
		      <% if resource.compatible_with.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">Compatible With</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= resource.try(:compatible_with) %></a>
		          </td>
		        </tr>
		      <% end %>
	        <% if resource.document.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">Documentation</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= resource.try(:document) %></a>
		          </td>
		        </tr>
		      <% end %>
		      <% if resource.high_resolution.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">High Resolution</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= 'Yes' if resource.high_resolution == true %></a>
		          </td>
		        </tr>
		      <% end %>
		      <% if resource.layout.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">Layout</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= resource.try(:layout) %></a>
		          </td>
		        </tr>
		      <% end %>
		      <% if resource.files_included.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">Themeindo Files Included</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= resource.try(:files_included) %></a>
		          </td>
		        </tr>
		      <% end %>
		      <% if resource.widget_ready.present? %>
		        <tr>
		          <td class="meta-attributes__attr-name">Widget Ready</td>
		          <td class="meta-attributes__attr-detail">
		            <a href="#"><%= 'Yes' if resource.widget_ready == true %></a>
		          </td>
		        </tr>
		      <% end %>
		      <% if resource.tags.present? %>
	          <tr>
	            <td class="meta-attributes__attr-name">Tags</td>
	            <td class="meta-attributes__attr-detail">
	              <a href="#"><%= resource.try(:tags) %></a>
	            </td>
	          </tr>
	        <% end %>
	      </tbody>
	    </table>
	  </div>
	</div>
</div>