<div class="col-md-12">
	<h1 class="section-main-title">
		<%= resource.try(:title).titleize %>
	</h1>
	<center>
		<span class="span14">
			<i class="fa fa-tags"></i> 
			<%= resource.try(:catalog_category_root).try(:name).titleize %>, 
			<%= resource.try(:catalog_category_child).try(:name).titleize %>
		</span>
	</center>
</div>
<div class="col-md-4 margin-top10">
	<div class="tab-item-show">
	  <%= link_to 'Item Details', catalog_path(resource), class: "#{active_sidebar?(:catalogs, :show)}" %>
	  <%= link_to 'Comments', comments_catalog_path(resource), class: "#{active_sidebar?(:catalogs, :comments)}" %>
	  <%= link_to 'Supports', support_catalog_path(resource), class: "#{active_sidebar?(:catalogs, :support, :ticket)}" %>
	</div>
</div>