<%= render "shareds/top_menu" %>

<section class="section-header-show for-catalog-show">
	<div class="container">
		<%= render "shareds/breadcrumb" %>
		<%= render "top_bar" %>
	</div>
</section>

<section>
	<div class="container">
	  <div class="row">
	  	<div class="col-md-12">
		    <%= render "comments" %>
		    <%= render "side_right" %>
	    </div>
	  </div>
	</div>
</section>

<%= render "shareds/footer" %>