<%= render "shareds/top_menu" %>

<section class="section-header-show">
	<div class="container">
		<%= render "shareds/breadcrumb" %>
		<%= render "shareds/catalogs/top_bar" %>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
	  	<%= render "shareds/catalogs/side_left_catalogs" %>
	    <%= render "shareds/catalogs/list" %>
	  </div>
	</div>
</section>

<%= render "shareds/footer" %>