<%= render "shareds/top_menu" %>

<section class="section-header-show for-catalog-show">
	<div class="container">
		<%= render "shareds/breadcrumb" %>
		<%= render "top_bar" %>
	</div>
</section>

<section>
	<div class="container">
	  <div class="row">
	  	<div class="col-md-12">
	  		<% cache ["show_catalog_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
		    	<%= render "description" %>
		    <% end %>
		    <%= render "side_right" %>
		  </div>
	  </div>
	</div>
</section>

<%= render "shareds/footer" %>
