<div class="control-group">
  <label class="control-label">Set Featured</label>
  <div class="controls">
    <%= f.check_box :featured, class: 'span1' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Status Publish</label>
  <div class="controls">
    <%= f.check_box :status, class: 'span1' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Catalog Type</label>
  <div class="controls">
    <%= f.select :catalog_type, options_for_select(catalog_type, @catalog.catalog_type), 
                  {:prompt=> "Select Type "}, { class: 'form-control' }%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Category</label>
  <div class="controls">
    <%= f.collection_select(:catalog_category_id, CatalogCategory.arrange_as_array({:order => 'name'}), 
                            :id, :name_for_selects, {:prompt=> "Select Upline "}, {class: "form-control"})%>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'span7' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Content</label>
  <div class="controls">
    <%= f.text_area :content, class: 'span7 height-160' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Price</label>
  <div class="controls">
    <%= f.number_field :price, class: 'span2' %> 
  </div>
</div>

<%= render partial: 'form_feature', locals: {f: f} %>

<div class="row-fluid margin-top20">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <i class="icon-bookmark"></i> 
      <h5>Demo URL</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
          <label class="control-label">URL</label>
          <div class="controls">
            <%= f.text_field :demo_url, class: 'span12', placeholder: 'http://...' %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'form_gallery', locals: {f: f} %>