<% @user = resource.try(:user) %>
<% @profile = @user.try(:profile) %>
<% @address = @profile.try(:address) %>
<%= render partial: "backend/shareds/prepare_table", 
              locals: {table_name: 'Orders', button_name: 'Orders', add_method: true } %>
  <div class="head-single-title text-center">
    <h3>
      <div class="float-left">Invoice Order Items <%= resource.try(:code) %></div>
      <%= form_for :order, url: change_order_status_backend_order_path, method: 'put', html: {class: 'float-right'} do |f| %>
        <button class="btn float-right margin-right10" type="submit">Save</button>
        <%= f.select :order_status_id, options_for_select(OrderStatus.to_a, resource.order_status_id), {prompt: 'Select Status', class: 'float-right'} %>
      <% end %>
    </h3>
  </div>
  <div class="head-single-title">
    <div class="username-order span4">
      <h3>Account Member</h3>
      <h4><%= @profile.try(:full_name) %></h4>
      <p><i class="icon-mobile-phone"></i> <%= @profile.try(:phone) %></p>
      <a href="mailto:<%= @user.email %>"><i class="icon-envelope"></i> <%= @user.email %></a>
      <p><i class="icon-time"></i> <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></p>
    </div>
    <div class="span4 pull-right">
      <p><b>Transaction id:</b> <%= resource.try(:transaction_id) %></p>
      <p><b>PayerID:</b> <%= resource.try(:payerID) %></p>
      <p><b>Payer Name:</b> <%= resource.try(:payer_name) %></p>
      <p><b>Payer Email:</b> <a href="mailto:<%= resource.try(:payer_email) %>"> <%= resource.try(:payer_email) %></a></p>
      <p><b>Payer Address:</b> <%= resource.try(:payer_address) %></p>
      <p><b>Payer Date:</b> <%= resource.try(:purchased_at).strftime("%H:%M %B, %d, %Y") if resource.purchased_at %></p>
    </div>
  </div>
  <div class="widget-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Ordered at</th>
          <th>
            <span class="float-right">
              Item Price
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% resource.order_items.each do |order_item| %>
          <tr>
            <td><%= link_to "#{order_item.catalog.title}", catalog_path(order_item.catalog.slug) %></td>
            <td>
              <%= order_item.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
            </td>
            <td>
              <span class="float-right"><%= number_to_currency_br(order_item.total_price) %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row-fluid admin-total">
      <div class="admin-total-price"><h4>TOTAL</h4></div>
      <div class="admin-total-number">
        <h4 align="right"><%=  number_to_currency_br(resource.total) %></h4>
      </div>
    </div>
  </div>
</div>