<div class="row-fluid">
  <div class="widget span12" style="overflow:visible;">
    <a class="btn btn-box bubble bubble-danger span2 tips" data-title="bubble-danger" href="#" data-bubble="5k">
    	<i class="icon-user"></i><span>Users</span>
    </a>
    <a class="btn btn-box span2" href="#">
    	<i class="icon-plus-sign"></i><span>Notifications</span>
    </a>
    <a class="btn btn-box span2" href="#">
    	<i class="icon-calendar"></i><span>Calendar</span>
    </a>
    <a class="btn btn-box bubble bubble-info span2 tips" data-title="bubble-info" href="#" data-bubble="2">
    	<i class="icon-signal"></i><span>Analytics</span>
    </a>
    <a class="btn btn-box span2" href="#" data-bubble="2">
    	<i class="icon-lightbulb"></i><span>Tickets</span>
    </a>
    <a class="btn btn-box bubble bubble-success span2 tips" data-title="bubble-success" href="#" data-bubble="102">
    	<i class="icon-sitemap"></i><span>Categories</span>
    </a>
  </div>
</div>