<div class="row-fluid">
  <div class="widget span6">
    <div class="widget-header"><i class="icon-signal"></i><h5>Bar Chart</h5>
    <div class="widget-buttons">
        <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
    </div>
    </div>
    <div class="widget-body clearfix">
      <div class="analytics_item" id="barchart"></div>
    </div>
  </div>
  <div class="widget span3">
    <div class="widget-header">
      <i class="icon-signal"></i><h5>Browsers</h5>
      <div class="widget-buttons">
        <a href="javascript:void(0)" class="collapse" data-collapsed="false">
          <i data-title="Collapse" class="icon-chevron-up"></i>
        </a>
      </div>
    </div>
    <div class="widget-header-under">The preferred browsers of your users</div>
    <div class="widget-body clearfix" style="min-height: 319px;">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Browser</th>
              <th>Visits</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Firefox</td>
            <td><strong>5798</strong></td>
          </tr>
          <tr>
            <td>Chrome</td>
            <td><strong>4855</strong></td>
          </tr>
          <tr>
            <td>Internet Explorer</td>
            <td><strong>2877</strong></td>
          </tr>
          <tr>
            <td>Safari</td>
            <td><strong>2705</strong></td>
          </tr>
          <tr>
            <td>Opera</td>
            <td><strong>1985</strong></td>
          </tr>
          <tr>
            <td>Android Browser</td>
            <td><strong>1581</strong></td>
          </tr>
          <tr>
            <td>RockMelt</td>
            <td><strong>1284</strong></td>
          </tr>
        </tbody>      
      </table>
    </div>
  </div>
  <div class="widget span3">
    <div class="widget-header"><i class="icon-signal"></i><h5>Most active pages</h5>
      <div class="widget-buttons">
        <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="widget-header-under">The most visited pages by your users</div>
    <div class="widget-body clearfix" style="min-height: 319px;">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Page</th>
              <th>Visits</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Categories</td>
            <td><strong>8790</strong></td>
          </tr>
          <tr>
            <td>Clothing</td>
            <td><strong>7052</strong></td>
          </tr>
          <tr>
            <td>About</td>
            <td><strong>6577</strong></td>
          </tr>
          <tr>
            <td>Contact Us</td>
            <td><strong>5760</strong></td>
          </tr>
          <tr>
            <td>Blog</td>
            <td><strong>4876</strong></td>
          </tr>
          <tr>
            <td>Prices</td>
            <td><strong>3866</strong></td>
          </tr>
          <tr>
            <td>Information</td>
            <td><strong>1876</strong></td>
          </tr>
        </tbody>      
      </table>
    </div>
  </div>
</div>