<div class="row-fluid">
  <div class="overview_boxes">
    <div class="box_row clearfix">
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#E28271" class="icon-eye-open"></i>
              <p style="color:#E28271">+85%</p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="85">   
            </div>
            <p><strong>+530</strong>Visits this month</p>
          </a>
        </div>
      </div>
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#98E5EA" class="icon-user"></i>
              <p style="color:#98E5EA"><%= @latest_members.size %></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= @latest_members.size %>">   
            </div>
            <p><strong><%= @latest_members.size %></strong>Members</p>

          </a>
        </div>
      </div>
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#AEEA98" class="icon-bullhorn"></i>
              <p style="color:#AEEA98"><%= @checked_tickets.size %></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= @checked_tickets.size %>">   
            </div>
            <p><strong><%= @checked_tickets.size %>/<%= @root_tickets.size %></strong>Finished Tickets</p>
          </a>
        </div>
      </div>
    </div> 
    <div class="box_row clearfix">
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#98AEEA" class="icon-thumbs-up"></i>
              <p style="color:#98AEEA"></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= @verify_latest_oder.sum(:total) %>">   
            </div>
            <p><strong><%= number_to_currency_br(@verify_latest_oder.sum(:total)) %></strong>Income In Orders</p>
          </a>
        </div>
      </div>
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#EA98AB" class="icon-credit-card"></i>
              <p style="color:#EA98AB"><%= @verify_latest_catalogs.size %></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= @verify_latest_catalogs.size %>">   
            </div>
            <p>
              <strong><%= @verify_latest_catalogs.size %>/<%= @unverify_latest_catalogs.size %></strong>
              Catalog Items
            </p>
          </a>
        </div>
      </div>
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#example_modal2">
            <div class="white">
              <i style="color:#F6BF99" class="icon-phone"></i>
              <p style="color:#F6BF99"><%= @verify_latest_oder.size %></p>
            </div>
            <div class="widget">
              <input class="knob" data-width="120" data-height="120" data-displayInput=false data-readOnly=true data-thickness=".15" value="<%= @verify_latest_oder.size %>">   
            </div>
            <p><strong><%= @verify_latest_oder.size %>/<%= @unverify_latest_oder.size %> </strong>Invoice Orders</p>
          </a>
        </div>
      </div>
    </div> 
  </div>
</div>