<div class="row-fluid">
  <div class="widget widget-padding span4">
    <div class="widget-header">
      <i class="icon-circle"></i>
      <h5>Quick Buttons</h5>
      <div class="widget-buttons">
          <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="widget-body" style="min-height: 170px;">
      <div class="row-fluid" style="margin-bottom:15px;">
        <a class="btn btn-small btn-box bubble bubble-info span4 tips" href="#" data-title="bubble-info" data-bubble="7k"><i class="icon-thumbs-up"></i><span>Likes</span></a>
        <a class="btn btn-small btn-box bubble bubble-info span4 tips" href="#" data-title="bubble-info" data-bubble="10"><i class="icon-twitter"></i><span>Tweets</span></a>
        <a class="btn btn-small btn-box span4 " href="#"><i class="icon-money"></i><span>Finance</span></a>
      </div><!-- /row-fluid -->
      <div class="row-fluid">
        <a class="btn btn-small btn-box bubble bubble-warning span4 tips" href="#" data-title="bubble-warning" data-bubble="5" style="margin-bottom:0;"><i class="icon-globe"></i><span>Region</span></a>
        <a class="btn btn-small btn-box span4 tips" href="#" data-title="" style="margin-bottom:0;"><i class="icon-search"></i><span>Search</span></a>
        <a class="btn btn-small btn-box span4 tips" href="#" data-title="" style="margin-bottom:0;"><i class="icon-cogs"></i><span>Settings</span></a>
      </div><!-- /row-fluid -->

    </div><!-- /widget-body -->
  </div><!-- /widget -->
 
  <div class="widget widget-padding span8">
    <div class="widget-header">
      <i class="icon-bar-chart"></i>
      <h5>Employee Task Status</h5>
      <div class="widget-buttons">
          <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="widget-body clearfix" style="height: 170px;" id="widget-tasks">
      <div class="widget-tasks-statistics">
        <div class="userstats clearfix" style="margin-top: 25px;">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#task_modal">
            <img src="assets/avatars/07.jpg" class="image">
            <div class="widget">
              <input class="knob" data-width="75" data-height="75" data-displayInput=false data-readOnly=true data-thickness=".3" value="85">   
            </div>
            <p>Fernando</p>
          </a>
        </div>
        <div class="userstats clearfix">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#task_modal">
            <img src="assets/avatars/08.jpg" class="image">
            <div class="widget">
              <input class="knob" data-width="75" data-height="75" data-displayInput=false data-readOnly=true data-thickness=".3" value="55">      
            </div>
            <p>Milagros</p>
          </a>
        </div>
        <div class="userstats clearfix">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#task_modal">
            <img src="assets/avatars/09.jpg" class="image">
            <div class="widget">
              <input class="knob" data-width="75" data-height="75" data-displayInput=false data-readOnly=true data-thickness=".3" value="25">      
            </div>
            <p>Lilia</p>
          </a>
        </div>
        <div class="userstats clearfix">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#task_modal">
            <img src="assets/avatars/10.jpg" class="image">
            <div class="widget">
              <input class="knob" data-width="75" data-height="75" data-displayInput=false data-readOnly=true data-thickness=".3" value="15">      
            </div>
            <p>Cody</p>
          </a>
        </div>
        <div class="userstats clearfix">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#task_modal">
            <img src="assets/avatars/11.jpg" class="image">
            <div class="widget">
              <input class="knob" data-width="75" data-height="75" data-displayInput=false data-readOnly=true data-thickness=".3" value="10">      
            </div>
            <p>John</p>
          </a>
        </div>
        <div class="userstats clearfix">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#task_modal">
            <img src="assets/avatars/12.jpg" class="image">
            <div class="widget">
              <input class="knob" data-width="75" data-height="75" data-displayInput=false data-readOnly=true data-thickness=".3" value="9">      
            </div>
            <p>Bryan</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>