<div class="col-md-12 margin-top10">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <div class="panel-title">Catalog Feature</div>
	  </div>     
	  <div class="panel-body">
	  	<div class="row">
	  		<div class="col-md-6">
		  		<div class="form-group">
					  <label class="col-sm-12">Layout Type</label>
					  <div class="col-sm-12">
					    <%= f.select :layout_type, options_for_select(layout_type, @catalog.layout_type), 
					                  {:prompt=> "Select Type "}, { class: 'form-control', required: true }%>
					  </div>
					</div>
				</div>
			  <div class="col-md-6">
			  	<div class="form-group">
					  <label class="col-sm-12">Columns</label>
					  <div class="col-sm-12">
					   	<%= f.text_field :columns, class: 'form-control' %>
					  </div>
					</div>
			  </div> 
			  <div class="col-md-6">
			  	<div class="form-group">
					  <label class="col-sm-12">Layout</label>
					  <div class="col-sm-12">
					   	<%= f.text_field :layout, class: 'form-control' %>
					  </div>
					</div>
			  </div>
			  <div class="col-md-6">
			  	<div class="form-group">
					  <label class="col-sm-12">Compatible Browsers</label>
					  <div class="col-sm-12">
					   	<%= f.text_field :compatible_browsers, class: 'form-control' %>
					  </div>
					</div>
			  </div> 
			  <div class="col-md-6">
			  	<div class="form-group">
					  <label class="col-sm-12">Compatible With</label>
					  <div class="col-sm-12">
					   	<%= f.text_field :compatible_with, class: 'form-control' %>
					  </div>
					</div>
			  </div> 
			  <div class="col-md-6">
			  	<div class="form-group">
					  <label class="col-sm-12">Software Version</label>
					  <div class="col-sm-12">
					   	<%= f.text_field :software_version, class: 'form-control' %>
					  </div>
					</div>
			  </div>
			  <div class="col-md-6">
			  	<div class="form-group">
					  <label class="col-sm-12">Document</label>
					  <div class="col-sm-12">
					   	<%= f.text_field :document, class: 'form-control' %>
					  </div>
					</div>
			  </div> 
			  <div class="col-md-6">
			  	<div class="form-group">
					  <label class="col-sm-12">Files Included</label>
					  <div class="col-sm-12">
					   	<%= f.text_field :files_included, class: 'form-control' %>
					  </div>
					</div>
			  </div> 
			  <div class="col-md-6">
			  	<div class="form-group">
					  <label class="col-sm-12">Tags</label>
					  <div class="col-sm-12">
					   	<%= f.text_field :tags, class: 'form-control' %>
					  </div>
					</div>
			  </div> 
			  <div class="col-md-6">
			  	<div class="col-md-6">
				  	<div class="form-group">
					   	<%= f.check_box :widget_ready %> 
						  <label>Widget Ready</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					   	<%= f.check_box :high_resolution %> 
						  <label>High Resolution</label>
						</div>
					</div>
			  </div>
			</div>
		</div>                    
	</div>
</div>