<% if f.object.catalog_category_type_id.present? %>
  <% id = resource.catalog_category_type_id %>
  <% catalog_category_child ||= catalog_category_child(id).try(:children)  %>
<% else %>
  <% catalog_category_child ||= [] %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Catalog Feature</div>
  </div>     
  <div class="panel-body margin-top20">
    <div class="row">
      <!-- <div class="form-group">
        <label class="col-sm-2">Catalog Type</label>
        <div class="col-sm-10">
          <%#= f.select :catalog_type, options_for_select(catalog_type, @catalog.catalog_type), 
                        {:prompt=> "Select Type "}, { class: 'form-control', required: true}%>
        </div>
      </div> -->

      <div class="form-group">
        <label class="col-sm-2">Category Type</label>
        <div class="col-sm-10">
          <%= f.collection_select(:catalog_category_type_id, catalog_category_root, 
                                  :id, :name_for_selects, {:prompt=> "Select Category Type "}, 
                                  {class: "form-control", id: 'root_category', required: true, 
                                  data: {url: catalog_category_child_path}}) %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Category</label>
        <div class="col-sm-10">
          <%= select_tag('catalog_category_id', options_for_select(catalog_category_child.map{|c| [c.name, c.id]}, 
                    f.object.catalog_category_id), {prompt: "Select Category ", class: "form-control", id: 'child_category',required: true,}) %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Title</label>
        <div class="col-sm-10">
         	<%= f.text_field :title, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Thumbnail</label>
        <div class="col-sm-2">
          <div class="photo-thumb">
            <%= image_tag f.object.thumbnail.url(:small) %>
          </div>
          <%= f.file_field :thumbnail %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Content</label>
        <div class="col-sm-10">
          <%= f.cktext_area :content, ckeditor: {uiColor: '#AADC6E', toolbar: 'mini'} %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Price</label>
        <div class="col-sm-3">
         	<%= f.number_field :price, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2">Upload File</label>
        <div class="col-sm-3">
          <% if resource.file_catalog.present? %>
            <%= link_to document_download_member_catalog_path(code: resource.code) do %>
              <%= resource.file_catalog_file_name %>
            <% end %><br>
          <% end %>
          <%= f.file_field :file_catalog, class: 'form-control' %>
        </div>
      </div>

      <%= render partial: 'form_feature', locals: {f: f} %>

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">Demo</div>
          </div>     
          <div style="padding-top:30px" class="panel-body">
            <div class="row">
              <div class="form-group">
                <label class="col-sm-12">Demo URL</label>
                <div class="col-sm-12">
                  <%= f.text_field :demo_url, class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render partial: 'form_gallery', locals: {f: f} %>

      <div class="form-group">
        <div class="col-sm-12 margin-top10">
          <button type="submit" class="btn btn-lg btn-success full-width">Save Item</button>
        </div>
      </div>
    </div>
  </div>
</div>
