<div class="col-sm-12">
	<%= f.fields_for :galleries do |g| %>
	  <%= render 'gallery_fields', f: g %>
	<% end %>
	    
	<div class="links">
		<%= link_to_add_association 'Add Page', f, :galleries, partial: 'gallery_fields', class: "btn btn-info float-right" %>
	</div>
</div>