<div class="panel panel-default nested-fields">
  <div class="panel-heading">
    <div class="panel-title">
    	<%= f.object.title %>
    	<%= link_to_remove_association "<i class='fa fa-times'></i> Remove".html_safe, f , class: 'float-right btn btn-info btn-xs' %>
    </div>
  </div>     
  <div class="panel-body">
		<div class="row">  
			<div class="form-group">
			  <div class="col-sm-3">
			  	<div class="gallery-capture">
			  		<%= image_tag f.object.file.url(:small), class: 'full-width' %>
			  	</div>
			  	<%= f.file_field :file%>
			  </div>
			  <div class="col-sm-9">
			  	<div class="row">
			  		<div class="col-sm-2">
			  			<div class="form-group">
						  	<label>Position</label>
						   	<%= f.number_field :position, class: 'form-control', required: true %>
						  </div>
			  		</div>
			  		<div class="col-sm-10">
			  			<div class="form-group">
						  	<label>Title</label>
						   	<%= f.text_field :title, class: 'form-control', required: true %>
						  </div>
			  		</div>
			  	</div>
				  <div class="form-group">
				  	<label>Description</label>
				   	<%= f.text_area :description, class: 'form-control' %>
				  </div>
			  </div>
			</div>
		</div>
	</div>
</div>
  
