<div class="col-md-8">
  <%= form_for :search, url: member_catalogs_path, method: 'get' do |f| %>
    <div class="catalog-item-show">
      <div class="input-group">
        <%= render partial: "shareds/form_top_search", locals: {f: f} %>
      </div>
    </div>
  <% end %>
  <%= form_tag "#{collection_path}/action_multiple", method: 'post' do %>
    <%= render partial: "backend/shareds/prepare_table_member",
                    locals: {table_name: 'Catalogs', button_name: 'Catalogs', add_method: true } %>
    <div id="property-listings">
      <% if @collection.present? %>
        <% @collection.each do |resource| %>
          <div class="list-catalogs">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="item-catalog" data-toggle="popover" title="<%= truncate(strip_tags(resource.title.to_s), length: 40, omission: ' ...') %>">
                        <div class="tooltips-content">
                          <div class="tooltips-image">
                            <%= image_tag resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:small) %>
                          </div>
                          <div class="tooltips-desc">
                            <%= rating_for resource, "price", :star => 5 %>
                          </div>
                          <span class="tooltips-tag">
                            <%= resource.try(:catalog_category_root).try(:name).titleize %>,
                            <%= resource.try(:catalog_category_child).try(:name).titleize %>
                          </span>
                          <span class="tooltips-price"><%= number_to_currency_br(resource.try(:price)) %></span>
                        </div>
                        <%= link_to catalog_path(resource), class: "po-image" do %>
                          <%= image_tag resource.try(:thumbnail).url(:small) %>
                        <% end %>
                      </div>
                      <div class="checkbox-setting">
                        <%= check_box_tag "ids[]", resource.id %>
                      </div>
                    </div>
                    <div class="col-xs-8">
                      <h5>
                        <%= link_to catalog_path(resource) do %>
                          <%= resource.title.to_s %>
                        <% end %>
                      </h5>
                      <span class="list-date">Last Updated: <%= time_ago_in_words(resource.updated_at) %></span>
                      <span class="price-list">
                        <%= rating_for resource, "price", :star => 5 %>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <%= resource.status? %>
                  <p>Category <span><%= resource.try(:catalog_category_root).try(:name).titleize %></span> / <span><%= resource.try(:catalog_category_child).try(:name).titleize %></span>
                  </p>
                  <center>
                    <span class="fa big-font fa-shopping-cart"></span>
                    <br>
                    <span class="small-font"><%= resource.try(:order_items).try(:verified).size %> Sales</span>
                  </center>
                </div>
                <div class="col-md-3">
                  <center>
                    <span class="price-grid-list">
                      <%= number_to_currency_br(resource.try(:price)) %>
                    </span>
                    <br><br>
                    <div class="action-catalog-list btn-group">
                      <%= link_to like_catalog_path(resource), class: "btn btn-info", 'data-toggle' => "tooltip", title: "#{resource.score} people like this item" do %>
                        <i class="fa fa-thumbs-up"></i> <%= resource.score %>
                      <% end %>
                      <span class="btn btn-success" data-toggle="tooltip" title="<%= resource.impressionist_count %> people have seen this item">
                        <i class="fa fa-eye"></i> <%= resource.impressionist_count %>
                      </span>
                      <%= link_to edit_resource_path(resource), class: "btn btn-danger",'data-toggle' => "tooltip", title: "Edit" do %>
                        <i class="fa fa-wrench"></i>
                      <% end %>
                    </div>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <%= paginate @collection %>
          </div>
        </div>
      <% else %>
        <p class="p-error">Data is still empty!</p>
      <% end %>
    </div>
  <% end %>
</div>
