<div class="col-md-8 main">
  <h2>
    <div class="row">
      <div class="col-md-7">
        Inbox Messages
      </div>
    </div>
  </h2>
  <div class="catalog-item-show">
    <div class="table-responsive">
      <% if @collection.present? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Status</th>
              <th>Subject Reply</th>
              <th>Sent At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @collection.each do |resource| %>
              <tr>
                <td>
                  <%= resource.status? %>
                </td>
                <td>
                  <b>from: <a href="mailto:<%= resource.user.email %>" class="btn-xs btn-info"><%= resource.user.email %></a></b><br>
                  <%= link_to resource_path(resource) do %>
                    <%= resource.subject %>
                  <% end %>
                </td>
                <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") if resource.try(:created_at).present? %></td>
                <th>
                  <%= link_to resource_path(resource) do %>
                    <div class="btn btn-success btn-xs">
                      Show
                    </div>
                  <% end %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @collection %>
      <% else %>
        <p class="p-error">Data is still empty!</p>
      <% end %>
    </div>
  </div>
</div>
