<% ticket = resource.try(:ticket) %>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">
            <strong>Ticket <%= ticket.try(:code) %></strong>
          </h3>
        </div>
        <div class="panel-body">
          <div class="ticket-body">
            <div class="row">
              <div class="col-xs-12 ticket-header">
                <span><b>Subject</b>: <%= ticket.try(:title) %></span>
                <br>
                <div class="label-group-status">
                  <%= ticket.priority? %>
                  <span class="label label-default"><%= ticket.try(:departement) %></span>
                  <span class="label label-success"><%= ticket.try(:problem) %></span>
                  <%= ticket.status? %>
                </div>
              </div>
            </diV>
            <div class="row">
              <div class="col-md-2">
                <div class="photo-thumb pull-left">
                  <%= image_tag ticket.try(:user).try(:profile).try(:avatar).url(:small), class: "full-width" %>
                </div>
              </div>
              <div class="col-md-10">
                <span>
                  <a href="mailto:<%= ticket.try(:email) %>"><%= ticket.try(:name) %></a>
                </span>
                <br>
                <p>
                 <%= ticket.try(:message).html_safe %>
                </p>
                <div class="small clear-both text-right">
                  <i class="fa fa-calendar"></i>
                  <%= ticket.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="catalog-item-show float-left">
                <div class="row">
                  <div class="col-md-2 photo-thumb">
                    <%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:small), class: 'full-width' %>
                  </div>
                  <div class="col-md-10">
                    <span>
                      <a href="mailto:<%= resource.try(:user).try(:email) %>"><%= resource.try(:user).try(:username) %></a>
                    <span>
                    <br>
                    <span class="message-body-subject">Subject: <strong><%= resource.subject %></strong></span>
                    <br>
                    <p>
                      <%= resource.message %>
                    </p>
                    <div class="small clear-both text-right">
                      <i class="fa fa-calendar"></i>
                      <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>