<div class="row-fluid">
  <%= render 'backend/shareds/breadcrumb' %>
  <h2 class="heading">
    <%= table_name %>
    <div class="btn-group pull-right">
      <%= link_to new_resource_path do %>
        <span class="btn"><i class="icon-pencil"></i> Create New</span>
      <% end %>
      <%= link_to collection_path do %>
        <span class="btn"><i class="icon-list-alt"></i> List</span>
      <% end %>
      <% if params[:controller] == 'backend/catalogs' %>
        <button type="submit" class="btn btn-sm btn-primary pull-right" name="commit" value="Send Subscribe">
          <i class="icon-envelope"></i> Send Email Subscribe Promo
        </button>
        <button type="submit" class="btn btn-sm btn-success pull-right" name="commit" value="Verified">
          <i class="icon-ok"></i> Verified Selected
        </button>
        <%= link_to collection_path(format: "xls") do %>
          <div class="btn btn-sm btn-info pull-right">
            <i class="icon-bookmark"></i> Export
          </div>
        <% end %>
      <% end %>
      <button type="submit" class="btn" name="commit" value="Deleted">
        <i class="icon-trash"></i> Delete Selected
      </button>
    </div>
  </h2>
</div>

<div class="widget widget-padding">
  <div class="widget-header">
    <i class="icon-list-alt"></i>
    <h5><%= table_name %></h5>
    <div class="widget-buttons">
      <a href="#" data-title="Collapse" data-collapsed="false" class="collapse">
        <i class="icon-chevron-up"></i>
      </a>
    </div>
  </div>