<div class="btn-group">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
  	Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
    <% if params[:controller] == 'backend/tickets' || params[:controller] == 'backend/orders'  %>
      <li>
        <%= link_to resource_path(resource) do %>
          <i class="icon-eye-open"></i> Show
        <% end %>
      </li>
    <% end %>

    <% unless params[:controller] == 'backend/tickets' || params[:controller] == 'backend/orders' %>
      <li>
      	<%= link_to edit_resource_path(resource) do %>
      		<i class="icon-edit"></i> Edit
      	<% end %>
      </li>
      <li>
      	<%= link_to resource_path(resource), method: 'delete', data: {confirm: confirmation} do %>
      		<i class="icon-trash"></i> Delete
      	<% end %>
      </li>
    <% end %>
  </ul>
</div>