<h2 class="margin-top0">
  <div class="row">
    <div class="col-md-4">
      <%= table_name %>
    </div>
    <div class="col-md-8">
      <div class="btn-group float-right">
        <% if params[:controller] == 'member/catalogs' %>
          <button type="submit" class="btn btn-sm btn-primary" name="commit" value="Send Subscribe">
            <i class="fa fa-envelope-o"></i> Send Email Subscribe Promo
          </button>
        <% end %>
        <% unless params[:controller] == 'member/tickets' || params[:controller] == 'member/catalogs' %>
          <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete selected</button>
        <% end %>
        <%= link_to new_resource_path, class: "btn btn-info btn-sm" do %> 
          <i class="fa fa-plus-circle"></i> <%= table_name %> New
        <% end %>
      </div>
    </div>
  </div>
</h2>