<div class="sidebar-nav nav-collapse collapse">
  <div class="user_side clearfix">
    <%= image_tag current_user.try(:profile).try(:avatar).url(:small) %>
    <h5><%= current_user.username %></h5>
    <%= link_to edit_backend_admin_path(current_user) do %>
      <i class="icon-cog"></i> Settings
    <% end %>  
  </div>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to backend_home_path, class: "accordion-toggle b_F79999" do %>
          <i class="icon-dashboard"></i> Dashboard
        <% end %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"><i class="icon-group"></i> Users Managements</a>
      </div>
      <div id="collapse1" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= link_to backend_admins_path, class: "accordion-toggle #{active_sidebar?(:admins, :all)}" do %>
            <i class="icon-file-alt"></i> Admins
          <% end %>
          <%= link_to backend_members_path, class: "accordion-toggle #{active_sidebar?(:members, :all)}" do %>
            <i class="icon-file-alt"></i> Members
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-bookmark"></i> Catalogs</a>
      </div>
      <div id="collapse2" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= link_to new_backend_catalog_path, class: "accordion-toggle #{active_sidebar?(:catalogs, :new)}" do %>
            <i class=" icon-pencil"></i> Create New
          <% end %>
          <%= link_to backend_catalogs_path, class: "accordion-toggle #{active_sidebar?(:catalogs, :all)}" do %>
            <i class="icon-file-alt"></i> List Catalogs
          <% end %>
          <%= link_to backend_catalog_categories_path, class: "accordion-toggle #{active_sidebar?(:catalog_categories, :all)}" do %>
            <i class="icon-file-alt"></i> List Categories
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to backend_orders_path, class: "accordion-toggle b_F5C294 #{active_sidebar?(:orders, :all)}" do %>
          <i class=" icon-list-alt"></i> Invoice Order
        <% end %>
      </div>
    </div>  
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to backend_tickets_path, class: "accordion-toggle b_F5C294 #{active_sidebar?(:tickets, :all)}" do %>
          <i class="icon-credit-card"></i> Tickets
        <% end %>
      </div>
    </div>  
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to backend_comments_path, class: "accordion-toggle b_F5C294 #{active_sidebar?(:comments, :all)}" do %>
          <i class="icon-comments"></i> Comments
        <% end %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to backend_subscribes_path, class: "accordion-toggle b_F5C294 #{active_sidebar?(:subscribes, :all)}" do %>
          <i class="icon-user"></i> Subscribes
        <% end %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse3">
          <i class="icon-file-alt"></i> Landing Pages
        </a>
      </div>
      <div id="collapse3" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= link_to new_backend_landing_page_path, class: "accordion-toggle #{active_sidebar?(:landing_pages, :new)}" do %>
            <i class=" icon-pencil"></i> Create New
          <% end %>
          <%= link_to backend_landing_pages_path, class: "accordion-toggle #{active_sidebar?(:landing_pages, :all)}" do %>
            <i class="icon-file-alt"></i> List Landing Pages
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to backend_web_settings_path, class: "accordion-toggle b_F5C294 #{active_sidebar?(:web_settings, :all)}" do %>
          <i class="icon-cogs"></i> Settings
        <% end %>
      </div>
    </div>      
  </div>
</div>
<!-- /Side menu -->