<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="logo"> 
        <%= link_to backend_home_path do %>
          <%= image_tag @setting.logo.url(:small), style: "height: 35px;" %>
        <% end %>
      </div>
       <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
       <a class="btn btn-navbar slide_menu_left visible-tablet">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="top-menu visible-desktop">
        <ul class="pull-left">
          <li>
            <a id="messages" data-notification="<%= @latest_tickets.size %>" href="#">
              <i class="icon-envelope"></i> Tickets</a>
            </li>
          <li>
            <a id="notifications" data-notification="<%= @latest_comments.size %>" href="#">
              <i class="icon-globe"></i> Notifications
            </a>
          </li>
        </ul>
        <ul class="pull-right">
          <li>
            <%= link_to '<i class="icon-wrench"></i>Settings'.html_safe, edit_backend_admin_path(current_user) %>
          </li>
          <li>
            <%= link_to '<i class="icon-off"></i>LogOut'.html_safe, destroy_user_session_path, method: 'delete' %></a>
          </li>
        </ul>
      </div>

      <div class="top-menu visible-phone visible-tablet">
        <ul class="pull-right">  
          <li>
            <a title="link to View all Messages page, no popover in phone view or tablet" href="#">
              <i class="icon-envelope"></i>
            </a>
          </li>
          <li>
            <a title="link to View all Notifications page, no popover in phone view or tablet" href="#">
              <i class="icon-globe"></i>
            </a>
          </li>
          <li><a href="login.html"><i class="icon-off"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>