<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Email Template - Classic</title>
    <style type="text/css">
      a:hover { text-decoration: underline !important; }
    </style>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <table bgcolor="#E5EFF6" cellspacing="0" border="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td valign="middle" align="center" height="45">
                  <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px; margin-bottom:20px; margin-top:20px">
                    The items you already set featured item by the team themeindo.net, can check more details thanks!
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" width="493" bgcolor="#384452">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18"></td>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td>
                            <img src="<%= @logo %>" style="padding-left:30px; height:60px" alt="logo themeindo">
                          </td>
                        </tr>
                        <tr>
                          <td height="40">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table bgcolor="#ffffff" cellspacing="0" border="0" align="center" cellpadding="30" width="684">
            <tr>
              <td>
                <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                  <tr>
                    <td>
                      <table cellspacing="0" border="0" cellpadding="0" width="100%">
                        <tr>
                          <td valign="top" align="center">
                            <%= image_tag @catalog.galleries.first.file.url(:large), style: "border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; margin-bottom: 40px; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;", width: "622", alt: 'logo themeindo' %>
                            <p style="color: #25B700;font-size: 40px;margin-top: 0px;">
                              <%= number_to_currency(@catalog.price, :unit => "$ ", :separator => ",", :delimiter => ".") %>
                            </p>
                            <h1 style="font-size: 36px; font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;">
                              <%= @catalog.title %>
                            </h1>
                            <p style="font-size: 16px; line-height: 22px; font-family: Arial; color: #333; margin: 0px;">
                              <%= @catalog.content %>
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <%= link_to catalog_url(@catalog), style:"background-color: #2CC92C; color: #ffffff; border-bottom: 2px solid #2F9600; display: table; margin-top: 25px; border-radius: 4px; text-decoration: none; padding: 7px 16px;"  do %>
                              View Item
                            <% end %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table width="680" border="0" align="center" cellpadding="30" cellspacing="0" bgcolor="#384452">
            <tr>
              <td valign="top" width="60%">
                <p style="font-size: 14px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    <b>Themeindo Team</b>
                  </unsubscribe><br>
                  We provide and have your needs in the field of Development theme
                </p>
              </td>
              <td valign="top">
                <p style="font-size: 14px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  South Jakarta, Indonesia<br>
                  
                  Email. 
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    themeindo@gmail.com
                  </unsubscribe>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>