<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Email Template - Classic</title>
    <style type="text/css">
      a:hover { text-decoration: underline !important; }
    </style>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <table bgcolor="#E5EFF6" cellspacing="0" border="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" width="493" bgcolor="#384452">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18"></td>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td>
                            <img src="<%= @logo %>" style="padding-left:30px; height:60px" alt="logo themeindo">
                          </td>
                        </tr>
                        <tr>
                          <td height="40">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table bgcolor="#ffffff" cellspacing="0" border="0" align="center" cellpadding="30" width="684">
            <tr>
              <td>
                <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                  <tr>
                    <td>
                      <h2 style="font-size: 36px; font-weight: normal; color: #333333; font-family: Arial; margin-top: 0px; margin-bottom: 20px;" align="center">Promotion Items This Week
                      </h2>
                      <table cellspacing="0" border="0" cellpadding="0" width="100%">
                        <% @catalogs.each do |catalog| %>
                          <tr style="margin: 25px 0; padding-bottom: 25px; display: block; border-bottom: 2px solid #384452">
                            <td valign="top" width="378">
                              <h1 style="font-size: 19px; font-family: Arial; color: #333333; margin-top: 0px; margin-bottom: 12px;"><%= catalog.title %>
                              </h1>
                              <p style="font-size: 16px; line-height: 22px; font-family: Arial; color: #333; margin-bottom: 10px;">  <%= truncate(strip_tags(catalog.content), length: 80, omission: ' ...') %>
                              </p>
                              <span style="font-family: Arial; float: left; font-weight: bold; font-size: 24px;">
                                <%= number_to_currency(catalog.price, :unit => "$ ", :separator => ",", :delimiter => ".") %>
                              </span>
                              <%= link_to 'View Item', catalog_url(catalog), style: "font-family: Arial; background-color: #2CC92C; color: #ffffff; border-bottom: 2px solid #2F9600; display: table; float: left; margin-left: 14px; border-radius: 4px; text-decoration: none; padding: 5px 16px;" %>
                            </td>
                            <td valign="middle" width="252">
                              <a href="<%= catalog_url(catalog) %>" style= "border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333; float: right; width: 70%; height:140px; overflow: hidden">
                                <%= image_tag catalog.galleries.first.file.url(:small), style: "width: 100%; height: 100%" %>
                              </a>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table width="680" border="0" align="center" cellpadding="30" cellspacing="0" bgcolor="#384452">
            <tr>
              <td valign="top" width="60%">
                <p style="font-size: 14px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    <b>Themeindo Team</b>
                  </unsubscribe><br>
                  We provide and have your needs in the field of Development theme
                </p>
              </td>
              <td valign="top">
                <p style="font-size: 14px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  South Jakarta, Indonesia<br>
                  
                  Email. 
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    themeindo@gmail.com
                  </unsubscribe>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>