<% @user = @order.try(:user) %>
<% @profile = @user.try(:profile) %>
<% @address = @profile.try(:address) %>
<!DOCTYPE html">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Email Template - Classic</title>
  </head>
  <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <!--100% body table-->
    <table bgcolor="#E5EFF6" cellspacing="0" border="0" cellpadding="0" width="100%" style="font-size: 13px;">
      <tr>
        <td>
          <!--header-->
          <table width="684" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="middle" width="493" bgcolor="#384452">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="18"></td>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td>
                            <img src="<%= @logo %>" style="padding-left:30px; height:60px" alt="logo themeindo">
                          </td>
                        </tr>
                        <tr>
                          <td height="40">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table bgcolor="#ffffff" cellspacing="0" border="0" align="center" cellpadding="30" width="684" style="font-size: 13px;">
            <tr>
              <td>
                <!--email content-->
                <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624" style="margin-bottom: 15px;">
                  <thead>
                    <tr>
                      <td>
                        <h3>Invoice Order <%= @order.try(:code) %> Completed Paid</h3>
                      </td>
                      <td align="right" valign="top">
                        <% if @order.order_status_id == 2 %>
                          <label style="font-size: 13px; padding: 4px 14px; background: #2CC92C; color: #ffffff; border-radius: 4px; font-size: 14px; line-height: 19px; margin-left: 8px;">Paid</label>
                        <% else %>
                          <label style="font-size: 13px; padding: 4px 14px; background: #d9534f; color: #ffffff; border-radius: 4px; font-size: 14px; line-height: 19px; margin-left: 8px;">Unpaid</label>
                        <% end %>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width="68%" style="font-size: 13px;">
                        <h4 style="margin-bottom: 5px;"><%= @profile.try(:full_name) %></h4>
                        <a href="mailto:<%= @user.email %>"></a><%= @user.email %><br/>
                        <%= @address.try(:address) %> <%= @address.try(:postcode) %><br/>
                        <%= @address.try(:city) %>, <%= @address.try(:province) %><br/>
                        <%= @address.try(:country) %>
                      </td>
                      <td width="42%" valign="top" style="font-size: 13px; text-align: right;">
                        <b>Payer Name</b> <br>
                        <%= @order.try(:payer_name) %><br>
                        <b>Your Transaction id</b> <br>
                        <%= @order.try(:transaction_id) %><br>
                        <b>Purchased at</b> <br>
                        <%= @order.try(:purchased_at).strftime("%H:%M %B, %d, %Y") %>
                      </td>
                    </tr>
                    <tr>
                    </tr>
                  </tbody>
                </table>
                <table cellspacing="0" border="1" id="email-content" cellpadding="8" width="624" style="font-size: 13px;">
                  <thead>
                    <tr>
                      <td><b>Title</b></td>
                      <td><b>Quantiy</b></td>
                      <td><b>Download</b></td>
                      <td><b>Price</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <% @order.order_items.each do |order_item| %>
                      <tr>
                        <td><%= link_to "#{order_item.catalog.title}", catalog_url(order_item.catalog.slug) %></td>
                        <td><%= order_item.quantity %></td>
                        <td>
                          <%= link_to document_download_url(order_item.catalog.code) do %>
                            Download
                          <% end %>
                        </td>
                        <td>
                          <%= number_to_currency(order_item.total_price, :unit => "$ ", :separator => ",", :delimiter => ".") %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <div style="width: 100%; float: left; text-align: right; line-height: 35px;">
                  <b>
                    TOTAL <%= number_to_currency(@order.total, :unit => "$ ", :separator => ",", :delimiter => ".") %>
                  </b>
                </div>
              </td>
            </tr>
          </table>
          <!--/email container-->
          <!--footer-->
          <table width="680" border="0" align="center" cellpadding="30" cellspacing="0" bgcolor="#384452">
            <tr>
              <td valign="top" width="60%">
                <p style="font-size: 14px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    <b>Themeindo Team</b>
                  </unsubscribe><br>
                  We provide and have your needs in the field of Development theme
                </p>
              </td>
              <td valign="top">
                <p style="font-size: 14px; line-height: 24px; font-family: Arial; color: #ffffff; margin: 0px;">
                  South Jakarta, Indonesia<br>
                  
                  Email. 
                  <unsubscribe style="color: #25B700; text-decoration: none;" href="mailto:themeindo@gmail.com">
                    themeindo@gmail.com
                  </unsubscribe>
                </p>
              </td>
            </tr>
          </table>
          <!--/footer-->
        </td>
      </tr>
    </table>
    <!--/100% body table-->
  </body>
</html>