<div class="col-md-12">
	<div class="col-xs-1 avatar-responsive">
		<%= image_tag current_user.try(:profile).try(:avatar).url(:small), class: "full-width" %>
	</div>
	<div class="col-xs-11">
		<div id="link-reply" class="property-listing wrapper-form-reply">
			<%= f.hidden_field :ancestry, value: "#{resource_comment.id}" %>
			<%= f.text_area :comment, class: "form-control form-reply-comment", required: true %>
		</div>
		<button class="btn btn-info margin-top10" type="submit">Send</button>
	</div>
</div>