<% @avatar = @comment.try(:user).try(:profile).try(:avatar) %>
<div class="col-md-12 padding0">
	<div class="col-xs-1 padding0 avatar-responsive">
		<% if @avatar.present? %>
			<%= image_tag @avatar.url(:small), class: "full-width" %>
		<% else %>
			<%= image_tag 'no-image.png', class: "full-width" %>
		<% end %>
	</div>
	<div class="col-xs-11 padding-right0">
		<div class="panel panel-default margin-bottom5">
  		<div class="panel-body padding10">
  			<h5 class="comment-username"><%= @comment.try(:user).try(:username) %>
	  			<small class="comment-date">
	  				<i class="fa fa-calendar"></i> 
	  				<%= @comment.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
	  			</small>
  			</h5>
				<%= @comment.try(:comment) %>
			</div>
		</div>
	</div>
</div>