<div class="row">
	<div class="col-md-12">
		<div class='alert alert-warning alert-dismissible margin-bottom10' role='alert'>
			<button class='close' data-dismiss='alert'>
			<span aria-hidden='true'>×</span><span class='sr-only'>Close</span>
			</button>
			Your Comment Successfully Create! 
		</div>
	</div>
</div>