<% if defined?(resource) && resource.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5>
      <i class="fa fa-exclamation-circle"></i> 
      <%= pluralize(resource.errors.count, "error") %> 
      prohibited before continuing process:
    </h5>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>