<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Form Ticket</div>
  </div>     
  <div class="panel-body margin-top20">
    <div class="row">
      <div class="col-sm-6">
        <label class="form-group">Name</label>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control', value: "#{@profile.try(:full_name)}", disabled: true %>
          <%= f.hidden_field :name, value: "#{@profile.try(:full_name)}" %>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="form-group">Email</label>
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', value: "#{current_user.email}", disabled: true %>
          <%= f.hidden_field :email, value: "#{current_user.try(:email)}" %>
        </div>
      </div>
      <div class="col-sm-12">
        <label class="form-group">Title</label>
        <div class="form-group">
          <%= f.text_field :title, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="col-sm-4">
        <label class="form-group">Departement</label>
        <div class="form-group">
          <% value_departement = params[:departement].present? ? params[:departement] : '' %>
          <%= f.select :departement, options_for_select(departement, value_departement), 
                        {:prompt=> "Select Departement"}, { class: 'form-control', required: true }%>
        </div>
      </div>
      <div class="col-sm-5">
        <label class="form-group">Related Services</label>
        <div class="form-group">
          <%= f.text_field :problem, class: 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <label class="form-group">Priority</label>
        <div class="form-group">
          <%= f.select :priority, options_for_select(priority, resource.priority), 
                        {:prompt=> "Select Priority"}, { class: 'form-control', required: true }%>
        </div>
      </div>
      

      <div class="col-md-12 margin-top20">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">Message</div>
          </div>     
          <div style="padding-top:30px" class="panel-body">
            <div class="row">
              <div class="form-group">
                <label class="col-sm-12">Put Your Message</label>
                <div class="col-sm-12">
                  <%= f.text_area :message, class: 'form-control', required: true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 margin-top20">
          <button type="submit" class="btn btn-lg btn-success full-width">Send Ticket Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
