<div class="col-md-8 main">
	<h1>Open Ticket</h1>
	<p>If you can not find a solution to your problems in our knowledgebase, you can submit a ticket by selecting the appropriate department below.</p>
  <div class="row">
  	<div class="col-md-4 align-center">
  		<div class="panel panel-default padding15">
    		<%= link_to new_member_ticket_path(departement: 'Technical Support') do %>
    			<span class="support-icon"><i class="fa fa-wrench"></i> </span>
    			<h4>Technical Support</h4>
    		<% end %>
				<p>Support Technical Issues</p>
			</div>
  	</div>

  	<div class="col-md-4 align-center">
  		<div class="panel panel-default padding15">
    		<%= link_to new_member_ticket_path(departement: 'Billing and Payment') do %>
    			<span class="support-icon"><i class="fa fa-envelope"></i></span>
    			<h4>Sales/Marketing</h4>
    		<% end %>
				<p>Sales and marketing support</p>
			</div>
  	</div>

  	<div class="col-md-4 align-center">
  		<div class="panel panel-default padding15">
    		<%= link_to new_member_ticket_path(departement: 'Sales/Marketing') do %>
    			<span class="support-icon"><i class="fa fa-money"></i></span>
    			<h4>Billing/Payment</h4>
    		<% end %>
				<p>Issues Billing or Payment</p>
			</div>
  	</div>
  </div>
</div>