<div class="col-md-8 main">
  <h1>Open Ticket</h1>
  <p>If you can not find a solution to your problems in our knowledgebase, you can submit a ticket by selecting the appropriate department below.</p>
  <div class="row">
    <div class="col-md-4 align-center">
      <div class="catalog-item-show">
        <%= link_to new_member_ticket_path(departement: 'Technical Support') do %>
          <span class="support-icon"><i class="fa fa-wrench fa-4x"></i> </span>
          <h4>Technical Support</h4>
        <% end %>
        <p>Support Technical Issues</p>
      </div>
    </div>

    <div class="col-md-4 align-center">
      <div class="catalog-item-show">
        <%= link_to new_member_ticket_path(departement: 'Billing and Payment') do %>
          <span class="support-icon"><i class="fa fa-envelope fa-4x"></i></span>
          <h4>Sales/Marketing</h4>
        <% end %>
        <p>Sales and marketing support</p>
      </div>
    </div>

    <div class="col-md-4 align-center">
      <div class="catalog-item-show">
        <%= link_to new_member_ticket_path(departement: 'Sales/Marketing') do %>
          <span class="support-icon"><i class="fa fa-money fa-4x"></i></span>
          <h4>Billing/Payment</h4>
        <% end %>
        <p>Issues Billing or Payment</p>
      </div>
    </div>
  </div>
  <%#= form_for :search, url: member_tickets_path, method: 'get' do |f| %>
    <!-- <div class="input-group position-relative-search margin-bottom10 margin-top20">
      <%#= render partial: "shareds/form_top_search", locals: {f: f} %>
    </div> -->
  <%# end %>
  <%= form_tag "#{collection_path}/destroy_multiple", method: :delete do %>
      <div class="margin-top10">
        <%= render partial: "backend/shareds/prepare_table_member",
                    locals: {table_name: 'Tickets', button_name: 'Tickets', add_method: true } %>
        <div class="catalog-item-show">
          <div class="table-responsive">
            <% if @collection.present? %>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Created At</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @collection.each do |resource| %>
                    <tr>
                      <td>
                        <%= link_to resource_path(resource) do %>
                          <b><%= resource.code %></b>
                        <% end %>
                      </td>
                      <td><%= resource.title %></td>
                      <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") if resource.try(:created_at).present? %></td>
                      <td class="text-center">
                        <%= resource.status? %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @collection %>
            <% else %>
              <p class="p-error">Data is still empty!</p>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
