<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-center">
            <strong>Support Ticket <%= resource.code %></strong>
          </h4>
        </div>
        <div class="panel-body">
          <div class="ticket-body">
            <div class="row">
              <div class="col-xs-12 ticket-header">
                <span><b>Subject</b>: <%= resource.title %></span>
                <br>
                <div class="label-group-status">
                  <%= resource.priority? %>
                  <span class="label label-default"><%= resource.departement %></span>
                  <span class="label label-success"><%= resource.problem %></span>
                  <%= resource.status? %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="photo-thumb pull-left">
                  <%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:small), class: "full-width" %>
                </div>
              </div>
              <div class="col-md-10">
                <div class="catalog-item-show">
                  <span>
                    <a href="mailto:<%= resource.email %>"><%= resource.name %></a>
                  </span>
                  <br>
                  <p>
                   <%= resource.message.html_safe %>
                  </p>
                  <div class="small text-right">
                    <i class="fa fa-calendar"></i>
                    <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% if @messages.present? %>
            <div class="row">
              <div class="col-xs-12">
                <% @messages.each do |resource| %>
                  <div class="catalog-item-show float-left">
                    <div class="row">
                      <div class="col-md-2 photo-thumb">
                        <%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:small), class: 'full-width' %>
                      </div>
                      <div class="col-md-10">
                        <span>
                          <a href="mailto:<%= resource.try(:user).try(:email) %>">
                            <%= resource.try(:user).try(:username) %>
                          </a>
                        </span>
                        <br>
                        <span class="message-body-subject">
                          Subject: <strong><%= resource.subject %></strong>
                        </span>
                        <br>
                        <p>
                          <%= resource.message %>
                        </p>
                        <div class="small text-right">
                          <i class="fa fa-calendar"></i>
                          <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>