<div class="row">
	<div class="col-md-12 col-xs-12">
		<h2>Featured Author</h2>
	</div>
	<div class="col-md-6 col-xs-12">
		<div class="col-xs-2 avatar-responsive padding-left0">
			<%= image_tag @featured_author.try(:profile).try(:avatar).url(:small), class: 'full-width' %>
		</div>
		<div class="col-xs-10">
			<p>
				This week's featured author is
				<%= link_to portfolio_path(@featured_author.username) do %>
					<%= @featured_author.try(:profile).try(:full_name).try(:titleize) %>
				<% end %>
			</p>
			<%= link_to 'View Portfolio', portfolio_path(@featured_author.username), class: "btn btn-info" %>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		<div class="row margin0 item-on-profile">
			<div class="featured-section-author-featured">
				<% @verify_featured_author.limit(4).each do |resource| %>
					<% cache ["verify_featured_author_catalogs_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
						<div class="col-xs-2 latest-user-item float-right" data-toggle="popover" title="<%= truncate(strip_tags(resource.title.to_s), length: 40, omission: ' ...') %>">
			        <div class="tooltips-content">
			          <div class="tooltips-image">
			            <%= image_tag resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:medium) %>
			          </div>
			          <div class="tooltips-desc">
			            <%= rating_for resource, "price", :star => 5 %>
			          </div>
			          <span class="tooltips-tag">
			            <%= resource.try(:catalog_category_root).try(:name).titleize %>,
			            <%= resource.try(:catalog_category_child).try(:name).titleize %>
			          </span>
			          <span class="tooltips-price"><%= number_to_currency_br(resource.try(:price)) %></span>
			        </div>
			        <%= link_to catalog_path(resource), class: "po-image avatar-responsive" do %>
			          <%= image_tag resource.try(:thumbnail).url(:small) %>
			        <% end %>
			      </div>
			    <% end %>
				<% end if @verify_featured_author.present? %>
			</div>
		</div>
		<span class="float-right">
			Some of
			<%= link_to portfolio_path(@featured_author.username) do %>
				<%= @featured_author.try(:profile).try(:full_name).try(:titleize) %>
			<% end %>
			work
		</span>
	</div>
</div>
