<!-- Carousel Slider -->
<div id="carousel-example-generic" class="home-carousel carousel slide" data-ride="carousel">
  <!-- <ol class="carousel-indicators">
    <%# @setting.galleries.each_with_index do |resource, index| %>
      <li data-target="#home-slider" data-slide-to="<%#= index %>" class="<%#= 'active' if index == 0 %>"></li>
    <%# end %>
  </ol> -->
  <div class="carousel-inner">
    <% @setting.galleries.each_with_index do |resource, index| %>
      <div class="item <%= 'active' if index == 0 %>">
        <%= image_tag resource.file %>
        <!-- <div class="carousel-caption">
          <h3><%#= resource.title %></h3>
          <p>
            <%#= resource.description.html_safe %>
          </p>
        </div> -->
      </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="main-text hidden-xs">
  <div class="text-center">
    <h1>Website Templates and Themes From</h1>
    <p>for HTML, Email, WordPress, Joomla, Magento and more</p>
    <%= form_for :search, url: search_path, method: 'get' do |f| %>
      <div class="input-group search-big">
        <%= render partial: "shareds/form_top_search", locals: {f: f} %>
      </div>
    <% end %>
  </div>
</div>
<!-- /Carousel Slider -->
