<!-- Services Section -->
	<section id="featured" class="grey">
		<h1>Featured</h1>
		<div class="hr dark"></div>
		<p class="desc-section-p"><%#= @featureds.size %> Best Available Template Design Choices Our Team</p>
		<div class="container">
			<div class="row item-on-profile">
				<div class="featured-section">
					<% @featureds.each do |resource| %>
						<% cache ["featured_catalogs_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
							<div class="col-xs-2 latest-user-item" data-toggle="popover" title="<%= truncate(strip_tags(resource.title.to_s), length: 40, omission: ' ...') %>">
				        <div class="tooltips-content">
				          <div class="tooltips-image">
				            <%= image_tag resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:medium) %>
				          </div>
				          <div class="tooltips-desc">
				            <%= rating_for resource, "price", :star => 5 %>
				          </div>
				          <span class="tooltips-tag">
				            <%= resource.try(:catalog_category_root).try(:name).titleize %>,
				            <%= resource.try(:catalog_category_child).try(:name).titleize %>
				          </span>
				          <span class="tooltips-price"><%= number_to_currency_br(resource.try(:price)) %></span>
				        </div>
				        <%= link_to catalog_path(resource), class: "po-image avatar-responsive" do %>
				          <%= image_tag resource.try(:thumbnail).url(:small) %>
				        <% end %>
				      </div>
				    <% end %>
					<% end %>
					<div class="col-xs-12 wrap-featured-button">
						<%= link_to search_path(params.merge(featured: true)) do %>
							<button class="btn btn-success">View more featured item</button>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- /Services Section -->
