<div class="alert alert-info alert-dismissible" role="alert">
  <button class="close" data-dismiss="alert">
    <span aria-hidden="true">×</span>
    <span class="sr-only">Close</span>
  </button> <%= note %>
</div>