<footer class="footer col-xs-12">
	<div class="container">
		<div class="row">
      <div class="col-md-2">
        <div class="follow-us">
          <h3>FOLLOW US</h3>
          <a href="<%= @setting.try(:facebook) %>" class="btn site-facebook"><i class="fa fa-facebook"></i></a>
          <a href="<%= @setting.try(:twitter) %>" class="btn site-twitter"><i class="fa fa-twitter"></i></a>
          <a href="mailto:<%= @setting.try(:email) %>" class="btn site-google-plus"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-4 footer-help">
            <h3>ABOUT</h3>
            <ul class="footer-box-list">
              <li>
                <%= link_to "About Themeindo", landing_page_path('About Themeindo') %>
              </li>
              <li>
                <%= link_to "Themeindo Market Terms", landing_page_path('Themeindo Market Terms') %>
              </li>
              <li>
                <%#= link_to "Author Terms", landing_page_path('Author Terms') %>
              </li>
              <li>
                <%= link_to "Privacy Policy", landing_page_path('Privacy Policy') %>
              </li>
            </ul>
          </div>
          <div class="col-md-8 footer-info">
            <h3><%= @setting.title %></h3>
            <%= @setting.description %>
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-subscribe">
        <h3>SUBSCRIBE</h3>
        <div class="form-group">
          <%= form_for Subscribe.new, url: subscribes_path, method: 'post' do |f| %>
            <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
            <%= submit_tag :subscibe, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <p>&copy; <%= @setting.try(:footer_tags) %>
        <%= image_tag 'paypal.png', class: 'float-right margin-top10' %>
        </p>
      </div>
    </div>
	</div>
</section>

<%= render "shareds/sign" %>

<a href="#" class="scrollup">
  <i class="fa fa-chevron-up"></i> 
</a>