<% unless params[:controller].match('/tickets') %>
  <div class="input-group-btn search-front">
    <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
      <span id="search_concept">All</span> &nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% catalog_category_root.each do |c| %>
        <li><a href="#<%= c.name.titleize %>"><%= c.name.titleize %></a></li>
      <% end %>

    </ul>
  </div>
  <% value_catalog_type = params[:catalog_category_type].present? ? params[:catalog_category_type] : '' %>
  <%= hidden_field_tag :catalog_category_type, nil, id: "search_param", value: value_catalog_type %>
<% end %>

<% value_title = params[:title].present? ? params[:title] : '' %>
<%= text_field_tag :title, nil, class: 'input-lg form-control', placeholder: 'Search..', value: value_title %>
<span class="input-group-btn">
  <button class="btn btn-lg btn-info" type="submit">
  	<span class="glyphicon glyphicon-search"></span>
  </button>
</span>
  