<section class="grey">
  <div class="container">
    <h1>New Items</h1>
    <div class="hr dark"></div>
    <p class="desc-section-p">
      Below is a collection of some of the latest items in themeindo
    </p>
    <section id="pinBoot">
      <% @latest_catalogs.each_with_index do |resource, index| %>
        <% cache ["latest_catalogs_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
          <article class="white-panel">
            <%= image_tag resource.galleries.oldest.first.file.url(:small), class: 'full-width' %>
            <h4>
              <%= link_to catalog_path(resource) do %>
                <%= resource.title.to_s %>
              <% end %>
            </h4>
            <div class="row">
              <div class="col-xs-6">
                <span class="price-list">
                  <%= rating_for resource, "price", :star => 5 %>
                </span>
              </div>
              <div class="col-xs-6">
                <span class="small color-grey pull-right">
                  <i class="fa fa-tags"></i>
                  <%= resource.try(:catalog_category_root).try(:name).titleize %>
                </span>
              </div>
            </div>
            <div class="">
              <div class="col-xs-12 content-bottom">
                <span class="btn pull-left">
                  <%= resource.score %> <i class="fa fa-thumbs-up"></i>
                </span>
                <span class="btn pull-left">
                  <%= resource.impressionist_count %> <i class="fa fa-eye"></i>
                </span>
                <span class="price-grid-list pull-right">
                  <%= number_to_currency_br(resource.try(:price)) %>
                </span>
              </div>
            </div>
          </article>
        <% end %>
      <% end %>
    </section>
    <hr>
  </div>
</section>

