<!-- Services Section -->
	<section class="services">
		<h1>How does it work ?</h1>
		<div class="hr dark"></div>
		<p class="desc-section-p">
			Below is the explanation steps on how to buy items on Themeindo Market.
		</p>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box">
						<div class="box-icon">
							<span class="fa fa-4x fa-hand-o-up"></span>
						</div>
						<div class="info">
							<h4 class="text-center">Choice Your Item</h4>
							<p>look on our impressive collections and choose your desired item.</p>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box">
						<div class="box-icon">
							<span class="fa fa-4x fa-shopping-cart"></span>
						</div>
						<div class="info">
							<h4 class="text-center">Add To Cart Your Item</h4>
							<p>Add your desired item to your shopping cart</p>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box">
						<div class="box-icon">
							<span class="fa fa-4x fa-money"></span>
						</div>
						<div class="info">
							<h4 class="text-center">Make a Payment Your Items</h4>
							<p>Complete the payment for the items that you order.</p>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box">
						<div class="box-icon">
							<span class="fa fa-4x fa-cloud-download"></span>
						</div>
						<div class="info">
							<h4 class="text-center">Download Your Item</h4>
							<p>Congratulations! your item is ready to download!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Services Section -->