<div class="modal fade modal-testimonial" id="modal-testimonial" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header bg-sky modal-header-info">
				<h3 align="center">
					Submit Testimonial
				</h3>
			</div>
			<div class="modal-body">
				<div class="row" id="post-review-box">
					<div class="col-md-12">
						<div class="col-xs-2 padding-left0">
							<img alt="" src="//myinstantcms.ru/images/img15.png">
						</div>
						<div class="col-xs-10 padding-right0">
							<input id="ratings-hidden" name="rating" type="hidden">
							
							<h3 class="margin-bottom0">
								<a href="./member">
									John doe
								</a>
							</h3>
							<h5>
								Jakarta, Indonesia
							</h5>
						</div>
						<textarea class="form-control animated" cols="50" name="testimonial" placeholder="Enter your review here..." rows="5">
						</textarea>
						<div class="text-left">
							<div class="starrr testimonial-rating-field" data-rating="0">
							</div>
							<button class="btn btn-success" type="submit">
								Submit
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade modal-confirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 align="center">
					Are you sure?
				</h5>
			</div>
			<div class="modal-body">
				<div class="row" id="post-review-box">
					<div class="display-table-auto">
						<a href="#" class="btn btn-success margin-right10" type="submit">
							Yes
						</a>
						<a href="#" class="btn btn-default" data-dismiss="modal" type="submit">
							No
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="carousel-testimonial broun-block">
	<div class="container">
		<div class="row">
			<h1 class="section-main-title">
				Featured Items
			</h1>
			<p class="desc-main-title">
				1,290 Professional Corporate Website Templates
				<a href="#" data-toggle="modal" data-target=".modal-testimonial">
					give testimonial
				</a>
				| 
				<a href="#" data-toggle="modal" data-target=".modal-confirm">
					test confirm alert
				</a>
			</p>
			<div id="carousel-reviews" class="home-testimonial carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<% @featureds.each do |resource| %>
						<div class="testimonial-item col-md-4 col-sm-6">
							<div class="block-text rel zmin">
								<h3>
									<%= link_to catalog_path(resource) do %>
										<%= truncate(strip_tags(resource.title.to_s), length: 40, omission: ' ...') %>
									<% end %>
								</h3>
								<div class="image-testimonial col-xs-12 padding0">
									<%= image_tag resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:medium), class: 'full-width' %>
								</div>
                <h5 class="likes-grid-list">
                  <span class="label label-warning pull-right">
                    <%= resource.score %> <i class="fa fa-thumbs-up"></i>
                  </span>
                  <span class="label label-warning pull-right">
                    <%= resource.impressionist_count %> <i class="fa fa-eye"></i>
                  </span>
                  <%= rating_for resource, "price", :star => 5 %>
                </h5>
                <ul class="tag-catalog">
                  <li><%= resource.try(:catalog_type).titleize %></li>
                  <li>, <%= resource.try(:catalog_category).try(:name).titleize %></li>
                </ul>
							</div>
						</div>
					<% end %>
				</div>
				<a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left">
					</span>
				</a>
				<a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right">
					</span>
				</a>
			</div>
		</div>
	</div>
</div>