<!-- Testimonials Section -->
	<section class="triangle white">
		<%= image_tag "triangle-grey.png",class: "aligncenter" %> 
		<div class="container">
			<h1>Testimonials</h1>
			<div class="hr dark"></div>
			<div class='col-md-12'>
				<div class="carousel slide" data-ride="carousel" id="quote-carousel">
					<!-- Bottom Carousel Indicators -->
					<ol class="carousel-indicators">
						<% (1..5).each_with_index do |resource, index| %>
							<li data-target="#quote-carousel" data-slide-to="<%= index %>" class="<%= 'active' if index==0 %>"></li>
						<% end %>
					</ol>

					<!-- Carousel Slides / Quotes -->
					<div class="carousel-inner">
						<!-- Quote 1 -->
						<% (1..5).each_with_index do |resource, index| %>
							<div class="item <%= 'active' if index==0 %>">
								<blockquote>
									<div class="row">
										<div class="col-sm-3 text-center">
											<img class="img-circle" src="images/testimonial.jpg" style="width: 100px;height:100px;">
										</div>
										<div class="col-sm-8">
											<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
											<small>Someone famous</small>
										</div>
									</div>
								</blockquote>
							</div>
						<% end %>
						<!-- Quote 2 -->
					</div>

					<!-- Carousel Buttons Next/Prev -->
					<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
					<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
				</div>                          
			</div>
		</div>
	</section>
	<!-- /Testimonials Section -->