<!-- Top Bar -->
<div class="top-bar">
  <div class="container">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <span class="welcome-message">Welcome To Themeindo Market</span>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
      <ul class="nav navbar-nav navbar-right nav-account">
        <li>
          <% unless current_user %>
            <div class="btn-group login-reg-actions">
              <%= link_to 'Create an Themeindo Account', new_user_registration_path, class: "btn nav-login create-account" %>
              <div class="cart-text btn cart-btn">
                <%= render 'layouts/cart_text' %>
              </div>
              <a href="#signin" data-toggle="modal" data-target=".bs-modal-sm" class="btn nav-register"> Sign In </a>
            </div>
          <% else %>
            <div class="btn-group login-reg-actions" role="group">
              <div class="btn nav-login create-account dropdown user-menu-dropdown">
                <a class="dropdown-toggle logged" data-toggle="dropdown">
                  <i class="fa fa-user"></i>&nbsp; <%= current_user.email %> &nbsp;<i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to member_home_path do %>
                      Home <i class="fa fa-home fa-1 pull-right"></i>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to profile_path do %>
                      Profile <i class="fa fa-user pull-right"></i>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <% if current_user.staff? %>
                    <li>
                      <%= link_to member_catalogs_path do %>
                        My Items <i class="fa fa-list-ul pull-right"></i>
                      <% end %>
                    </li>
                    <li class="divider"></li>
                  <% end %>
                  <li>
                    <%= link_to member_orders_path do %>
                      Invoice Orders
                      <i class="fa fa-shopping-cart pull-right"></i>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to member_favorites_path do %>
                      Favorites <i class="fa fa-heart pull-right"></i>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to edit_member_member_path(current_user) do %>
                      Account Settings <i class="fa fa-wrench pull-right"></i>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li class="text-right">
                    <%= link_to destroy_user_session_path, method: 'delete' do %>
                      Log Out
                    <% end %>
                  </li>
                </ul>
              </div>
              <% if @latest_messages.present? %>
                <div class="btn dropdown menu-notification">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                    <span class="label label-danger"><%= @latest_messages.size %></span>
                    <i class="fa fa-envelope"></i>
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-notification">
                    <% @latest_messages.each do |resource| %>
                      <li>
                        <%= link_to member_message_path(resource) do %>
                          <div class="content-notification">
                            <div class="photo-notification pull-left">
                              <%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:small) %>
                            </div>
                            <span class="color-blue float-left">
                              <%= resource.try(:user).try(:username) %>
                            </span>
                            <span class="date-notification">
                              <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                            </span>
                            <%= link_to member_message_path(resource) do %>
                              <p class="msg-content small"><%= truncate resource.try(:subject), length: 30 %></p>
                            <% end %>
                          </div>
                        <% end %>
                      </li>
                    <% end %>
                    <li class="view-all-notification text-center">
                      <%= link_to 'View all message', member_messages_path %>
                    </li>
                </div>
              <% end %>
              <div class="cart-text btn cart-btn">
                <%= render 'layouts/cart_text' %>
              </div>
              <%= link_to destroy_user_session_path, method: 'delete', class: 'btn' do %>
                Sign Out
              <% end %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /Top Bar -->

<!-- Top Navigation -->
<div id="top-navigation">
  <nav class="navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag @setting.logo.url(:medium) %>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav top-menu">
          <li>
            <%= link_to "All", catalogs_path %>
          </li>
          <% if Rails.cache.exist?('catalog_categories_latest') %>
            <% Rails.cache.read('catalog_categories_latest').each_with_index do |resource, index| %>
              <li class="dropdown">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                  <%= resource.name %> <i class="fa fa-angle-double-down"></i>
                </a>
                <ul class="dropdown-menu list-dropdown-menu">
                  <% resource.children.alfa.each do |resource| %>
                    <li>
                      <%= link_to "<span>#{resource.name}</span> <span class='pull-right bold'>#{resource.catalogs.verify.size}</span>".html_safe,
                                search_path(params.merge(catalog_category: resource.name)),
                                method: 'get' %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
<!-- /Top Navigation -->

