<%= favicon_link_tag @setting.favicon.url(:thumb) %>
<% if params[:controller] == 'catalogs' && params[:action] == 'show' %>
	<% roo = 'http://themeindo.net' %>
	<% @title = "#{resource.title}" %>
	<% @url = "#{resource_url}" %>
	<% @site_name = "Themeindo.net" %>
	<% @desc = "#{resource.tags}" %>
	<title><%= @title %></title> 
	<meta name="author" content="<%= resource.user.username rescue nil %>">
	<meta name='keywords' content="<%= @desc %>">
	<meta name="description" content="<%= resource.content %>">
	<meta property="og:title" content="<%= @title %>"/>
	<meta property="og:type" content="website"/>
	<meta property="og:site_name" content="<%= @url %>" />
	<meta property="og:url" content="<%= @url %>"/>
	<meta property="og:image" content="<%= roo %><%= resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:large) rescue nil %>"/>
	<meta property="og:description" content="<%= @desc %>"/>
	<meta property="article:publisher" content="<%= @setting.facebook %>"/>
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="<%= @url %>">
	<meta name="twitter:title" content="<%= @title %>">
	<meta name="twitter:description" content="<%= @desc %>">
	<meta name="twitter:creator" content="@themeindo">
	<meta name="twitter:image:src" content="<%= roo %><%= resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:large) rescue nil %>">
<% else %>
	<title><%= @setting.title %></title> 
	<meta name="author" content="<%= @setting.contact if @setting %>">
	<meta name='keywords' content="<%= @setting.keywords %>">
	<link href="<%= request.original_url %>" rel="canonical">
	<meta name="description" content="<%= @setting.description %>">
<% end %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60325494-1', 'auto');
  ga('send', 'pageview');

</script>

