<div class="col-md-3">
  <% if @profile.about_me.present? %>
    <div class="side-attributes panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">About Me</h4>
      </div>
      <div class="panel-body">
        <%= @profile.try(:about_me).gsub("\n", '<br>').html_safe if @profile.try(:about_me).present? %>
      </div>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"> Social Profiles</h4>
    </div>
    <div class="panel-body">
      <% if @address.facebook_url.present? %>
        <div class="row">
          <div class="col-md-12">
            <b><i class="fa fa-facebook-square"></i>  Facebook</b>
            <br>
            <span>
              <a href="https://www.facebook.com/<%= @address.try(:facebook_url) %>">
                <%= @address.try(:facebook_url) %>
              </a>
            </span>
          </div>
        </div>
      <% end %>
      <% if @address.twitter_url.present? %>
        <div class="row">
          <div class="col-md-12">
            <b><i class="fa fa-twitter-square"></i> Twitter</b>
            <span>
              <a href="https://twitter.com/<%= @address.try(:twitter_url) %>">
                <%= @address.try(:twitter_url) %>
              </a>
            </span>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <i class="fa fa-envelope-square"></i> Email
          <br>
          <a href="mailto:<%= current_user.try(:email) %>"> <%= current_user.try(:email) %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-show">
    <b>Member Since</b>
    <br>
    <span><%= @user.try(:created_at).strftime("%H:%M %B, %d, %Y") %></span>
  </div>
</div>