<%= render "shareds/top_menu" %>
<%= render "shareds/carousel" %>
<%= render "shareds/services" %>
<%= render "shareds/featured" %>

<% if @featured_author %>
	<section class="triangle">
		<%= image_tag "triangle-grey.png",class: "aligncenter" %>
		<div class="container">
			<%= render "shareds/author_featured" %>
		</div>
	</section>
<% end %>

<%= render "shareds/latest_catalog" %>
<%= render "shareds/testimonials" if @testimonials.present? %>
<%= render "shareds/footer" %>
