<%= render "shareds/top_menu" %>

<% if params[:id] == "About Themeindo" %>
  <section class="catalog-item-show">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <%= image_tag 'about-custom.png' %>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="block-primary">
            <h2>
              <span class="alt">Are you a creative person,</span> If you have the talent, join us.
            </h2>
            <p>Themeindo is a site to help you get the desired website theme. with various types of categories of sites available on Themeindo you will be given the ease of selecting a theme interesting website, the price is cheap but the quality retalif no doubt and have a professional services. Themeindo Market also connect clients with the many authors who contributed to sell his works here. Site and our services help millions of people around the world.</p>
            <p><a href="#">Alam Topani, CEO Themeindo</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="col-md-6 col-xs-12">
        <div class="container">
          <section>
            <div class="row">
              <div class="col-md-12">
                <h1>Powered by <span>professionals in their field.</span></h1>
                <p>Designers, developers and creative join and be responsible for the work you see in Themeindo, applies to all works sold at market Themeindo, or a talented author who works in Themeindo Market.</P>
                <p>Our mission is to help people who are looking for a cool theme, according to the needs and help our authors to make a living online by selling his work.</p>
              </div>
            </div>
          </section>
          <section>
            <div class="row">
               <div class="col-md-12">
                <h1>Started by <span>Two Developers.</span></h1>
                <p>
                  Originally founded by two developers who aspire to create works that can help people sell their work, Alam Topani was the first to launch this idea, it is a Ruby on Rails developer who works at a software company once and decided to stop an employee and realize this idea, and then he took his Yudi Wibisono, he is also a reliable web developer to be his partner.
                </p>

                <p>And now developers Themeindo increasingly more who have joined, we believe in the future will evolve Themeindo, with better service, supported by a variety of features, providing a safe and professional service.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
<% else %>  
  <section class="catalog-item-show">
    <div class="container">
      <%= render "shareds/breadcrumb" %>
      <div class="col-md-12">
        <h3>
          <%= params[:id] %>
        </h3>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="list-group">
          <%= link_to "<i class='fa fa-file-o'></i> About Themeindo".html_safe, landing_page_path('About Themeindo'), class: "list-group-item" %>
          <%= link_to "<i class='fa fa-shopping-cart'></i> Themeindo Market Terms".html_safe, landing_page_path('Themeindo Market Terms'), class: "list-group-item #{'active' if params[:id] == 'Themeindo Market Terms'}" %>
          <%#= link_to "<i class='fa fa-user'></i> Author Terms".html_safe, landing_page_path('Author Terms'), class: "list-group-item #{'active' if params[:id] == 'Author Terms'}" %>
          <%= link_to "<i class='fa fa-eye'></i> Privacy Policy".html_safe, landing_page_path('Privacy Policy'), class: "list-group-item #{'active' if params[:id] == 'Privacy Policy'}" %>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <% if params[:id] == 'Themeindo Market Terms' %>
          <div class="content-s">
            <ul class="list-terms">
              <li ><a href="#welcome">Welcome to Themeindo Market</a></li>
              <li ><a href="#membership">Membership</a></li>
              <li ><a href="#becoming-an-author">Becoming an author</a></li>
              <li ><a href="#buying">How buying items works</a></li>
              <li ><a href="#intellectual-property">Intellectual property</a></li>
              <li ><a href="#use-of-information">Our use of your information</a></li>
              <li ><a href="#housekeeping">Legal housekeeping</a></li>
              <li ><a href="#definitions">Definitions</a></li>
            </ul>

            <div id="main" class="content-terms">
              <section id="welcome">
                <h2>Welcome to Themeindo Market</h2>
                <div>
                  <p>1. Introduce us Themeindo! We're glad you're visiting us here and we hope you enjoy all the features offered. We Themeindo Market.</p>

                  <p>2. Themeindo Market is about the digital market that helps millions of people around the world get a variety of desired website theme. When you create an account and agree to all terms and conditions, you have become a member of our community. You will have an account Themeindo Market that will allow you to buy and sell items such as those found at the site Themeindo Market and other related transactions.</p>

                  <p>3. Themeindo Market is a platform that allows members to buy and sell licenses for the use of digital goods, the theme of the website, or software code. Themeindo Market facilitate transactions between buyers and authors through the method of payment. Every transaction, will record payments made by you to the developer through Themeindo (as a buyer) and the buyer through Themeindo to you (as a author).</p>

                  <p>4. Items on Themeindo Market owned by authors and authors themeindo own staff members. We provide a platform; we do not take ownership of the goods or the right to use the goods in addition to making them available and promoting our site.</p>

                  <p>5. During your time with us you agree to follow the basic rules described in so please read and understand it. Your presence and use of the site Themeindo Market depends on your acceptance to be bound by the terms and Privacy Policy if you are a member or not.</p>
                </div>
              </section>

              <section id="membership">
                <h3>Membership</h3>
                <div>
                  <p>6. <b>Age</b>: You must be 18 years or more to become a member. If you are under 18 you will need to be under the supervision of a parent or legal guardian who is at least 18 years, and will be responsible for all your activities.</p>

                  <p>7. <b>Benefits</b>: Membership is free. When you become a member you get Themeindo Market account that can be accessed from any of the sites that we Themeindo Market (and also take into account other services that you Themeindo). Your membership will allow you to 'buy' (license) item author, write a comment, send a ticket and various other features. Membership also gives you the opportunity to become a author who could sell his work here, but for now only the members who were given privileges by themeindo who can sell the works.</p>

                  <p>8. <b>Your responsibilities</b>: You promise that the information you provide is true, accurate and complete and that you will keep your account information up-to-date (including a working email address). Your membership is not transferable. You are responsible for any use of the site Themeindo Market that occurs in conjunction with a username and password so save your password and do not let anyone else use your username or password on your behalf. If you notice any permit use of your password or any other breach of security that you need to let us know immediately. It is important that you understand your responsibilities as a member of our community.</p>
                </div>
              </section>

              <section id="becoming-an-author">
                <h2>Becoming an author</h2>
                <div>
                  <p>9. Imagine creating what you want, from the comfort of your own home, make passive income whether you work or not, if you want to be a author of our community you must get approval directly from the verification team Themeindo. Remember that if you become a author you must agree to the requirements imposed our verification team.</p>
                  </p>
                </div>
              </section>

              <section id="buying">
                <h2>How buying items works</h2>
                <div>
                  <p>This section will help you understand what you are buying when you buy an item and how the transactions that occur in Themeindo Market.</p>

                  <p>10. The total price for the item in Themeindo Market consists of several components including:</p>
                  <ol>
                    <li><b>Item Price:</b> When you buy 'items, you pay a fixed price author, to obtain the right to use the goods; You do not really buy the items themselves. What you get including direct license from the author to use the item. Items subject to certain conditions of use, this is a 'license' that we set at Themeindo Market.</li>
                    <li>Buyer service costs: When you buy 'items you also pay a fee for the service you get from such support Themeindo buyer complaints, fraud protection, control the quality of goods and services other relevant buyers.
                    <div class="grey-panel-body">The list price is made up of the: Prices of goods, services Cost buyers, and prices that you see on the item page.</div></li>
                    <li>Handling Fee: In some transactions in Themeindo Market total price may include handling fee.</li>
                    <li>Taxes: Some Themeindo Market transactions can be taxed that can be added to the price list or handling fees.</li>
                  </ol>
                </div>

                <h3 id="buyer">Transacting as a buyer:</h3>
                <div>
                  <p>11. You can make transactions with select items of interest and after that you can make payments directly through the online payment we provide (Currently we only use Paypal as a payment gateway)</p>

                  <p>12. If you choose to purchase items that are available, you will be directed to the payment method provider (a 'paying agent'), and you may be asked to pay a handling fee charged on the price of goods.</p>

                  <p>13. <b>Currency conversion costs</b>: You are responsible for all currency conversion fees associated with your account Themeindo Market. Your financial institution perform currency conversion and will charge an extra fee (we do not control either the conversion rate or the cost of your financial institution).This means that you may be charged extra when buying from Themeindo Market, which we have no control over.</p>
                </div>

                <div>
                  <p>14.
                    <strong>Terms of buying</strong>: When you buy an item you do Themeindo Market on the following conditions:
                  </p>

                  <ol>
                    <li >
                      You can not cancel the purchase has been completed paid;
                    </li>
                    <li >
                      we and the author does not promise that any particular item will continue to be available in Themeindo Market so you have to download and save the item as soon as you buy it;
                    </li>
                    <li >
                      after you buy an item and you pay the price of the goods, you obtain a license to use and develop directly.
                    </li>
                    <li >
                      authors retain ownership of the item;
                    </li>
                  </ol>

                  <p>It is important that you understand the terms that you make a purchase. Take the time to review this section carefully.</p>

                  <p>
                    15. <b>Authors of the items you bought promise that:</b>
                  </p>
                  <ol>
                    <li>their own or the buyer has the right to use intellectual property rights in items and items that do not infringe the intellectual property rights of third parties;</li>
                    <li>the item is incorrect, inaccurate, misleading, fraudulent, unlawful or libelous;</li>
                    <li>items does not violate any applicable law or regulation (including the governing export control, consumer protection, unfair competition, criminal law, pornography, anti-discrimination, the practice of the trade or fair trade)</li>
                    <li>item does not contain viruses or any other computer code, files or programs designed to limit or destroy the functionality of other computer software or hardware.</li>
                  </ol>

                  <p>Here is how I promised you when you buy the item.</p>

                  <p>16. <b>Taxes:</b></p>
                  <ol>
                    <li >
                      Prices and charges are included where relevant transactional taxes (such as sales tax, VAT), except for the following (which will be added as part of the total price buyers see before completing a purchase): (a) VAT (if applicable) and ( b) any other transaction taxes we stated in the site will be added.
                    </li>
                     <li >
                      You are responsible for paying all other costs and taxes associated with the use of Themeindo Market wherever imposed (including income tax, if applicable). We may collect information to determine the geographic location of your site, which can be used for tax purposes (so that the location information you provide must be accurate for the purposes of tax residency).
                    </li>
                  </ol>

                  <p>17. <strong>Items with an incorrect price or incorrect information</strong>: Despite our reasonable efforts, the item may sometimes listed at an incorrect price or with incorrect information. If this happens, we may cancel or reverse a transaction, even after it is completed and payment has been processed. If we do this, we will immediately arrange for payment to be credited or refunded and you do not have to use the item.
                  </p>

                  <h3 id="refunds">Refunds</h3>

                  <p>18. Given the nature of the digital download, we generally do not offer a refund or credit on purchases unless required under the law of Indonesian consumers or consumer protection laws related. If you want to request a refund or credit purchase, you have to open a ticket service.
                  </p>

                  <p>19. We will assess your refund in advance, given the digital nature and type of item Themeindo Market preview items available before buying. There is no obligation to provide a refund or credit in situations such as the following:
                  </p>

                  <ol>
                    <li>You have changed your mind about an item;you have changed your mind about an item;</li>
                    <li>You buy an item by mistake;</li>
                    <li >You do not have sufficient expertise to use items;</li>
                    <li >
                      You can no longer access the item because it has been removed by the author of Themeindo Market (we suggest you to download the item as soon as you buy it to avoid this situation).
                    </li>
                  </ol>

                  <p>20. If we decide to issue a refund or credit, this will be done using the same method that is used to make a purchase. So if the items are purchased using a particular payment method you will be returned using the same payment method in reverse. Payments to you will be made in US dollars.
                  </p>

                  <p>
                    It is important that you understand how the return to work on Themeindo Market.
                  </p>
                </div>
              </section>

              <section id="intellectual-property">
                <h2>Intellectual Property</h2>
                <div>
                  <p>21. <b>What we own:</b> We have all the content that we have put in Themeindo Market (unless otherwise stated, and does not include content that is owned by someone else). This includes the design, compilation, and the look and feel of the site Themeindo Market, and copyrights, trademarks, designs and other intellectual property Themeindo Market. We have all trademarks, logos, service marks and trade names of Themeindo Market (unless otherwise stated, and not including those owned by others). You will not copy, distribute, modify or create derivative works from any Content Themeindo us or use our intellectual property in any manner not expressly stated in these terms.</p>

                  <p>22. <b>What we don’t own:</b> We do not have the item in Themeindo Market; Our authors are doing. So we can not take responsibility for the quality, safety or legality of the items. We do not guarantee that the item or member content, code, data or materials available on or through Themeindo Market does not infringe the intellectual property rights of third parties. (Each author warrants to you directly when you buy their items)</p>

                  <p>23. <b>Copyright, trademark and intellectual property claims:</b> We respect the intellectual property rights of others, and we require the author to do the same. If you believe that content item or member violates the intellectual property (including copyrights) please refer to the information in our Content Policy.</p>

                  <div class="grey-panel-body">Our Content Policy is where you will find all the information related to how we treat Themeindo Market intellectual property including copyright and other rights.</div>
                </div>
              </section>

              <section id="intellectual-property">
                <h2>Our use of your information</h2>
                <div>
                  <p>24. <b>Privacy</b>: We respect your privacy. When you become a member you will be asked to provide some information about yourself. This information may be used by us and the contractor in connection with providing Themeindo Market site and their services, including marketing activities.</p>
                  <div class="grey-panel-body">
                    Our Privacy Policy describes how we treat your information and forms part of these terms.
                  </div>
                  <p>25. <b>Confidential Information</b>: We appreciate the information and prevention to protect it. While we take reasonable steps to maintain the security of your information, please note that we can not promise that the use Themeindo Market will be confidential, and we can not promise that any information you provide to us is completely safe. While using Themeindo Market, you can also know about our confidential information or other members. You promise not to disclose confidential information that is made available to you through Themeindo Market to others.</p>
                </div>
              </section>

              <section id="housekeeping">
                <h2>Legal Housekeeping</h2>
                <div>
                  <p>26.
                    <strong>Eligibility, suspension or termination</strong>: Membership is not an
                    automatic right, it is a benefit for community members who follow our
                    reasonable rules and treat other community members well. We hope that you
                    will be with us for a long time. But we do reserve the right, based on our
                    reasonable discretion, to determine whether or not your use of Themeindo
                    Market complies with these terms. We can suspend or terminate your
                    Themeindo Market account at any time for any reason (acting reasonably of
                    course), including if you don’t comply with these terms. If we do decide to
                    permanently terminate your Themeindo Market account you must not apply for a new
                    account as unfortunately you will no longer be welcome in our community.
                  </p>
                </div>

                <div class="grey-panel-body">
                  <h3>Our indemnity to you</h3>
                  <p>27. We provide Themeindo Market, not goods in Themeindo Market. We are responsible and accountable for:
                  </p>

                  <ol>
                    <li >
                      our use of the Themeindo Market;
                    </li>
                    <li >
                      the services, messages, Themeindo Content, software or other information we
                      send through Themeindo Market;
                    </li>
                    <li >
                      themeindo Content breaching of any intellectual property rights belonging to
                      others;
                    </li>
                    <li >
                      our breach of these terms;
                    </li>
                    <li >
                      our breach of any industry code, regulation or law that applies.
                    </li>
                  </ol>

                  <p></p>

                  <h3 id="yourindemnitytous">Your indemnity to us</h3>
                  <p>28. You are liable and responsible for:</p>

                  <ol>
                    <li >
                      your use of the Themeindo Market;
                    </li>
                    <li >
                      the items, message, content, information, software or other materials you
                      send through Themeindo Market;
                    </li>
                    <li >
                      your content breaching any intellectual property rights belonging to
                      others;
                    </li>
                    <li >
                      your breach of these Themeindo Market Terms;
                    </li>
                    <li >
                      your breach of any license of an item;
                    </li>
                    <li >
                      your breach of any industry code, regulation or law that applies.
                    </li>
                  </ol>

                  <p>29. We have no responsibility to you or to any other person for all liabilities, costs, expenses (including legal fees) and loss arising from third party claims due to any of the matters.

                  <p>This means that you protect us from the costs and claims incurred due to your actions on the site.</p>

                  <p>30. ​​We reserve the right, at its own expense, to assume the exclusive defense and control of any matter other than that set compensation by you, and in such case, you agree to cooperate with our defense of these claims.</p>

                  <p>31. Availability: We strive to have Themeindo Market is available to you 24 hours a day, seven days a week, but you know how the internet works: sometimes you may not be able to access Themeindo Market, and this may occur for any reason, at any time, with or without notice, or our absolute discretion. We also may alter the aspect of how Themeindo Market works. We will not be liable to you for your loss, suffered as a result of these things.</p>   
                </div>

                <p>32. <b>Third party</b>: If you’re agreeing to these terms on behalf of someone else (like your employer), then you’re promising to us that you have full legal authority to bind that third party.</p>

                <div class="grey-panel-body">
                  <p>33. <b>Disclaimer</b>: In some places there may be consumer or fair trading laws that apply and that may give you rights that we cannot exclude, restrict or modify (‘non-excludable law’). We do not exclude or modify any non-excludable law. Except as provided in a non-excludable law, we are bound only by the express promises made in these terms and we are not bound by implied terms. Except as provided in a non-excludable law, our and each author’s liability for breach of any implied warranty or condition which cannot be excluded is limited, at our or the author’s option, to either replacement or paying the cost of replacement.</p>
                </div>

                <div>
                  <p>34. <b>The relationship between the parties</b>: Not in this case should be construed as a partnership, joint venture, employment or agency relationship between you and us, or between you and other members. Neither you nor we can bind to each other in any way. We are, however, only the author's agent for the limited purpose of providing a guarantee to the buyer author.</p>

                  <p>35. <b>Notices</b>: Any notice you submit must be submitted via support ticket. Any notice we send you will be sent by email to the email address of your account Themeindo Market.</p>

                  <p>36. <b>Changes in Terms Themeindo Market</b>: Although we can change our terms at any time we will take reasonable steps to let you know when we do.</p>

                  <p>37. <b>Interpretation</b>: The words 'including' and 'inclusive' are not words of limitation and where everything in our discretion we mean our discretion.</p>

                  <p>38. <b>Governing Law</b>: We control and operate Themeindo Market from our offices in Indonesia. Indonesian law requires these user requirements, and you submit to the jurisdiction of the courts there.</p>
                </div>
              </section>

              <section id="definitions">
                <h2>Definitions</h2>
                <div>
                  <p><b>Author</b>:<br> a member who makes items available for sale on Themeindo Market.</b></p>
                  <p><b>Buyer</b>: <br>a member who ‘buys’ items on Themeindo Market.</b></p>
                  <p><b>Buyer services fee</b>:<br>
                  the fee for the services buyers get from Themeindo like ticket support, fraud protection, item quality control and other related buyers services.</p>
                  <p><b>Themeindo content</b>:<br>
                  is all the content that we have put on Themeindo Market and includes the design, compilation, and look and feel of the Themeindo Market, and copyright, trademarks, designs and other intellectual property on the Themeindo Market (unless otherwise stated and excluding content owned by others like Author content).</p>
                  <p><b>Themeindo Market account</b>:<br>
                  what you receive when you become a Member which gives you access to  Themeindo Market sites.</p>

                  <p><b>Handling fee</b>:<br>
                  the fee buyers may pay when using a payment method.</p>

                  <p><b>Item price</b>:<br>
                  the price buyers pay for the license to use an item.</p>

                  <p><b>Items</b>:<br>
                  digital goods found on Themeindo Market like WordPress themes, Website HTML & CSS Themes and much, much more.</p>

                  <p><b>List price</b>:<br>
                  the price you see on an item page on Themeindo Market, which is made up of the item price and buyer services fee.</p>

                  <p><b>Member</b>:<br>
                  a person who signs up by creating an account and accepting these terms.</p>

                  <p><b>Member’s statement</b>:<br>
                  the record of payments by you to Themeindo (as a buyer) and by Themeindo to you (as an author).</p>

                  <p><b>Payment method</b>:<br>
                  any payment agent or method we make available on the Themeindo Market.</p>

                  <p><b>Total price</b>:<br>
                  the price the buyer will pay in total, which consists of the item price, Themeindo's buyer services fee and handling fee (if applicable) and any taxes.</p>

                  <p><b>Your content</b>:<br>
                  everything that you post on the Themeindo Market, or send via the Themeindo Market to other members and to us including items, files, communications and materials.</p>

                  <p>Version 1.1 - Effective date: March 22, 2015.</p>
                </div>
              </section>
            </div>
          </div>
        <% elsif params[:id] == 'Author Terms' %>
          <div class="content-s">
            <ul class="list-terms">
              <li ><a href="#welcome">Welcome</a></li>
              <li ><a href="#becoming-an-author">Becoming an author</a></li>
              <li ><a href="#selling">How selling your items works</a></li>
              <li ><a href="#payments">How do payments of earnings work</a></li>
              <li ><a href="#author-house">Author house keeping</a></li>
              <li ><a href="#definitions">Definitions</a></li>
            </ul>

            <div id="main">
              <section id="welcome">
                <h2>Welcome</h2>
                <div>
                  <p>1. Hi, we are Themeindo. We've met before more on Terms Themeindo Market. It's good to see you again and we were really glad you are interested in becoming a author with us.</p>

                  <p>2. Imagine creating what you want, from the comfort of your own home, make passive income whether you work or not, if you want to be a author of our community you must get approval directly from the verification team Themeindo. Remember that if you become a author you must agree to the terms imposed our verification team.</p>

                  <p>3. Being a author is easy and if you have reached this point then you're already a member, and you have accepted our Terms Themeindo Market. The terms additional to the author ('Terms of Authors') is an additional part of Themeindo Market Conditions that apply specifically to the author in Themeindo Market. You have to agree with them before you can become a author. It regulates relations, rights and obligations to our authors and buyers who use Themeindo Market. You agree to put your stuff in Themeindo Market and make them available to the buyer on the basis stated in the Terms Themeindo Market and author Conditions.</p>

                  <div class="grey-panel-body">
                    <p>As a author in Themeindo Market you have a responsibility to us and the buyer of your goods. Take the time to review the Author Conditions carefully.</p>
                  </div>

                  <p>4. When we say 'you in the Author of this provision we refer to you, the author. All other words defined or described in terms Themeindo Market has the same meaning here. If there is any inconsistency between what we say in the author terms and what is in the Terms Themeindo Market, what we say in Author Conditions apply.</p>

                  <p>5. Read on for details about your responsibilities as a author, the process of selling your stuff on Themeindo Market and how you can earn money with us.</p>
                </div>
              </section>

              <section id="becoming-an-author">
                <h2>Becoming an author</h2>
                <div>
                  <p>6. <b>Becoming an author is free</b>: Becoming an author and putting your items up on the Themeindo Market is free but there is a review process before your items go live. There are a few things you promise in exchange for the right to be an author, which are outlined in these Author Terms.</p>

                  <p>7. <b>Process to become an author</b>: There are easy steps you follow to sign up as an author, which are outlined on the Themeindo Market Become an Author guide. There you’ll find instructions and resources that will help you get started. You’ll also find information about payment, submission requirements and other important information about being an author on our Author Guide page.</p>
                  </p>
                </div>
              </section>

              <section id="selling">
                <h2>How selling your items works</h2>
                <div>
                  <p>8. The list price is the price you see on an item page on Themeindo Market and is made up of two components:</p>

                  <ol>
                    <li><b>Item price (License)</b> : When you ‘sell’ an item, you’re making your item available to buyers to use that item under certain conditions; you’re not actually selling the item itself. What you’re selling includes a license directly to the buyer to use that item.</li>

                    <li><b>Buyer services fee</b>: The item price a buyer pays also includes a fee for the buyer services they get from Themeindo like buyer support ticket, fraud protection, item quality control and other related buyers services.

                      <div class="grey-panel-body">The total price a buyer pays may include other components like a handling fee and taxes. See Themeindo Market Terms for information about the total price.</div>
                    </li>
                  </ol>

                  <p>9. <b>Your earnings</b>; author fee: When your item is sold on Themeindo Market, you will earn the item price component of the list price less an author fee that we charge. The author fee is what you are charged by Themeindo for use of our platform and services as an author. The author fee you pay to us is set out in the rates schedule that we can change at our discretion, from time to time. Any changes to these rates will take effect on and from the date on which notice of the variation is posted by us on Themeindo Market.</p>

                  <p>10. <b>We set the price of goods</b>: We know how valuable your creations to you and we strive to make the price of the goods you are fair and will be in accordance with market prices. However, you acknowledge and agree that we have absolute control over prices for goods Themeindo Market.</p>

                  <p>11. <b>Review</b>: When you think you’ve created an item suitable for the Themeindo Market, you will submit that item to us to check the quality and whether it contains adequate information for buyers. We have rules about what we accept and don’t accept and you can read up on these in our author-related Themeindo Market information. Although we always like to provide constructive feedback we’re not obliged to give you any reasons for rejecting your item. We have the final say on whether items are accepted for the Themeindo Market.</p>
                </div>
              </section>

              <section id="payments">
                <h2>How do payments of earnings work</h2>
                <div>
                  <div class="grey-panel-body">
                    <p>This section describes how to get a piece of income in Themeindo Market and important information about the payment to your account, and the withdrawal and reduction of your account. Take a close look!</p>
                  </div>
                  <h2>Earnings payment:</h2>
                  <p>12. We will pay you the price of the goods component of the total price less the cost of the author ('Your income' or 'income'). In order for us to do this, you authorize us to collect payment for your goods, to distribute your earnings to you.</p>

                  <p>13. To avoid confusion, only the income from the sale of your goods will be paid to you.</p>

                  <p>14. <b>Earnings payment timing and methods</b>:<br>
                    <ol>
                      <li>You asked us to hold the balance of your income until you ask pembayaran.Anda can do this by setting up an automatic payment request. We will continue to hold your income until we receive a request for withdrawal unless for some reason we decided to pay you your earnings without request.</li>

                      <li>When we get a request for payment, we will pay you the next payment cycle as stated on page Author our guide.</li>

                      <li>You must provide us with the correct details and method of payment when you ask your income.</li>

                      <li>we reserve the right to pay your income for you, at any time, at our discretion.</li>

                      <li>You may cover part or all of the costs incurred by us in paying the money to you.</li>
                    </ol>
                  </p>

                  <p>15. <b>Potential deductions </b>:<br>
                    <ol>
                      <li>Metode pembayaran yang tersedia bagi pembeli untuk membeli barang-barang Anda melibatkan agen pembayaran yang memiliki persyaratan standar mereka sendiri dan kondisi mengenai pengembalian uang, tolak bayar, biaya dan transaksi yang tidak sah (yang kami tidak mengontrol). Jika transaksi Themeindo Market pada item yang dikenakan pembayaran agen pengembalian uang, tolak bayar, biaya dan transaksi yang tidak sah, kami akan secara otomatis mengurangi jumlah mereka dari akun Themeindo Market Anda.</li>

                      <li>Kami juga dapat memutuskan untuk mengeluarkan kredit atau pengembalian dana kepada pembeli dalam kondisi tertentu yang melibatkan masalah dengan item Anda, atau transaksi dapat dibatalkan karena alasan lain. Jika itu terjadi, kami berhak untuk memotong dari Themeindo Market akun setiap jumlah yang seharusnya dapat dibayarkan kepada Anda.</li>
                    </ol>
                  </p>

                  <p>16. <b>Payment mistake</b>: We will continue to hold your income if we are not able to pay your income to you for any reason, including if:<br>
                    <ol>
                      <li>we do not have the correct payment details;</li>
                      <li>we can not contact you using the contact details you have given;</li>
                      <li>You have not made a request for payment; or</li>
                      <li>You ask for a payment made to a person, institution or country that we are prohibited to make payments, or where there are limitations in the banking system.</li>
                    </ol>
                  <p>

                  <p>17. <b>Currency conversion</b>: Every time we make a payment to you as a author, you are responsible for all costs to convert the amount of the payment of US dollars into the currency of your choice. Your financial institution perform currency conversion and will charge an extra fee (we do not control either the conversion rate or the cost of your financial institution).
                  </p>

                  <p>18. <b>Holding earning</b>: If we decide that your item does not comply with applicable laws or rules or our guidelines, including the Terms and Conditions Author Themeindo Market, we may at our discretion disable the item or your membership. See our Content Policy for more information. We also can hold a profit on items up to two years, and may release them in retained earnings during the period when we are satisfied that any dispute or problem about the item you have overcome.</p>
                </div>
              </section>

              <section id="author-house">
                <h2>Author house keeping</h2>
                <div>19. <b>Taxes</b>:<br>
                  <ol>
                    <li>As an author in Themeindo Market, you are responsible for paying any applicable taxes.</li>
                    <li>If required by law, we can reduce or cut taxes (including income tax) in connection with your being a author. If so, we will provide the relevant documentation required by the law of cutting or cutting.</li>
                    <li>We may collect information to determine the geographic location of your location, and other information from you that may be used for tax purposes (so that the information you provide us to be accurate).</li>
                  </ol>
                  <p>20. <b>Invoices</b>: We will issue invoices (or in some cases tax invoices) for transactions between authors and buyers on Envato Market.</p>

                  <p>
                    <h2>Your promises and responsibilities:</h2>
                    <p>21. <b>As a author you promised to us and any buyer of goods you are</b>:<br>
                      <ol>
                        <li>You own or have the right to use intellectual property rights in items and items that do not infringe the intellectual property rights of third parties;</li>
                        <li>the item is incorrect, inaccurate, misleading, fraudulent, unlawful or libelous;</li>
                        <li>items does not violate any applicable law or regulation (including the governing export control, consumer protection, unfair competition, criminal law, pornography, anti-discrimination, the practice of the trade or fair trade);</li>
                        <li>item does not contain viruses or any other computer code, files or programs designed to limit or destroy the functionality of other computer software or hardware.

                          <div class="grey-panel-body">
                            As a author who has the responsibility to us and the buyer of your goods. Take a moment to understand your responsibility! 
                          </div>
                        </li>
                      </ol>
                    </p>

                    <p>
                      22. <b>As a author you promise us that you will</b>:<br>
                      <ol>
                        <li>do not use Themeindo Market to offer goods or services to the buyer the non-Themeindo;</li>
                        <li>do not buy things on your own;</li>
                        <li>follow the guidelines provided by our author, acting in good faith, and to provide assistance and cooperation as we reasonably request.</li>
                      </ol>
                    </p>

                    <p>23. <b>Buyers' item you</b>: We are not responsible for any loss suffered by you as a result of the use of the buyer makes your items contrary to the provisions Themeindo Market or licensing items.</p>

                    <p>24. <b>We use the items you</b>: We may use all or part of your belongings to promote Themeindo Market. Use of this promotion may include the use of public relations, e-mail, the feature pages, or on other sites (eg social networks). No compensation is paid for the use.</p>

                    <p>25. <b>Goods removal</b>: We reserve the right to delete an item for any reason, use reasonable discretion. For example, we can review the library to keep fresh and full Envato market quality goods that meet the latest technical standards and market trends. Also, the problem of the items may be brought to our attention as a mistake, representation, or even a violation. Our goal has always been to resolve this situation with you constructively. We also aim to provide notification before the item is removed, but this is not always feasible or possible, so we can not guarantee this. We will not be responsible for any loss that you may suffer as a result of your deleted items.
                    </p>
                  </p>

                  <h2>Personal information of members</h2>

                  <p>26. In order to facilitate a transaction on Themeindo Market, we may provide you with relevant buyer information and also may provide buyers with your relevant information (for example for invoicing or item support services). You agree that you will keep buyer information confidential and only use this information for that Themeindo Market transaction.</p>

                  <p>27. If, over and above what Themeindo provides you with, a member voluntarily provides you with (or your item accesses or uses) usernames, passwords or other personal information of the member (personal information), you must:</p>
                  <ol>
                    <li>provide a privacy notice, making the member aware of their personal information that you will receive and how you will handle that information;</li>
                    <li>obtain the member’s permission to use their personal information;</li>
                    <li>use the personal information only for the limited purposes for which the member gave permission; and</li>
                    <li>meet any privacy and spam law requirements that apply to you.
                      <div class="grey-panel-body">For an idea about how we deal with user information see our Privacy Policy.</div>
                    </li>
                  </ol>

                  <h2>Legal housekeeping</h2>
                  <div class="grey-panel-body">
                    28. The relationship between us and you: Nothing in these terms shall be construed as a partnership, joint venture, employment or agency relationship between you and us. Neither you nor we can bind to each other in any way.
                  </div>
                </div>                
              </section>

              <section id="definitions">
                <h2>Definitions</h2>
                <div>
                  <p><b>author</b>: <br>members who make the goods available for sale in Themeindo Market.</p>

                  <p><b>authors costs</b>:<br>
                    is what you may be charged by Themeindo to use our services platform and as a author.
                  </p>

                  <p><b>Buyer service costs</b>:<br>
                    fee for service buyers get from Themeindo as support ticket assistance, fraud protection, control the quality of goods and services other relevant buyers.
                  </p>

                  <p><b>Price of goods</b>:<br>
                    the price the buyer pays for the relevant license for the right to use the item.
                  </p>

                  <p><b>list price</b>: <br>
                    is the price that you see in the pages of items on Themeindo Market and consists of the cost price of the goods and services the buyer.
                  </p>

                  <h2>Go forth and author!</h2>

                  <p>We’re very glad you’ve made it to the end of this important document. You can head over and read the Author Guide which will run through all the practical and operational stuff you’ll need to know.</p>

                  <p>We wish you all the very best in selling your items on the Themeindo Market.</p>
                  <p>Version 1.1 - Effective date: March 22, 2015.</p>
                </div>
              </section>
            </div>
          </div>
        <% elsif params[:id] == 'Privacy Policy' %>
          <div class="content-s">
            <div id="main">
              <h4>Our contact information</h4>
              <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

              <h4>What personal information do we collect from the people that visit our blog, website or app?</h4>
              <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number or other details to help you with your experience.</p>

              <h4>When do we collect information?</h4>
              <p>We collect information from you when you register on our site, subscribe to a newsletter, fill out a form or enter information on our site.</p>

              <h4>How do we use your information?</h4>
              <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
              <ul>
                <li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                <li>To improve our website in order to better serve you.</li>
                <li>To allow us to better service you in responding to your customer service requests.</li>
                <li>To quickly process your transactions.</li>
                <li>To send periodic emails regarding your order or other products and services.</li>
              </ul>

              <h4>How do we protect visitor information?</h4>
              <ul>
                <li>We use vulnerability scanning and/or scanning to PCI standards.</li>
              </ul>

              <h4>Do we use 'cookies'?</h4>
              <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
              <p>
                <b>We use cookies to</b>:<br>
                <ul>
                  <li>Help remember and process the items in the shopping cart.</li>
                </ul>
              </p>
              <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</p>
              <p><b>If users disable cookies in their browser</b>:<br>
                <p>If you disable cookies off, some features will be disabled It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.</p>
                <p>However, you can still place orders .</p>

                <h4>Third Party Disclosure</h4>
                <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information unless we provide you with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety. </p>
                <p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

                <h4>Third party links</h4>
                <p>We do not include or offer third party products or services on our website.</p>

                <h4>Google</h4>
                <p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en </p>
                <p>We use Google AdSense Advertising on our website.</p>
                <p>Google, as a third party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables it to serve ads to our users based on their visit to our site and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.</p>
                <p>
                  <b>We have implemented the following</b>:<br>
                  <ul>
                    <li>Remarketing with Google AdSense</li>
                  </ul>
                </p>

                <p>We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding user interactions with ad impressions, and other ad service functions as they relate to our website.</p>

                <h4>COPPA (Children Online Privacy Protection Act)</h4>

                <p>When it comes to the collection of personal information from children under 18, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>

                <p>We do not specifically market to children under 18.</p>
                
                <h4>CAN SPAM Act</h4>
                <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>

                <p>
                  <b>We collect your email address in order to</b>:
                  <ul>
                    <li>Send information, respond to inquiries, and/or other requests or questions.</li>
                    <li>Process orders and to send information and updates pertaining to orders</li>
                    <li>We may also send you additional information related to your product and/or service.</li>
                    <li>â€¢ Market to our mailing list or continue to send emails to our clients after the original transaction has occurred</li>
                  </ul>
                </p>

                <p>
                  <b>To be in accordance with CANSPAM we agree to the following</b>:
                  <ul>
                    <li>NOT use false, or misleading subjects or email addresses</li>
                    <li>Identify the message as an advertisement in some reasonable way</li>
                    <li>Include the physical address of our business or site headquarters</li>
                    <li>Monitor third party email marketing services for compliance, if one is used.</li>
                    <li>Honor opt-out/unsubscribe requests quickly</li>
                    <li>Allow users to unsubscribe by using the link at the bottom of each email</li>
                  </ul>
                </p>

                <p>
                  <b>If at any time you would like to unsubscribe from receiving future emails, you can email us at</b>
                  <ul>
                    <li>Follow the instructions at the bottom of each email.</li>
                  </ul>
                </p>

                <p>and we will promptly remove you from ALL correspondence.</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<%= render "shareds/footer" %>