<%= render "shareds/top_menu" %>
<section class="section-header-show">
  <div class="container">
    <%= render "shareds/breadcrumb" %>
    <div class="row">
      <div class="portfolio-header col-md-12">
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-3 photo-portfolio">
              <%= image_tag @profile.try(:avatar).url(:small) %>
            </div>
            <div class="col-xs-9">
              <h3>
                <%= @user.try(:username).titleize %>
              </h3>
              <span>
                <a href="mailto:<%= @user.try(:email) %>">
                  <%= @user.try(:email) %>
                </a>
              </span>
              <br>
              <span>
                <%= @address.try(:address) %> <%= @address.try(:city) %>, <%= @address.try(:country) %>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h6 class="float-right">
            <i class="fa fa-eye"></i>
            <%= @user.impressionist_count %> people already visited this page<br>
            <% if current_user %>
              <%= link_to "#{@user.score} Like <i class='fa fa-thumbs-up'></i>".html_safe, like_path(@user), class: "btn btn-success float-right margin-top10" %>
            <% else %>
              <a href="#signin" class= "btn btn-success float-right margin-top10" data-toggle="modal" data-target=".bs-modal-sm">
                <%= @user.score %> Like <i class='fa fa-thumbs-up'></i>
              </a>
            <% end %>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-list-catalog background-bluesky">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div id="property-listings">
          <% @catalogs.each_with_index do |resource, index| %>
            <% cache ["result_catalogs_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
              <%= render partial: 'shareds/catalogs/root_list', locals: {resource: resource} %>
            <% end %>
          <% end %>
          <div class="row">
            <div class="col-md-12">
              <%= paginate @catalogs %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'side_right_portfolio' %>
    </div>
  </div>
</section>

<%= render "shareds/footer" %>
