<div class="control-group">
  <label class="control-label">Status</label>
  <div class="controls">
    <%= f.check_box :status %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'span7' %> 
  </div>
</div>

<div class="control-group">
  <label class="control-label">Description</label>
  <div class="controls">
    <%= f.cktext_area :description %>
  </div>
</div>

