/*
  Theme   : DarkGreen
  Company : Creative Design Jakarta
  Author  : Alam Topani Herdiansyah
  Themeindo Theme
  Version 1
*/

/********************************/
/*      Components Custom       */
/********************************/
body{
  color:#212b48;
  font-size: 13px;
}
a{
  color: #1fb4da;
}
a:hover{
  text-decoration: none;
}

/********************************/
/*        Loading Custom        */
/********************************/
.loading{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #1fb4da;
  background-image: url('ajaxload.gif');
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}
.logo-load{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.alert-new .alert{
  margin: 0!important;
}
.p-error{
  padding: 10px;
  text-align:center;
}

/********************************/
/*         Scrollup Custom      */
/********************************/
.scrollup {
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  display: none;
  background: #384452;
  opacity: 0.7;
  border-radius: 50%;
  border: 0;
  text-align: center;
  z-index: 3;
  transition: background 0.4s;
}
.scrollup i {
  color: #ffffff;
  font-size: 17px;
  display: block;
  line-height: 38px;
}
.scrollup:hover {
  background: #ffffff;
  border: 1px solid #384452;
}
.scrollup:hover i {
  color: #4B4B4B;
}

/********************************/
/*            Top Bar           */
/********************************/
.top-bar{
  background: #232323;
  border-bottom: 2px solid #000;
  padding: 6px 0;
  width: 100%;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -ms-box-shadow: 0 0 4px #000000;
  -o-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
}
.top-bar span{
  float: left;
  color: white;
  padding: 5px 0;
}
.login-reg-actions .btn{
  background: #333;
}
.login-reg-actions .btn:hover{
  background: #000;
  color: #fff!important;
}
.login-reg-actions a{
  color: #ddd;
}
.login-reg-actions .create-account{
  color: #fff;
}
.login-reg-actions span{
  padding: 0;
}
.login-reg-actions .cart-btn{
  border-left: solid 1px #000;
  border-right: solid 2px #000;
}
.cart-text .fa, .menu-notification .fa{
  margin-right: 5px;
}
.nav-account .open > a, .nav-account .open > a:hover, .nav-account .open > a:focus {
  background-color: #000!important;
  border-color: #428bca;
}
.dropdown-menu .divider{
  margin: 0;
}
.nav-account .dropdown-menu{
  padding: 0;
}
.nav-account .dropdown-menu li a{
  padding: 8px 15px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
  z-index: 1000;
}
.main-text .search-big{
  margin-top: 30px;
}
.modal-sign{
  color: #222;
}
.modal-sign a{
  color: #1fb4da;
}
.or-section{
  margin-bottom: 20px;
  margin-top: 10px;
}
.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}


/********************************/
/*       Notification Bar       */
/********************************/
.menu-notification{
  background: #4D687D;
}
.menu-notification li a{
  padding-left: 0;
  color: #222!important;
}
.menu-notification li{
  padding-left: 0;
  color: #222!important;
}
.menu-notification .label{
  font-size: 10px;
  padding: 2px 4px;
  margin: 0 5px;
}
.dropdown-notification{
  width: 300px !important;
}
.content-notification{
  padding: 0px 10px 10px 10px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  float: left;
}
.photo-notification{
  width: 35px;
  height: 35px;
  margin-right: 6px;
  overflow: hidden;
}
.content-notification .date-notification{
  font-size: 12px;
  float: right;
  color: #A4A4A4;
}
.content-notification h5{
  line-height: 15px;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 6px;
}
.content-notification p{
  line-height: 15px;
  font-size: 13px;
  margin-bottom: 0;
}
.content-notification small{
  float: left;
}
.photo-notification img{
  width: 100%;
  height: auto;
}
.msg-content a{
  color: #222;
  color: 11px;
}
.view-all-notification a{
  background: #F5F5F5;
}
.view-all-notification a:hover{
  background: #E6E6E6 !important;
}


/********************************/
/*       Components Bar         */
/********************************/
.full-width{
  width: 100%;
}
.margin0{
  margin: 0;
}
.margin-top10{
  margin-top: 10px;
}
.list-terms li{
  font-size: 18px;
}
.content-terms section{
  padding: 10px 0;
}
.grey-panel-body {
  padding: 10px;
  background: #f5f5f5;
  margin: 10px 0;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

/********************************/
/*          Table Fiture        */
/********************************/
.table-item-attributes{
  font-size: 12px;
  width: 100%;
}
.table-item-attributes td:first-child {
  font-weight: bold;
}
.meta-attributes__attr-name{
  padding: 6px 0;
  width: 30%;
}
.meta-attributes__attr-detail{
  width: 50%;
}
.meta-attributes tr td {
  font-size: 13px;
  vertical-align: middle;
  padding-top: 9px;
  padding-bottom: 9px;
  vertical-align: top;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
}
.meta-attributes tr:last-child td{
  border-bottom: 0;
}

/********************************/
/*       Update Form User       */
/********************************/
.update-profile-form .row{
  margin-top: 10px;
  font-size: 12px;
}

/********************************/
/*         Round Button         */
/********************************/
.btn-primary-fb {
  color: #fff!important;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
.btn-primary-fb:hover{
  opacity: 0.9;
  color: #fff;
}
.round-btn.big {
  border: 2px solid;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  color: #fff;
  display: table;
  float: none;
  font-size: 15px;
  margin: 0 auto;
  padding: 10px 150px;
}
.round-btn {
  border: 1px solid #555555;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  color: #444444;
  float: right;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.3px;
  padding: 11px 30px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: #018763;
}
.round-btn:hover {
  color: #018763;
  font-weight: bold;
  border: solid 2px #018763;
  background: white;
}
.box-icon-about {
  background-color: #57a544;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  padding: 20px 0;
}
.btn {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-success{
  background: #2eafbb;
}
.avatar{
  width: 100%;
  border: solid 1px #ccc;
}

/********************************/
/*         Modal Button         */
/********************************/
.modal-dialog{
  overflow: hidden;
  border-radius: 5px;
  margin: 15px auto;
}
.modal-header{
  background: #1fb4da;
  color: #ffffff !important;
  padding: 19px 15px;
}
.modal-header h1, .modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5, .modal-header h6{
  margin: 0;
}
.modal-content{
  border-radius: 0;
  border: 0;
}
.modal-body .col-md-12{
  float: left;
}
.modal-confirm .modal-header{
  background: #1fb4da;
  color: initial !important;
}

/********************************/
/*        Social Content        */
/********************************/
.follow-us a {
  color: #ffffff;
  width: 34px;
  height: 34px;
  margin-right: 9px;
  font-size: 18px;
  padding: 6px;
  transition: opacity 0.4s;
}
.follow-us .site-facebook {
  background: #3a599c;
}
.follow-us .site-twitter {
  background: #4b91ce;
}
.follow-us .site-google-plus {
  background: #dd4b39;
}

/********************************/
/*          Magnify Show        */
/********************************/
.magnify {
  position: relative;
  cursor: none
}

.magnify-large {
  position: absolute;
  display: none;
  width: 500px;
  height: 500px;

  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
           border-radius: 100%
}

/********************************/
/*          Content Show        */
/********************************/
.catalog-item-show{
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 12px;
}
.catalog-item-show .button-item-description{
  margin-top: 20px;
}
.description-catalog p{
  margin: 20px 0!important;
  font-size: 13px;
}
nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe.twitter-share-button{ width: 80px !important; }
nav.share iframe.twitter-share-button, nav.share #fb-root {border:0; margin-top:0; padding-top:0; margin-left: 6px; float: right; } /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/

/********************************/
/*       Catalog Comments       */
/********************************/
.comment-comment-wrapper > h3{
  margin-bottom: 18px;
}
.wrapper-comment-list{
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrapper-comment-list:first-child{
  margin-top: 0;
}
.comment-parent{
  overflow: hidden;
  margin-bottom: 10px;
}
.catalog-item #comment_comment{
  height: 56px;
  transition: height 0.5s ease;
}
.catalog-item #comment_comment:focus{
  height: 86px;
}
#comment_comment.form-reply-comment{
  height: 46px;
  transition: height 0.5s ease;
}
#comment_comment.form-reply-comment:focus{
  height: 66px;
}
.comment-username{
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}
.comment-date{
  margin-left: 10px;
}
.comment-reply-link{
  font-size: 11px;
  text-align: right;
  background: #E4E4E4;
  color: #888888;
  margin: 0 -15px -15px -15px;
  padding: 8px;
}

/*COMMENT CHILDREN / REPLIES*/
.wrapper-comment-list .new_comment{
  display: none;
}


/********************************/
/*      Sidebar Content         */
/********************************/
.sidebar-show {
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 12px;
}
.sidebar-show .price-lg{
  font-size: 35px;
  font-weight: bold;
}
.side-filter-search{
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
}
.side-search-filter-choice .panel-default{
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
}
.side-search-filter-choice .panel-default a{
  color: #232323;
}
.side-search-filter-choice .panel-default .panel-heading {
  background-color: #333 !important;
  color: #ffffff !important;
  padding: 13px 15px;
  float: left;
  width: 100%;
}
.side-search-filter-choice .panel-default table{
  margin-bottom: 0;
}
.side-search-filter-choice .panel a.strong:before{
  content: "√";
  margin-right: 5px;
}
.side-search-filter-choice .panel a.strong{
  font-weight: bold;
  color: #1fb4da;
}

/********************************/
/*          Fonts Custom        */
/********************************/
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.big-font{
  font-size: 18px;
}
.medium-font{
  font-size: 13px;
}
.small-font{
  font-size: 11px;
}

/********************************/
/*      Background Custom       */
/********************************/
.dark{
  background: #333!important;
}
.white{
  background: white!important;
}
.dark-blue{
  background: #212a47!important;
}
.blue{
  background: #1fb4da!important;
  color: white;
}
.red{
  background: rgba(169,3,41,1)!important;
  color: white;
}
.green{
  background: #018763!important;
  color: white;
}
.heart{
  background: #ee6e73!important;
  color: white;
}
.gradient-black{
  background: rgba(76,76,76,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 9%, rgba(44,44,44,1) 18%, rgba(0,0,0,1) 38%, rgba(17,17,17,1) 72%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(9%, rgba(71,71,71,1)), color-stop(18%, rgba(44,44,44,1)), color-stop(38%, rgba(0,0,0,1)), color-stop(72%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 9%, rgba(44,44,44,1) 18%, rgba(0,0,0,1) 38%, rgba(17,17,17,1) 72%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 9%, rgba(44,44,44,1) 18%, rgba(0,0,0,1) 38%, rgba(17,17,17,1) 72%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 9%, rgba(44,44,44,1) 18%, rgba(0,0,0,1) 38%, rgba(17,17,17,1) 72%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 9%, rgba(44,44,44,1) 18%, rgba(0,0,0,1) 38%, rgba(17,17,17,1) 72%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
  color: white;
}

/********************************/
/*          Fonts Custom        */
/********************************/
.color-dark{
  color: black!important;
}
.color-red{
  color: red;
}
.color-blue{
  color: #1779bb!important;
}
.color-white{
  color: white;
}
.color-grey{
  color: #aaa;
}
.color-green{
  color: #00a388;
}
.uppercase{
  text-transform: uppercase;
}
address p{
  font-size: 18px;
}
.section-social-lg .btn{
  font-size: 16px;
  float: right;
}
.section-social-lg a:hover{
  color: #00a388;
}
.italic{
  font-style: italic;
}
.align-center{
  text-align: center;
}

/********************************/
/*         Portfolio Home       */
/********************************/
.portfolio-header{
  margin-bottom: 20px;
}
.portfolio-header .photo-portfolio img{
  width: 100%;
  border: solid 2px #ccc;
  border-radius: 3px;
}
.photo-thumb{
  width: 80px;
  margin-right: 10px;
}
.photo-thumb img{
  width: 100%;
  border: solid 2px #ccc;
  border-radius: 3px;
}
.portfolio-header h3{
  margin-top: 0;
}

/********************************/
/*          Form Custom         */
/********************************/
input[type="radio"], input[type="checkbox"]{
  margin-right: 8px;
  margin-bottom: 8px;
}
.checkbox-setting{
  margin: auto;
  display: table;
  margin-top: 10px;
}

/********************************/
/*         Ticket Custom        */
/********************************/
.ticket-body{
  padding-bottom: 20px;
  float: left;
  width: 100%;
}

/********************************/
/*          Label Custom        */
/********************************/
.label-group-status{
  margin-bottom: 10px;
}
.label-group-status .label{
  margin-right: 5px;
}

/********************************/
/*          Fade Carousel       */
/********************************/
.home-carousel{
  max-height: 500px;
  overflow: hidden;
}
.home-carousel .carousel-inner .item{
  margin: 0;
}
.carousel-control.left, .carousel-control.right {
  background: none!important;
}
.carousel .carousel-inner img{
  margin: auto;
}
.main-text
{
  position: absolute;
  top: 25%;
  width: 60%;
  color: #FFF;
  margin: auto;
  display: table;
  left: 0;
  right: 0;
}
.main-text h1{
  font-size: 38px;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.main-text p{
  font-size: 20px;
  color: #333333;
  text-shadow: none;
}
.btn-min-block
{
  min-width: 170px;
  line-height: 26px;
}
.btn-clear
{
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
  margin-right: 15px;
}
.btn-clear:hover
{
  color: #000;
  background-color: #FFF;
}
.btn-search-now{
  margin-bottom: 10px;
}


/********************************/
/*         Media Carousel       */
/********************************/
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
.media-carousel .carousel-control.left
{
  left: -12px;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #018763;
  background: none!important;
}
.media-carousel .carousel-control.right
{
  right: -12px !important;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #018763;
  background: none!important;
}
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  max-height: 200px;
}


/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}

/********************************/
/*          Go To TopUp         */
/********************************/
.toup {
  padding: 10px;
  line-height: 45px;
  right: 40px;
  bottom: 30px;
  z-index: 99;
  position: fixed;
  text-align: center;
  color: #ffffff !important;
  font-size: 20px;
  background: #018763;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  display: none;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/********************************/
/*          Gmap3               */
/********************************/
.gmap3{
  height: 400px;
  width: 100%;
}

/********************************/
/*      Custom Menu Dropdown    */
/********************************/
#top-navigation .navbar-nav{
  float: right;
}
.navbar-default{
  background: #1fb4da;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.navbar-default .navbar-brand{
  color: #fff;
}
.navbar-toggle {
  padding: 15px 15px;
}
.navbar-nav>li>a {
  padding: 25px 20px;
  text-transform: uppercase;
}
.navbar-brand {
  font-weight: bold;
  padding: 6px;
  float: left;
  height: auto;
}
.navbar-brand img{
  height: 55px;
  width: auto;
}
.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li {
  padding: 20px 15px 15px;
  border-left: 1px solid #eee;
}
.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 100%;
}
.list-dropdown-menu{
  padding: 0;
}
.list-dropdown-menu li a{
  padding: 10px 10px;
  border-bottom: 1px solid #26a4b1;
  color: #fff;
  background-color: #2eafbb;
}
.list-dropdown-menu li a:hover{
  background: #26a4b1;
  color: #fff;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
  background: #26a4b1;
  color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus ,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.mega-dropdown-menu{
  background: #2eafbb;
  color: #fff;
}
.dropdown-menu{
  min-width: 200px;
}

/********************************/
/*          Custom Section      */
/********************************/
.breadcrumb{
  margin-bottom: 0;
  border-radius: 0!important;
}
.breadcrumb a{
  color: #000;
}
section{
  width: 100%;
  float: left;
  padding: 40px 0;
}
section.triangle{
  padding-top: 0;
}
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.grey{
  background: #f5f5f5;
  border-top: 1px solid #e4e4e4;
}
section.gradient-grey{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
section h1{
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #1fb4da;
  font-size: 36px;
  letter-spacing: 0.3px;
  font-weight: normal;
}
section .desc-section-p{
  text-align: center;
  margin-bottom: 30px;
}
section .section-social .btn{
  font-size: 18px;
}
section .section-social{
  margin: auto;
  display: table;
}
section#blog article h4 a{
  color: #1779bb!important;
}
section#blog .date{
  color: #aaa;
  font-size: 12px;
}
section#blog article p{
  text-align: justify;
  color: #000;
}
section h2.page-header{
  text-align: center;
}
section.services{
  padding: 50px 0;
}
section#service .box-icon:hover{
  background: #018763!important;
  border:solid 2px #ccc;
  cursor: pointer;
}
section.services{
  background: #1fb4da;
}
section.services h1, section.services p.desc-section-p{
  color: #fff;
}
section.section-header-show{
  background: #f5f5f5;
  border-bottom: 1px solid #e4e4e4;
  padding: 20px 0;
}
section.section-header-show .breadcrumb-step{
  margin-bottom: 20px;
}
section.section-header-show .search-big{
  border-top: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
}
.section-main-title{
  color: #232323;
  text-transform: none;
}
.tab-item-show{
  overflow: hidden;
}
.tab-item-show a{
  background: #2eafbb;
  float: left;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  padding: 10px 15px;
  color: #ffffff;
  border: 0;
  margin-right: 3px;
}
.tab-item-show a.active{
  background: #fff;
  color: #464646;
}
.section-header-show.for-catalog-show{
  padding-bottom: 0;
  border: none;
}
.hr{
  height: 2px;
  width: 200px;
  margin: auto;
  display: table;
  display: block;
  margin-bottom: 20px;
}

/********************************/
/*       featured tooltips      */
/********************************/

.featured-section{
  display: table;
  margin: auto;
  max-width: 81%;
}
.featured-section .latest-user-item{
  width: 92px;
}
.item-on-profile .po-image{
  border: 4px solid #232323;
  width: 100%;
  display: block;
  position: relative;
}
.popover {
  min-width: 350px;
  padding-bottom: 6px;
  background: #fff;
  color: #232323;
  position: absolute;
}
.popover .tooltips-image{
  margin: 5px 0;
  height: 165px;
  overflow: hidden;
}
.popover .tooltips-image img{
  width: 100%;
  height: auto;
}
.popover-title{
  background: #1fb4da;
  font-weight: normal;
  border-bottom: 0;
  color: #ffffff;
}
.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #1fb4da;
  border-bottom-width: 0;
}
.popover.top .arrow:after{
  border-top-color: #1fb4da;
}
.tooltips-content{
  display: block;
}
.tooltips-desc{
  width: 100%;
  float: left;
  margin: 6px 0 4px 0;
  clear: both;
}
.tooltips-tag{
  font-size: 11px;
  color: #cccccc;
  float: left;
  display: inline-block;
  line-height: 24px;
}
.tooltips-price{
  float: right;
  font-size: 24px;
  font-weight: bold;
}
.popover.bottom .arrow{
  display: none;
}
.item-on-profile .latest-user-item > .tooltips-content{
  display: none;
}
.avatar-responsive img {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.item-on-profile .latest-user-item {
  margin-bottom: 12px;
  cursor: pointer;
  border: 0;
  padding: 0 6px;
}
.wrap-featured-button .btn {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
}

/********************************/
/*          Parallax Section      */
/********************************/
.parallax{
  padding: 0;
}
.ha-bg-parallax {
  background: #000;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 200px;
  margin: 0 auto;
  width: 100%;
  display: table;
  vertical-align: middle;
}
.ha-bg-parallax .ha-parallax-body {
  display: table-cell;
  vertical-align: middle;
}
.ha-bg-parallax .ha-content-whitecolor {
  font-size: 17px;
  color: #ffffff;
  width: 45%;
  margin: auto;
}
.ha-bg-parallax .ha-diamond-divider-md {
  margin: 15px 0px;
}
.ha-bg-parallax .ha-heading-parallax {
  font-style: italic;
  font-weight: bold;
  text-transform: none;
  color: #ffffff;
  padding-bottom: 0px;
}


/********************************/
/*          Timeline Section      */
/********************************/
.timeline-section{
  padding-bottom: 0;
}
/*.timeline-section .timeline-section-desc h1, .timeline-section .timeline-section-desc p{
  color: #000!important;
}*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin-bottom: 0;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline-section-desc h1{
  color: white!important;
}
.timeline-heading img{
  width: 100%;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 95%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #0d7cfe;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  /*background-color: #999999;*/
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #00a388 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body{
  background: white;
  color: #444;
}
.timeline-body > p,
.timeline-body > ul {
  padding:20px;
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-body .year-history{
  color: #00a388;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  margin: auto;
  display: table;
  width: 100%;
}
.timeline-body .title-history{
  font-weight: bold;
  text-align: center;
  margin: auto;
  display: table;
  width: 100%;
}
.timeline-footer{
  padding:20px;
  background-color:#f4f4f4;
}
.timeline-footer > a{
  cursor: pointer;
  text-decoration: none;
}
.timeline > li.timeline-inverted{
  float: right;
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2){
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width:100%;
    float: left;
    clear: left;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

  .timeline > li.timeline-inverted{
    float: left;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .timeline > li.timeline-inverted > .timeline-badge{
    left: 28px;
  }
}

/********************************/
/*    Pinterest Grid Plugin     */
/********************************/

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
}
#pinBoot .content-bottom{
  background: #f5f5f5;
  margin-top: 10px;
  padding: 4px;
  font-size: 20px;
  font-weight: normal;
  color: #1fb4da;
}
#pinBoot h4{
  font-weight: normal;
}
#pinBoot a{
  color: #232323;
}
#pinBoot .content-bottom .price-grid-list{
  color: #232323;
}
.list-catalogs-grid{
  margin-top: 0!important;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/********************************/
/*    Carousel Testimonials     */
/********************************/
#testimonial{
  color: #fff;
  background: #000;
}
#testimonial h1, #testimonial i{
  color: #fff;
}
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-control.left
{
  left: -12px;
  background: none!important;
}
#quote-carousel .carousel-control.right
{
  background: none!important;
  right: -12px !important;
}
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote img {
    margin-bottom: 10px;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #quote-carousel
  {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  #quote-carousel .carousel-indicators {
      bottom: -20px !important;
  }
  #quote-carousel .carousel-indicators li {
      display: inline-block;
      margin: 0px 5px;
      width: 15px;
      height: 15px;
  }
  #quote-carousel .carousel-indicators li.active {
      margin: 0px 5px;
      width: 20px;
      height: 20px;
  }
}


/********************************/
/*          Box Custom          */
/********************************/
.section-box{
  background-image: url("../images/parallax.jpg");
}
.section-box h1{
  color: #f5f5f5;
}
.box {
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center!important;
  display: block;
  margin-top: 60px;
  border: solid 1px #fff;
}
.box-icon {
  border-radius: 50%;
  display: table;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-top: -61px;
  border: solid 2px #fff;
  background: #1fb4da;
}
.box-icon:hover{
  background: #2eafbb;
}
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info h4 {
  letter-spacing: 2px;
  color: black;
}
.info h5 {
  color: #aaa;
  font-size: 16px;
}
.info > p {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
}
.info > a {
  background-color: #03a9f4;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.info > a:hover {
  background-color: #0288d1;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.img-circle {
  border-radius: 50%;
  width: 100%;
}
.width-auto{
  width: auto!important;
}

/********************************/
/*    Pricing Package     */
/********************************/
.panel.price, .panel.price>.panel-heading{
  border-radius:0px;
   -moz-transition: all .3s ease;
  -o-transition:  all .3s ease;
  -webkit-transition:  all .3s ease;
}
.panel.price{
  border: solid 2px #018763;
}
.panel.price:hover{
  -webkit-box-shadow: 6px 6px 12px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 12px -4px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 12px -4px rgba(0,0,0,0.75);
  border: solid 2px #000;
}
.panel.price:hover>.panel-heading{
  box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}
.panel.price>.panel-heading{
  box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
  text-shadow:0px 3px 0px rgba(50,50,50, .6);
}
.price .list-group-item{
  border-bottom-:1px solid rgba(250,250,250, .5);
}
.panel.price .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.price .panel-footer {
  color: #fff;
  border-bottom:0px;
  background-color:  rgba(0,0,0, .1);
  box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}
.panel.price .btn{
  box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
  border:0px;
}
.panel-body .lead{
  font-size: 25px;
  margin-bottom: 0;
}

/* green panel */
.price.panel-green>.panel-heading {
  color: #fff;
  background-color: #57AC57;
  border-color: #71DF71;
  border-bottom: 1px solid #71DF71;
}
.price.panel-green>.panel-body {
  color: #fff;
  background-color: #65C965;
}
.price.panel-green>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-green .list-group-item {
  color: #333;
  background-color: rgba(50,50,50, .01);
  font-weight:600;
  text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* custum panel */
.panel-blue{
  background: #00a388;
}
.price.panel-blue>.panel-heading {
  color: #fff;
  background-color: #000;
}
.price.panel-blue>.panel-body {
  color: #fff;
  background-color: #73A3D4;
}
.price.panel-blue>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-blue .list-group-item {
  color: #fff;
  background-color: rgba(50,50,50, .01);
}

/* red price */
.price.panel-red>.panel-heading {
  color: #fff;
  background-color: #D04E50;
  border-color: #FF6062;
  border-bottom: 1px solid #FF6062;
}
.price.panel-red>.panel-body {
  color: #fff;
  background-color: #EF5A5C;
}
.price.panel-red>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-red .list-group-item {
  color: #333;
  background-color: rgba(50,50,50, .01);
  font-weight:600;
  text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* grey price */
.price.panel-grey>.panel-heading {
  color: #fff;
  background-color: #6D6D6D;
  border-color: #B7B7B7;
  border-bottom: 1px solid #B7B7B7;
}
.price.panel-grey>.panel-body {
  color: #fff;
  background-color: #808080;
}
.price.panel-grey>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}
.price.panel-grey .list-group-item {
  color: #333;
  background-color: rgba(50,50,50, .01);
  font-weight:600;
  text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* white price */
.price.panel-white>.panel-heading {
  color: #333;
  background-color: #f9f9f9;
  border-color: #ccc;
  border-bottom: 1px solid #ccc;
  text-shadow: 0px 2px 0px rgba(250,250,250, .7);
}
.panel.panel-white.price:hover>.panel-heading{
  box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
}
.price.panel-white>.panel-body {
  color: #fff;
  background-color: #dfdfdf;
}
.price.panel-white>.panel-body .lead{
    text-shadow: 0px 2px 0px rgba(250,250,250, .8);
    color:#666;
}
.price:hover.panel-white>.panel-body .lead{
    text-shadow: 0px 2px 0px rgba(250,250,250, .9);
    color:#333;
}
.price.panel-white .list-group-item {
  color: #333;
  background-color: rgba(50,50,50, .01);
  font-weight:600;
  text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/********************************/
/*           Masonry            */
/********************************/
.masonry { /* Masonry container */
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

/********************************/
/*         Table Cart           */
/********************************/
.table-order-list tr td{
  padding: 10px 0!important;
}

/********************************/
/*    Lightbox Portfolio     */
/********************************/
section.gallery{
  padding-bottom: 0;
}
section.gallery .filters{
  margin: auto;
  display: table;
  margin-bottom: 20px;
}
section.gallery .filters .btn{
  text-transform: uppercase;
}
.gallery .panel {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 0 !important;
}
.gallery .panel-default {
  border-color: #ebedef !important;
  margin: 0;
}
.gallery .panel .panel-body {
  position: relative;
  padding: 0 !important;
  overflow: hidden;
}
.gallery .panel .panel-body a {
  overflow: hidden;
}
.gallery .panel .panel-body a img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.gallery .panel .panel-body a.zoom:hover img {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.3); }
.gallery .panel .panel-body a.zoom span.overlay {
  position: absolute;
  top: 0; left: 0;
  visibility: hidden;
  height: 100%; width: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
}
.gallery .panel .panel-body a.zoom:hover span.overlay {
  display: block; visibility:
  visible;
  opacity: 0.55;
  -moz-opacity: 0.55;
  -webkit-opacity: 0.55;
  filter: alpha(opacity=65);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}
.gallery .panel .panel-body a.zoom:hover span.overlay i {
  position: absolute;
  top: 45%; left: 0%;
  width: 100%;
  font-size: 2.25em;
  color: #fff !important;
  text-align: center;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
.gallery .item-gal{
  padding: 0;
  margin: 0;
}
.lightbox-container{
  position:relative
}
.lightbox-nav-overlay{
  position:absolute;top:0;
  left:0;z-index:100;
  width:100%;
  height:100%
}
.lightbox-nav-overlay a{
  z-index:100;
  display:block;
  width:49%;
  height:100%;
  padding-top:45%;
  font-size:30px;
  color:#fff;
  text-shadow:2px 2px 4px #000;
  opacity:0;filter:dropshadow(color=#000000,offx=2,offy=2);
  -webkit-transition:opacity .5s;
  -moz-transition:opacity .5s;
  -o-transition:opacity .5s;
  transition:opacity .5s
}
.lightbox-nav-overlay a:empty{
  width:49%
}
.lightbox a:hover{
  text-decoration:none;opacity:1
}
.lightbox .glyphicon-chevron-left{
  left:0;
  float:left;
  padding-left:15px;
  text-align:left
}
.lightbox .glyphicon-chevron-right{
  right:0;
  float:right;
  padding-right:15px;
  text-align:right
}
.lightbox .modal-footer{
  text-align:left
}

/********************************/
/*         Comment Section      */
/********************************/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}

/********************************/
/*            Bootstrap         */
/********************************/
.input-group-addon {
  padding: 6px 15px;
}

/********************************/
/*          Panel Custom        */
/********************************/
.panel-about > .panel-heading {
  color: #fff;
  background-color: #1779bb;
  border-color: #0d7cfe;
}

/********************************/
/*        Isotope Custom        */
/********************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

/********************************/
/*     Search Home Section      */
/********************************/
.search-big{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background-color:rgba(255,255,255,0.6);
  -webkit-box-shadow: 6px 4px 4px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 4px -5px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 4px -5px rgba(0,0,0,0.75);
  padding: 20px;
}
.input-lg{
  height: 45px;
}

/********************************/
/*         Catalog Listing      */
/********************************/
#property-listings{
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #e4e4e4;
  float: left;
  border-radius: 4px;
  border-top: 3px solid #1fb4da;
  border-bottom: 3px solid #1fb4da;
}
#property-listings hr{
  border-top: dashed 1px #ccc;
}
#property-listings .list-catalogs{
  padding: 20px 0;
}
#property-listings .list-catalogs .list-date{
  font-size: 11px;
  color: #aaa;
}
#property-listings .list-catalogs h5{
  margin-top: 0;
}
#property-listings .list-catalogs h5 a{
  color: #232323;
  font-size: 16px;
}
#property-listings .list-catalogs p{
  font-size: 11px;
}
#property-listings .list-catalogs p span{
  color: #1fb4da;
}
#property-listings .list-catalogs .price-grid-list{
  font-size: 30px;
}
.tooltips-content{
  display: none;
}
.item-catalog .po-image img{
  width: 100%;
  border-radius: 4px;
  border: solid 1px #ccc;
}
.action-catalog-list{
  margin: auto;
  display: table;
}
.action-catalog-list .btn{
  font-size: 12px!important;
  padding: 5px 8px;
  margin-top: 10px;
}

/********************************/
/*       User Cart Custom       */
/********************************/
.pie-chart-main{
  width: 90px;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
}
.pie-chart, .chart-earning {
  position: relative;
}
.percent.percent-earning:before{
  content: "$";
  font-weight: 800;
  font-size: 18px;
  color: #222;
}
.percent {
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  width: 100%;
  display: block;
  padding: 34px 0;
  z-index: 2;
}
.pie-chart-main h4 {
  font-size: 17px;
}
.pie-chart-main span{
  color: #222;
}

/********************************/
/*         Label Custom         */
/********************************/
.btn-labeled{
  margin-bottom: 10px;
  font-size: 10px;
}
.btn-label {
  position: relative;left: -12px;
  display: inline-block;
  padding: 6px 12px!important;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}


/********************************/
/*         Footer Custom        */
/********************************/
footer{
  -webkit-box-shadow: 0 0 4px #ccc;
  -moz-box-shadow: 0 0 4px #ccc;
  -ms-box-shadow: 0 0 4px #ccc;
  -o-box-shadow: 0 0 4px #ccc;
  box-shadow: 0 0 4px #ccc;
  background: #1fb4da;
  padding: 20px 0;
  width: 100%;
  float: left;
  color: #fff;
}
footer h3{
  color: #fff;
  font-weight: normal;
  font-size: 20px;
}
footer .bottom-footer{
  background: #ccc;
  padding: 10px 0;
  margin-top: 20px;
  background: #1f1f1f;
  border-bottom: 2px solid #000;
  width: 100%;
  float: left;
  -webkit-box-shadow: 0 0 4px #000000;
  -moz-box-shadow: 0 0 4px #000000;
  -ms-box-shadow: 0 0 4px #000000;
  -o-box-shadow: 0 0 4px #000000;
  box-shadow: 0 0 4px #000000;
  color: white;
}
footer .section-social-lg{
  margin-bottom: 10px;
  margin: auto;
  display: table;
}
footer .footer-subscribe .btn {
  margin-top: 10px;
}
footer h1{
  text-align: center;
  padding-bottom: 40px;
}
footer h4{
  color: #fff;
  font-weight: bold;
}
footer a{
  color: #fff;
}
footer a:hover{
  color: #ccc!important;
}
footer p{
  color: #f5f5f5;
}
footer hr{
  border-top: 1px solid #ccc;
}
footer ul{
  padding-left: 0;
  list-style: none;
}


/********************************/
/*        Mobile Custom         */
/********************************/
@media(max-width: 1000px){
  .navbar-nav>li>a {
    padding: 25px 15px;
  }
  .container{
    padding: 0;
    width: 90%!important;
  }
  address p{
    font-size: 15px;
  }
  #top-navigation .navbar-nav{
    float: left;
    width: 100%;
  }
}

@media(max-width: 900px){
  .navbar-nav>li>a {
    padding: 15px 10px;
  }
  .container{
    padding: 0;
    width: 90%!important;
  }
  address p{
    font-size: 15px;
  }
}

@media(max-width: 767px){
  .list-dropdown-menu li a{
    padding: 10px!important;
    border-bottom: 1px solid #00a3;
    color: #fff!important;
    background-color: #2eafbb;
  }
  .list-dropdown-menu li a:hover{
    background: #26a4b1!important;
    color: #fff;
  }
  .navbar-nav .btn-group{
    margin: auto;
    display: table;
  }
  .navbar-nav .welcome-message{
    text-align: center;
    margin: auto;
    display: table;
  }
  .panel-footer{
    font-size: 12px;
  }
  .navbar-toggle{
    margin-top: 20px;
  }
  .section-social-lg{
    margin: auto;
    display: table;
  }
  .top-bar .top-email{
    float: right;
  }
}

@media(max-width: 600px){
  h1{
    font-size: 25px!important;
  }
  h2{
    font-size: 20px!important;
  }
  h3{
    font-size: 18px!important;
  }
  h4{
    font-size: 16px!important;
  }
  h5{
    font-size: 14px!important;
  }
  h6{
    font-size: 12px!important;
  }
  .container{
    padding: 0;
    width: 90%;
  }
  .navbar-nav>li>a {
    padding: 15px 10px;
  }
  address p{
    font-size: 15px;
  }
  .top-bar .top-phone, .top-bar .top-email{
    font-size: 11px;
  }
  .top-bar .top-email{
    float: right;
  }
}

@media(max-width: 450px){
  .panel-footer{
    display: none;
  }
  .gallery .panel .panel-body {
    height: 80px;
  }
}










