<ul class="breadcrumb"></ul>
<h2 class="heading">Tickets</h2>
<div class="row-fluid">
  <div class="widget span12">
    <div class="widget-header">
      <i class="icon-bullhorn"></i>
      <h5>Support Tickets <%= resource.code %> <%= resource.status? %></h5>
      <div class="widget-buttons">                    
        <a href="#" data-title="Collapse" data-collapsed="false" class="collapse"><i class="icon-chevron-up"></i></a>
      </div>
    </div>  
    <div class="widget-body">
      <div class="widget-tickets widget-tickets-large clearfix">
        <ul>
          <li>
            <% if resource.user_id.present? %>
              <%= image_tag resource.try(:user).try(:profile).try(:avatar).url(:small), class: 'avatar' %>
            <% end %>
            <h4 class="ticket-username"><%= resource.name %> - 
              <a href="mailto:<%= resource.email %>"><%= resource.email %></a>
            </h4>
            <%= resource.priority? %>
            <label class="label label-default margin-left4 margin-right4"><%= resource.departement %></label>
            <label class="label label-default"><%= resource.problem %></label>
            <h5 class="subject-ticket">
              Subject: <%= resource.title %>
            </h5>
             <%= resource.message.html_safe %>
            <div class="date">
              <i class="icon-calendar"></i>
              <%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
            </div>
          </li>
        </ul>
      </div>
    </div><!--/widget-body-->
    <div class="widget-body">
      <div class="widget-tickets widget-tickets-large clearfix">
        <ul>
          <% @messages.each do |message| %>
            <li>
              <%= image_tag message.try(:user).try(:profile).try(:avatar).url(:small), class: 'avatar' %>
              <h4 class="ticket-username"><%= message.try(:user).try(:username) %></h4>
              <p>
                "<%= message.message %>"
              </p>
              <p class="float-right blue">
                <%= link_to '<i class="icon-trash"></i> Remove'.html_safe, backend_message_path(message), 
                    method: 'delete', data: {confirm: 'Are you sure want delete this message?'} %>
              </p>
              <div class="date">
                <i class="icon-calendar"></i> <%= message.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div><!--/widget-body-->
  </div> <!-- /widget span8 -->
</div> <!-- /row-fluid -->
<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <i class="icon-list-alt"></i><h5>Reply</h5>
      <div class="widget-buttons">
          <a href="#" data-title="Collapse" data-collapsed="false" class="tip collapse"><i class="icon-chevron-up"></i></a>
      </div>
    </div>

    <%= form_for @message, url: backend_messages_path, method: 'post', html: {class: 'form-horizontal'} do |f| %>
      <div class="widget-body">
        <div class="widget-forms clearfix">
          <div class="control-group">
            <label class="control-label">To</label>
            <div class="controls">
              <%= f.text_field :to, class: 'span7', placeholder: 'Email', value: "#{resource.email}", disabled: true %>
              <%= f.hidden_field :ticket_id, value: "#{resource.id}" %>
              <%= f.hidden_field :to, value: "#{resource.email}" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Subject</label>
            <div class="controls">
              <%= f.text_field :subject, class: 'span7', placeholder: 'Subject', value: "Reply: #{resource.title}", disabled: true %>
              <%= f.hidden_field :subject, value: "Reply: #{resource.title}" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Message</label>
              <div class="controls">
                <%= f.text_area :message, class: 'span7', rows: "5", style: "height:100px;" %>
              </div>
          </div>
        </div>
      </div>
      <div class="widget-footer">
         <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    <% end %>
  </div>
</div>  