<div class="col-md-9">
  <% unless @catalog_roots.present? %>
    <%= render partial: 'shareds/flash_errors', locals: {note: 'No Results Founds!'} %>
  <% else %>
    <%= render partial: 'shareds/flash_notice', locals: {note: "<b>#{@catalog_roots.size}</b> Results Founds!".html_safe} %>
    <div id="property-listings">
      <% @catalogs.each_with_index do |resource, index| %>
        <% cache ["result_catalogs_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
          <%= render partial: 'shareds/catalogs/root_list', locals: {resource: resource} %>
        <% end %>
      <% end %>
      <div class="col-md-12">
        <%= paginate @catalogs %>
      </div>
    </div>
  <% end %>
</div>
