<div class="col-md-9">
  <div id="property-listings">
  	<% @catalogs.each_with_index do |resource, index| %>
  		<% cache ["index_catalogs_#{resource.id}_#{resource.updated_at.to_time.to_i}"] do %>
    		<%= render partial: 'shareds/catalogs/root_list', locals: {resource: resource} %>
    	<% end %>
    <% end %>
    <div class="col-md-12">
      <%= paginate @catalogs %>
    </div>
  </div>
</div>
