<div class="col-md-3">
	<%= form_for :search, url: search_path, method: 'get' do |f| %>
		<div class="row">
			<div class="col-md-12">
				<button class= "btn btn-info full-width btn-search-now" type="submit"><i class='fa fa-search'></i> SEARCH NOW</button>
			</div>
		</div>

		<div class="side-filter-search">
			<div class="col-md-12 section-search-filter">
				<h5><i class="fa fa-list-ol"></i> Sort By </h5>
				<% value_sort_by = params[:sort_by].present? ? params[:sort_by] : '' %>
				<%= select_tag :sort_by, options_for_select(sort_by, value_sort_by), prompt: 'Sort By', class: 'form-control dynamic_select' %>
			</div>
		</div>

		<div class="side-filter-search">
			<div class="col-md-12 section-search-filter">
				<h5><i class="fa fa-desktop"></i> Layout Type </h5>
				<% value_layout_type = params[:layout_type].present? ? params[:layout_type] : '' %>
				<%= select_tag :layout_type, options_for_select(layout_type, value_layout_type), prompt: 'Select Layout Type', class: 'form-control dynamic_select' %>
			</div>
		</div>

		<div class="side-search-filter-choice">
			<div class="row">
				<div class="col-md-12">
					<h5><i class="fa fa-folder"></i> Category</h5>
					<% if Rails.cache.exist?('catalog_categories_latest') %>
						<% Rails.cache.read('catalog_categories_latest').each_with_index do |resource, index| %>
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>">
										<h4 class="panel-title">
											<%= resource.name %>
										</h5>
									</a>
									<div id="collapse-<%= index %>" class="panel-collapse collapse in">
										<div class="panel-body">
											<table class="table">
												<% resource.children.oldest.each do |resource| %>
													<tr>
														<td>
															<%= link_to "#{resource.name} <span class='pull-right'>#{resource.catalogs.verify.size}</span>".html_safe,
																	search_path(params.merge(catalog_category_id: resource.id)),
																	method: 'get', class: "#{'strong' if params[:catalog_category_id].to_i == resource.id.to_i}" %>
														</td>
													</tr>
												<% end %>
											</table>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="side-filter-search">
			<div class="col-md-12">
				<h5><i class="fa fa-usd"></i> Price </h5>
				<div class="row">
					<div class="col-md-6">
						<label class="label-price">From</label>
						<% value_price_from = params[:price_from].present? ? params[:price_from] : '' %>
						<%= text_field_tag :price_from, nil, class: 'form-control', placeholder: '$', value: value_price_from %>
					</div>
					<div class="col-md-6">
						<label class="label-price">To</label>
						<% value_price_to = params[:price_to].present? ? params[:price_to] : '' %>
						<%= text_field_tag :price_to, nil, class: 'form-control', placeholder: '$', value: value_price_to %>
					</div>
				</div>
			</div>
		</div>

		<div class="side-filter-search">
			<div class="col-md-12">
				<h5><i class="fa fa-calendar"></i> Published </h5>
				<% value_published = params[:published].present? ? params[:published] : '' %>
				<%= select_tag :published, options_for_select(published, value_published), prompt: 'Select Published', class: 'form-control dynamic_select' %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<button class= "btn btn-info full-width" type="submit"><i class='fa fa-search'></i> SEARCH NOW</button>
			</div>
		</div>
	<% end %>
</div>
