<div class="col-md-12">
	<%= form_for :search, url: search_path, method: 'get' do |f| %>
    <div class="input-group search-big position-relative-search">
      <%= render partial: "shareds/form_top_search", locals: {f: f} %>
    </div>
  <% end %>
  <div class="col-md-12">
  	<h4 align="center"><%= @latest_catalogs.size %> Professional Design Templates Website Available Here</h4>
  </div>
</div>
