<%= render 'backend/shareds/bar_search_key' %>
<%= form_tag "#{collection_path}/destroy_multiple", method: :delete do %>
  <%= render partial: "backend/shareds/prepare_table", 
              locals: {table_name: 'Members', button_name: 'Members', add_method: true } %>
    <div class="widget-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th>Featured</th>
            <th>Username</th>
            <th>Position</th>
            <th>Email</th>
            <th>Registered At</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @collection.each do |resource| %>
            <tr>
              <td><%= check_box_tag "ids[]", resource.id %></td>
              <td>
                <div class="mr-10 btn-group">
                  <button class="btn prior btn-xs %> dropdown-toggle" data-toggle="<%= :dropdown %>">
                    <%= resource.featured_status %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class= "text-left">
                    <%= link_to "Featured", change_featured_backend_member_path(resource),  method: :PUT  %>
                    </li>
                     <li class= "text-left">
                      <%= link_to "Un Featured", change_featured_backend_member_path(resource), method: :PUT  %>
                    </li>
                  </ul>
                </div>
              </td>
              <td><%= resource.username %></td>
              <td>
                <div class="mr-10 btn-group">
                  <button class="btn prior btn-xs dropdown-toggle" data-toggle="<%= :dropdown %>">
                    <%= resource.verified_staff %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class= "text-left">
                    <%= link_to "Staff", change_position_backend_member_path(resource),  method: :PUT  %>
                    </li>
                     <li class= "text-left">
                      <%= link_to "Member", change_position_backend_member_path(resource), method: :PUT  %>
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <a href="mailto:<%= resource.email %>">
                  <%= resource.email %>
                </a>
              </td>
              <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
              <td class="text-center">
                <%= render partial: 'backend/shareds/prepare_action', 
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination">
        <%= paginate @collection %>
      </div>
    </div>
  </div>
<% end %>