<%= form_for order_item, remote: true do |f| %>
  <tr>
    <td>
      <p>
        <%= link_to "<i class='fa fa-close'></i> Delete".html_safe, order_item, { data: { confirm: "Are you sure you wish to delete the item '#{order_item.catalog.title}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger btn-xs margin-right5" } %>
      </p>
    </td>
    <td width="40%">
      <div class="photo-thumb float-left">
        <%= image_tag order_item.try(:catalog).try(:thumbnail).url(:small) %>
      </div>
      <%= link_to "#{catalog.title}", catalog_path(order_item.catalog.slug) %>
    </td>
    <td class="text-center">
      <span class="color-grey">
        <%= order_item.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
      </span>
    </td>
    <td class="text-right">
      <span class="big-font">
        <%= number_to_currency_br(order_item.total_price) %>
      </span>
    </td>
  </tr>
<% end %>