<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your order.  Please <%= link_to "go back", catalogs_path %> and add some items to your order.
  </p>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-center">
              <strong>Your Order Item <%= current_order.code %></strong>
            </h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive table-order-list">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <td><strong>Action</strong></td>
                    <td><strong>Item Name</strong></td>
                    <td class="text-center"><strong>Ordered At</strong></td>
                    <td class="text-right"><strong>Item Price</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <% @order_items.each do |order_item| %>
                    <%= render 'orders/cart_row', catalog: order_item.catalog, order_item: order_item, show_total: true %>
                  <% end %>
                  <tr>
                    <td class="highrow"></td>
                    <td class="highrow"></td>
                    <td class="highrow text-center"><h4>TOTAL</h4></td>
                    <td class="highrow text-right"><h4><%= number_to_currency_br(current_order.total) %></h4></td>
                  </tr>
                </tbody>
              </table>
              <div class="margin-top10">
                <%= link_to "Back To List Items", catalogs_path, class: "btn btn-info btn-md float-left" %>
                <%= link_to @paypal_url do %>  
                  <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif", class='float-right'>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>