<%= render "shareds/top_menu" %>

<section class="catalog-item-show">
  <div class="container">
    <%= render "shareds/breadcrumb" %>
    <%= render "top_bar" %>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if @order.user_id == current_user.id %>
          <h3 class="text-center">
            <strong>Invoice Order <%= @order.code %> Completed <%= @order.status? %></strong>
          </h3>
          <div class="align-center">
            <b>Your Transaction id : </b>
            <%= @order.try(:transaction_id) %><br>
            <b>Price : </b>
            <%= number_to_currency_br(@order.total) %><br>
            <b>PayerID : </b>
            <%= @order.try(:payerID) %><br>
            <b>Payer Name : </b>
            <%= @order.try(:payer_name) %><br>
            <b>Payer Email : </b> 
            <a href="mailto:<%= @order.try(:payer_email) %>"><%= @order.try(:payer_email) %></a><br>
            <b>Payer Address : </b>
            <%= @order.try(:payer_address) %><br>
            <b>Payment Date : </b> 
            <%= @order.try(:purchased_at).strftime("%H:%M %B, %d, %Y") if @order.purchased_at %><br>
            <b>Payment Status : </b>
            Completed
          </div>
          <div class="shopping-cart margin-top10">
            <div class="row">
              <div class="col-md-12">
                <div class="catalog-item-show">
                  <div class="table-responsive table-order-list p">
                    <table class="table table-condensed">
                      <thead>
                        <tr>
                          <td width="40%"><strong>Item Name</strong></td>
                          <% if @order.paid? %>
                            <td class="text-center"><strong>File</strong></td>
                          <% end %>
                          <td class="text-center"><strong>Ordered At</strong></td>
                          <td class="text-right"><strong>Item Price</strong></td>
                        </tr>
                      </thead>
                      <tbody>
                        <% @order.order_items.each do |order_item| %>
                          <tr>
                            <td>
                              <div class="photo-thumb float-left">
                                <%= image_tag order_item.try(:catalog).try(:thumbnail).url(:small) %>
                              </div>
                              <%= link_to "#{order_item.catalog.title}", catalog_path(order_item.catalog.slug) %>
                            </td>
                            <% if @order.paid? %>
                              <td class="text-center">
                                <%= link_to document_download_url(order_item.catalog.code) do %>
                                  <p>DOWNLOAD</p>
                                <% end %>
                              </td>
                            <% end %>
                            <td class="text-center">
                              <span class="color-grey">
                                <%= order_item.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                              </span>
                            </td>
                            <td class="text-right">
                              <span class="big-font">
                                <%= number_to_currency_br(order_item.total_price) %>
                              </span>
                            </td>
                          </tr>
                        <% end %>
                        <tr>
                          <td class="highrow"></td>
                          <td class="highrow"></td>
                          <td class="highrow text-center"><h4>TOTAL</h4></td>
                          <td class="highrow text-right"><h4><%= number_to_currency_br(@order.total) %></h4></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <h4 class="text-center">You do not have permission to access this page</h4>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render "shareds/footer" %>