<%= render "shareds/top_menu" %>

<section class="catalog-item-show">
  <div class="container">
    <%= render "shareds/breadcrumb" %>
    <%= render "top_bar" %>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="shopping-cart">
          <%= render "shopping_cart" %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shareds/footer" %>