<h2>
  <div class="row">
  	<div class="col-md-7">
  		<%= table_name %>
  	</div>
  	<div class="col-md-5">
      <div class="btn-group float-right">
        <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete selected</button>
  			<%= link_to catalogs_path, class: "btn btn-info btn-sm" do %> 
          <i class="fa fa-plus-circle"></i> Add favorites
        <% end %>
      </div>
  	</div>
  </div>
</h2>