<div class="col-md-8 main">
  <%= form_tag "#{collection_path}/destroy_multiple", method: :delete do %>
      <div class="margin-top10">
        <%= render partial: "member/favorites/prepare_table",
                    locals: {table_name: 'Favorites', button_name: 'Favorites', add_method: true } %>
        <div id="property-listings">
          <% if @collection.present? %>
            <% @collection.each do |fav| %>
              <% resource = fav.try(:catalog) %>
              <div class="list-catalogs">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-xs-4">
                          <div class="item-catalog" data-toggle="popover" title="<%= truncate(strip_tags(resource.title.to_s), length: 40, omission: ' ...') %>">
                            <div class="tooltips-content">
                              <div class="tooltips-image">
                                <%= image_tag resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:small) %>
                              </div>
                              <div class="tooltips-desc">
                                <%= rating_for resource, "price", :star => 5 %>
                              </div>
                              <span class="tooltips-tag">
                                <%= resource.try(:catalog_category_root).try(:name).titleize %>,
                                <%= resource.try(:catalog_category_child).try(:name).titleize %>
                              </span>
                              <span class="tooltips-price"><%= number_to_currency_br(resource.try(:price)) %></span>
                            </div>
                            <%= link_to catalog_path(resource), class: "po-image" do %>
                              <%= image_tag resource.try(:thumbnail).url(:small) %>
                            <% end %>
                            <div class="action-catalog-list btn-group">
                              <%= link_to like_catalog_path(resource), class: "btn btn-info", 'data-toggle' => "tooltip", title: "#{resource.score} people like this item" do %>
                                <i class="fa fa-thumbs-up"></i>
                              <% end %>
                              <span class="btn btn-success" data-toggle="tooltip" title="<%= resource.impressionist_count %> people have seen this item">
                                <i class="fa fa-eye"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-8">
                          <h5>
                            <%= check_box_tag "ids[]", fav.id %>
                            <%= link_to catalog_path(resource) do %>
                              <%= resource.title.to_s %>
                            <% end %>
                          </h5>
                          <span class="list-date">Last Updated: <%= time_ago_in_words(resource.updated_at) %></span>
                          <span class="price-list">
                            <%= rating_for resource, "price", :star => 5 %>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <p>Category <span><%= resource.try(:catalog_category_root).try(:name).titleize %></span> / <span><%= resource.try(:catalog_category_child).try(:name).titleize %></span>
                      </p>
                      <p>
                        <%= "Columns : " + resource.try(:columns).to_s + "," if resource.columns.present? %>
                        <%= "Compatible Browsers : " + resource.try(:compatible_browsers).to_s + "," if resource.compatible_browsers.present? %>
                        <%= "Software Version : " + resource.try(:software_version).to_s + "," if resource.software_version.present? %>
                        <%= "Compatible With : " + resource.try(:compatible_with).to_s + "," if resource.compatible_with.present? %>
                        <%= "Documentation : " + resource.try(:document).to_s + "," if resource.document.present? %>
                        <%= "High Resolution : " + ('Yes' if resource.high_resolution == true).to_s + "," if resource.high_resolution.present? %>
                        <%= "Layout : " + resource.try(:layout).to_s + "," if resource.layout.present? %>
                        <%= "Themeindo Files Included : " + resource.try(:files_included).to_s + "," if resource.files_included.present? %>
                        <%= "Widget Ready : " + ('Yes' if resource.widget_ready == true).to_s + "," if resource.columns.present? %>
                      </p>
                    </div>
                    <div class="col-md-3">
                      <center>
                        <span class="price-grid-list">
                          <%= number_to_currency_br(resource.try(:price)) %>
                        </span>
                        <br><br>
                        <span class="fa big-font fa-shopping-cart"></span>
                        <br>
                        <span class="small-font"><%= resource.try(:order_items).try(:verified).size %> Sales</span>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            <% end %>
            <div class="row">
              <div class="col-md-12">
                <%= paginate @collection %>
              </div>
            </div>
          <% else %>
            <p class="p-error">Data is still empty!</p>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
