<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
    	<i class="icon-bookmark"></i> 
    	<h5>Profile</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
		      <label class="control-label">Full Name</label>
		      <div class="controls">
		        <%= f.text_field :full_name, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Birthday</label>
		      <div class="controls">
		        <%= f.date_field :birthday, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Gender</label>
		      <div class="controls">
		        <%= f.select :gender, options_for_select(sex, resource.try(:profile).try(:gender)), {:prompt=> "Select Gender "}, { class: 'form-control' } %>
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Phone</label>
		      <div class="controls">
		        <%= f.text_field :phone, class: 'span7' %> 
		      </div>
		    </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid margin-top20">
  <div class="widget widget-padding span12">
    <div class="widget-header">
    	<i class="icon-bookmark"></i> 
    	<h5>About Me</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
		      <label class="control-label">Description</label>
		      <div class="controls">
		        <%= f.text_area :about_me, class: 'span7 height-160' %> 
		      </div>
		    </div>
      </div>
    </div>
  </div>
</div>










