<div class="row-fluid margin-top20">
  <div class="widget widget-padding span12">
    <div class="widget-header">
    	<i class="icon-bookmark"></i> 
    	<h5>Address</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
		      <label class="control-label">Country</label>
		      <div class="controls">
		        <%= f.text_field :country, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Province</label>
		      <div class="controls">
		        <%= f.text_field :province, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">City</label>
		      <div class="controls">
		        <%= f.text_field :city, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Postcode</label>
		      <div class="controls">
		        <%= f.text_field :postcode, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Address</label>
		      <div class="controls">
		        <%= f.text_field :address, class: 'span7' %> 
		      </div>
		    </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid margin-top20">
  <div class="widget widget-padding span12">
    <div class="widget-header">
    	<i class="icon-bookmark"></i> 
    	<h5>Media Social</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
		      <label class="control-label">Facebook</label>
		      <div class="controls">
		        <%= f.text_field :facebook_url, class: 'span7' %> 
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label">Twitter</label>
		      <div class="controls">
		        <%= f.text_field :twitter_url, class: 'span7' %> 
		      </div>
		    </div>
      </div>
    </div>
  </div>
</div>
