<%= f.fields_for(:profile) do |profile| %>
	<%= profile.fields_for(:address) do |address| %>
		<div class="control-group">
		  <label class="control-label">Set Featured</label>
		  <div class="controls">
		    <%= f.check_box :featured, class: 'span1' %> 
		  </div>
		</div>
		
		<div class="control-group">
      <label class="control-label">Profile Banner</label>
      <div class="controls">
      	<%= image_tag profile.object.banner_user.url(:large), style: 'width:100%' %>
				<%= profile.file_field :banner_user, class: 'form-control' %>
      </div>
    </div>
    
    <div class="row-fluid">
    	<div class="span5">
		    <div class="control-group">
		      <label class="control-label">Avatar Photo</label>
		      <div class="controls">
		      	<%= image_tag profile.object.avatar.url(:medium), class: 'height-160' %>
		      	<br>
						<%= profile.file_field :avatar %>
		      </div>
		    </div>
	  	</div>

	  	<div class="span7">
		    <div class="control-group">
		      <label class="control-label">Username</label>
		      <div class="controls">
		        <%= f.text_field :username, class: 'span12' %> 
		      </div>
		    </div>

		    <div class="control-group">
		      <label class="control-label">Email</label>
		      <div class="controls">
		        <%= f.email_field :email, class: 'span12' %> 
		      </div>
		    </div>

		    <div class="control-group">
		      <label class="control-label">Password</label>
		      <div class="controls">
		        <%= f.password_field :password, class: 'span12' %> 
		      </div>
		    </div>

		    <div class="control-group">
		      <label class="control-label">Password Confirmation</label>
		      <div class="controls">
		        <%= f.password_field :password_confirmation, class: 'span12' %> 
		      </div>
		    </div>
		  </div>
	  </div>

		<%= render partial: 'form_profile', locals: {f: profile} %>
		<%= render partial: 'form_address', locals: {f: address} %>
	<% end %>
<% end %>