<div class="control-group">
  <label class="control-label">Status</label>
  <div class="controls">
    <%= f.check_box :status, class: 'span1' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Email</label>
  <div class="controls">
    <%= f.text_field :email, class: 'form-control span7' %> 
  </div>
</div>

