<div class="row-fluid margin-top20">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <i class=" icon-picture"></i> <h5>Screenshot Picture</h5>
    </div>
    <div class="widget-body">
      <%= f.fields_for :galleries do |g| %>
        <%= render 'gallery_fields', f: g %>
      <% end %>
          
      <div class="links">
        <%= link_to_add_association '<i class="icon-plus-sign"></i> Add Image'.html_safe, f, :galleries, partial: 'gallery_fields', class: "btn btn-default float-left margin-top20" %>
      </div>
    </div>
  </div>
</div>