<% if f.object.catalog_category_type_id.present? %>
  <% id = resource.catalog_category_type_id %>
  <% catalog_category_child ||= catalog_category_child(id).try(:children)  %>
<% else %>
  <% catalog_category_child ||= [] %>
<% end %>

<div class="control-group">
  <label class="control-label">Set Featured</label>
  <div class="controls">
    <%= f.check_box :featured, class: 'span1' %> 
  </div>
</div>

<div class="control-group">
  <label class="control-label">Status Publish</label>
  <div class="controls">
    <%= f.check_box :status, class: 'span1' %> 
  </div>
</div>

<!-- <div class="control-group">
  <label class="control-label">Catalog Type</label>
  <div class="controls">
    <%#= f.select :catalog_type, options_for_select(catalog_type, @catalog.catalog_type), 
                  {:prompt=> "Select Type "}, { class: 'form-control' }%>
  </div>
</div> -->

<div class="control-group">
  <label class="control-label">Category Type</label>
  <div class="controls">
    <%= f.collection_select(:catalog_category_type_id, catalog_category_root, 
                            :id, :name_for_selects, {prompt: "Select Category Type "}, {class: "form-control", id: 'root_category', required: true, data: {url: catalog_category_child_path} })%>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Category</label>
  <div class="controls">
    <%= select_tag('catalog_category_id', options_for_select(catalog_category_child.map{|c| [c.name, c.id]}, 
                    f.object.catalog_category_id), {prompt: "Select Category ", class: "form-control", id: 'child_category',required: true}) %>

  </div>
</div>
<div class="control-group">
  <label class="control-label">Title</label>
  <div class="controls">
    <%= f.text_field :title, class: 'form-control span7' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">Thumbnail</label>
  <div class="controls">
    <div class="photo-portfolio">
      <%= image_tag f.object.thumbnail.url(:small), style: 'width: 100px' %>
    </div>
    <%= f.file_field :thumbnail %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Content</label>
  <div class="controls">
    <%= f.cktext_area :content %>
  </div>
</div>
<div class="control-group">
  <label class="control-label">Price</label>
  <div class="controls">
    <%= f.number_field :price, class: 'form-control span2' %> 
  </div>
</div>
<div class="control-group">
  <label class="control-label">File Document</label>
  <div class="controls">
    <% if resource.file_catalog.present? %>
      <%= link_to document_download_backend_catalog_path(code: resource.code) do %>
        <%= resource.file_catalog_file_name %>
      <% end %><br>
    <% end %>
    <%= f.file_field :file_catalog %> 
  </div>
</div>

<%= render partial: 'form_feature', locals: {f: f} %>

<div class="row-fluid margin-top20">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <i class="icon-bookmark"></i> 
      <h5>Demo URL</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
          <label class="control-label">URL</label>
          <div class="controls">
            <%= f.text_field :demo_url, class: 'form-control span12', placeholder: 'http://...' %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'form_gallery', locals: {f: f} %>