<div class="row-fluid margin-top20">
  <div class="widget widget-padding span12">
    <div class="widget-header">
    	<i class="icon-bookmark"></i> 
    	<h5>Catalog Feature</h5>
    </div>
    <div class="widget-body">
      <div class="widget-forms clearfix">
        <div class="control-group">
		      <label class="control-label">Layout Type</label>
		      <div class="controls">
		        <%= f.select :layout_type, options_for_select(layout_type, @catalog.layout_type), 
				                  {:prompt=> "Select Type "}, { class: 'form-control' }%> 
		      </div>
		    </div>
		    <div class="control-group">
				  <label class="control-label">Columns</label>
				  <div class="controls">
				    <%= f.text_field :columns, class: 'span7' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">Software Version</label>
				  <div class="controls">
				    <%= f.text_field :software_version, class: 'span7' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">Compatible Browsers</label>
				  <div class="controls">
				    <%= f.text_field :compatible_browsers, class: 'span7' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">Compatible With</label>
				  <div class="controls">
				    <%= f.text_field :compatible_with, class: 'span7' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">Document</label>
				  <div class="controls">
				    <%= f.text_field :document, class: 'span7' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">Layout</label>
				  <div class="controls">
				    <%= f.text_field :layout, class: 'span7' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">Files Included</label>
				  <div class="controls">
				    <%= f.text_field :files_included, class: 'span7' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">Tags</label>
				  <div class="controls">
				    <%= f.text_field :tags, class: 'span7' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">Widget Ready</label>
				  <div class="controls">
				    <%= f.check_box :widget_ready, class: 'span1' %> 
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label">High Resolution</label>
				  <div class="controls">
				    <%= f.check_box :high_resolution, class: 'span1' %> 
				  </div>
				</div>
      </div>
    </div>
  </div>
</div>
