<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">User</Data></Cell>
        <Cell><Data ss:Type="String">Category</Data></Cell>
        <Cell><Data ss:Type="String">Code</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Featured</Data></Cell>
        <Cell><Data ss:Type="String">Title</Data></Cell>
        <Cell><Data ss:Type="String">Content</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
        <Cell><Data ss:Type="String">Columns</Data></Cell>
        <Cell><Data ss:Type="String">Software version</Data></Cell>
        <Cell><Data ss:Type="String">Compatible browsers</Data></Cell>
        <Cell><Data ss:Type="String">Compatible with</Data></Cell>
        <Cell><Data ss:Type="String">Document</Data></Cell>
        <Cell><Data ss:Type="String">High_resolution</Data></Cell>
        <Cell><Data ss:Type="String">Layout</Data></Cell>
        <Cell><Data ss:Type="String">Files included</Data></Cell>
        <Cell><Data ss:Type="String">Widget ready</Data></Cell>
        <Cell><Data ss:Type="String">Tags</Data></Cell>
        <Cell><Data ss:Type="String">Catalog type</Data></Cell>
        <Cell><Data ss:Type="String">Layout type</Data></Cell>
        <Cell><Data ss:Type="String">Demo url</Data></Cell>
        <Cell><Data ss:Type="String">File URL</Data></Cell>
        <Cell><Data ss:Type="String">Thumbnail</Data></Cell>
        <Cell><Data ss:Type="String">Created At</Data></Cell>
        <Cell><Data ss:Type="String">Updated At</Data></Cell>
      </Row>
    <% @catalogs.each do |resource| %>
      <Row>
        <Cell><Data ss:Type="String"><%= resource.try(:user).try(:username) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.try(:catalog_category).try(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.status %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.featured %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.title %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.content.html_safe if resource.content.present? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.columns %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.software_version %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.compatible_browsers %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.compatible_with %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.document %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.high_resolution %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.layout %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.files_included %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.widget_ready %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.tags %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.catalog_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.layout_type %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.demo_url %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.file_catalog.url %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.thumbnail.url %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.try(:created_at).strftime("%d %B %Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= resource.try(:updated_at).strftime("%d %B %Y") %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>