<div class="widget widget-padding">
  <div class="filter margin-top20">
    <%= form_tag collection_path, method: 'get' do |f| %>
      <div class="row-fluid">
        <div class="widget-forms clearfix">
          <div class="control-group">
            <label class="control-label">Search Results <b><%= collection.size %></b></label>
            <div class="controls">
              <%= select_tag :published, options_for_select(published, params[:published]), prompt: "Select Time ", class: 'span2' %>
              <%= select_tag :sort_by, options_for_select(sort_by, params[:sort_by]), prompt: 'Select Order', class: 'span2' %>
              <%= select_tag :status, options_for_select(status, params[:status]), prompt: 'Select Status', class: 'span2' %>
              <%= text_field_tag :title, nil, value: params[:title], class: "span6" %>
              <%= submit_tag :search, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= form_tag "#{collection_path}/action_multiple", method: 'post' do %>
  <%= render partial: "backend/shareds/prepare_table", 
              locals: {table_name: 'Catalogs', button_name: 'Catalogs', add_method: true } %>
    <div class="widget-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Action</th>
            <th>Featured</th>
            <th>Title</th>
            <th>Status</th>
            <th>User</th>
            <th>Created At</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @collection.each do |resource| %>
            <tr>
              <td><%= check_box_tag "ids[]", resource.id %></td>
              <td>
                <div class="mr-10 btn-group">
                  <button class="btn prior btn-xs %> dropdown-toggle" data-toggle="<%= :dropdown %>">
                    <%= resource.featured_status %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class= "text-left">
                    <%= link_to "Featured", change_featured_backend_catalog_path(resource),  method: :PUT  %>
                    </li>
                     <li class= "text-left">
                      <%= link_to "Un Featured", change_featured_backend_catalog_path(resource), method: :PUT  %>
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <%= link_to catalog_path(resource) do %>
                  <%= resource.title %>
                <% end %>
              </td>
              <td>
                <div class="mr-10 btn-group">
                  <button class="btn prior btn-xs %> dropdown-toggle" data-toggle="<%= :dropdown %>">
                    <%= resource.verified_status %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li class= "text-left">
                    <%= link_to "Verified", change_verified_backend_catalog_path(resource),  method: :PUT  %>
                    </li>
                     <li class= "text-left">
                      <%= link_to "Un Verified", change_verified_backend_catalog_path(resource), method: :PUT  %>
                    </li>
                  </ul>
                </div>
              </td>
              <td><b><%= resource.try(:user).try(:username) %></b></td>
              <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") %></td>
              <td class="text-center">
                <%= render partial: 'backend/shareds/prepare_action', 
                    locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="pagination">
        <%= paginate @collection %>
      </div>
    </div>
  </div>
<% end %>
