<div class="col-md-8 main">
  <h2>
    <div class="row">
      <div class="col-md-7">
        My Invoice Orders
      </div>
    </div>
  </h2>
  <div class="catalog-item-show">
    <div class="table-responsive">
      <% if @collection.present? %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Action</th>
              <th width="30%">Invoice Code</th>
              <th>Created At</th>
              <th class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <% @collection.each do |resource| %>
              <tr>
                <td>
                  <% if resource.paid? %>
                    <%= link_to resource_path(resource), class: "label label-info" do %>
                      Show
                    <% end %>
                  <% elsif resource.in_progress? %>
                    <%= link_to resource_path(resource), method: 'delete', data: {confirm: 'you want cancel this order?'} do %>
                      <div class="btn btn-danger btn-xs">
                        Cancel
                      </div>
                    <% end %>
                  <% end %>
                </td>
                <td><b><%= resource.code %></b></td>
                <td><%= resource.try(:created_at).strftime("%H:%M %B, %d, %Y") if resource.try(:created_at).present? %></td>
                <th class="text-center">
                  <%= resource.status? %>
                </th>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @collection %>
      <% else %>
        <p class="p-error">Data is still empty!</p>
      <% end %>
    </div>
  </div>
</div>
