<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <% if @order.paid? %>
        <h3 class="text-center">
          <strong>Invoice Order <%= @order.code %> Completed <%= @order.status? %></strong>
        </h3>
        <div class="align-center">
          <b>Your Transaction id : </b>
          <%= @order.try(:transaction_id) %><br>
          <b>Price : </b>
          <%= number_to_currency_br(@order.total) %><br>
          <b>PayerID : </b>
          <%= @order.try(:payerID) %><br>
          <b>Payer Name : </b>
          <%= @order.try(:payer_name) %><br>
          <b>Payer Email : </b> 
          <a href="mailto<%= @order.try(:payer_email) %>"><%= @order.try(:payer_email) %></a><br>
          <b>Payer Address : </b>
          <%= @order.try(:payer_address) %><br>
          <b>Payment Date : </b> 
          <%= @order.try(:purchased_at).strftime("%H:%M %B, %d, %Y") if @order.purchased_at %><br>
          <b>Payment Status : </b>
          Completed
        </div>
      <% end %>
      <div class="panel panel-default margin-top20">
        <div class="panel-body wrapper-order-list">
          <div class="table-responsive table-order-list">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <% unless @order.paid? %>
                    <td><strong>Action</strong></td>
                  <% end %>
                  <td width="45%"><strong>Item Name</strong></td>
                  <td class="text-center"><strong>Quantity</strong></td>
                  <% if @order.paid? %>
                    <td class="text-center"><strong>File</strong></td>
                  <% end %>
                  <td class="text-center"><strong>Ordered At</strong></td>
                  <td class="text-right"><strong>Item Price</strong></td>
                </tr>
              </thead>
              <tbody>
                <% @order.order_items.each do |order_item| %>
                  <tr>
                    <% unless @order.paid? %>
                      <td>
                        <p>
                          <%= link_to "<i class='fa fa-close'></i> Delete".html_safe, order_item, { data: { confirm: "Are you sure you wish to delete the item '#{order_item.catalog.title}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger btn-xs margin-right5" } %>
                        </p>
                      </td>
                    <% end %>
                    <td>
                      <h5 class="image-order-list">
                        <%= image_tag order_item.try(:catalog).try(:thumbnail).url(:small) %>
                        <%= link_to "#{order_item.catalog.title}", catalog_path(order_item.catalog.slug) %>
                      </h5>
                    </td>
                    <td class="text-center">
                      <p class="bold">
                        <%= order_item.try(:quantity) %>
                      </p>
                    </td>
                    <% if @order.paid? %>
                      <td class="text-center">
                        <%= link_to document_download_url(order_item.catalog.code) do %>
                          <p>Download</p>
                        <% end %>
                      </td>
                    <% end %>
                    <td class="text-center">
                      <p>
                        <%= order_item.try(:created_at).strftime("%H:%M %B, %d, %Y") %>
                      </p>
                    </td>
                    <td class="text-right">
                      <p class="bold">
                        <%= number_to_currency_br(order_item.total_price) %>
                      </p>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <% unless @order.paid? %>
                    <td class="highrow"></td>
                  <% end %>
                  <td class="highrow"></td>
                  <td class="highrow"></td>
                  <% if @order.paid? %>
                    <td class="highrow"></td>
                  <% end %>
                  <td class="highrow text-center"><h4>TOTAL</h4></td>
                  <td class="highrow text-right"><h4><%= number_to_currency_br(@order.total) %></h4></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>