<%= f.fields_for(:profile) do |profile| %>
	<%= profile.fields_for(:address) do |address| %>
		<div class="update-profile-form">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
					  <div class="col-sm-12">
					  	<%= image_tag profile.object.banner_user.url(:large), class: 'full-width' %>
					   	<%= profile.file_field :banner_user %>
					  </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
					  <div class="col-sm-12">
					  	<%= image_tag profile.object.avatar.url(:medium), class: 'full-width' %>
					   	<%= profile.file_field :avatar %>
					  </div>
					</div>
				</div>

				<div class="col-md-8">
					<div class="form-group">
					  <label class="col-sm-4">Username</label>
					  <div class="col-sm-8">
					   	<%= f.text_field :username, class: 'form-control' %>
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-sm-4">Email</label>
					  <div class="col-sm-8">
					   	<%= f.email_field :email, class: 'form-control' %>
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-sm-4">Password</label>
					  <div class="col-sm-8">
					   	<%= f.password_field :password, class: 'form-control' %>
					  </div>
					</div>
					<div class="form-group">
					  <label class="col-sm-4">Pass Confirmation</label>
					  <div class="col-sm-8">
					   	<%= f.password_field :password_confirmation, class: 'form-control' %>
					  </div>
					</div>
				</div>
			</div>

		  <%= render partial: 'form_about_me', locals: {f: profile} %>
			<%= render partial: 'form_profile', locals: {f: profile} %>
			<%= render partial: 'form_address', locals: {f: address} %>

			<div class="form-group">
				<div class="row">
				  <div class="col-sm-12">
				    <button type="submit" class="btn btn-info float-right">Save</button>
				  </div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>