<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Address</div>
  </div>     
	<div class="row">
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Country</label>
			  <div class="col-sm-12">
			   	<%= f.text_field :country, class: 'form-control' %>
			  </div>
			</div>
	  </div>
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Province</label>
			  <div class="col-sm-12">
			   	<%= f.text_field :province, class: 'form-control' %>
			  </div>
			</div>
	  </div>
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">City</label>
			  <div class="col-sm-12">
			   	<%= f.text_field :city, class: 'form-control' %>
			  </div>
			</div>
	  </div>
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Postcode</label>
			  <div class="col-sm-12">
			   	<%= f.text_field :postcode, class: 'form-control' %>
			  </div>
			</div>
	  </div> 
	  <div class="col-md-12">
	  	<div class="form-group">
			  <label class="col-sm-12">Address</label>
			  <div class="col-sm-12">
			   	<%= f.text_area :address, class: 'form-control' %>
			  </div>
			</div>
	  </div> 
	</div>                 
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Social Address</div>
  </div>     
	<div class="row">
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Facebook Username</label>
			  <div class="col-sm-12">
			   	<%= f.text_field :facebook_url, class: 'form-control' %>
			  </div>
			</div>
	  </div>
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Twitter Username</label>
			  <div class="col-sm-12">
			   	<%= f.text_field :twitter_url, class: 'form-control' %>
			  </div>
			</div>
	  </div>
	</div>                   
</div>