<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">About Me</div>
  </div>     
	<div class="row">
	  <div class="col-md-12">
	  	<div class="form-group">
			  <label class="col-sm-12">Description</label>
			  <div class="col-sm-12">
			   	<%= f.text_area :about_me, class: 'form-control', style: "height: 150px" %>
			  </div>
			</div>
	  </div>
	</div>
</div>