<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Profile</div>
  </div>     
	<div class="row">
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Full Name</label>
			  <div class="col-sm-12">
			   	<%= f.text_field :full_name, class: 'form-control' %>
			  </div>
			</div>
	  </div>
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Birthday</label>
			  <div class="col-sm-12">
			   	<div class="input-group">
	          <%= f.date_select :birthday, {
	              start_year: (Date.today.year-100), 
	              end_year:   (Date.today.year-10), 
	              order: [:day, :month, :year], 
	              prompt: { 
	                day:   'dd', 
	                month: 'mm', 
	                year:  'yyyy'
	              }},
	              {required: true, class: 'col-md-4 form-control width-auto'} %>
	        </div>
			  </div>
			</div>
	  </div>
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Gender</label>
			  <div class="col-sm-12">
			   	<%= f.select :gender, options_for_select(sex, @profile.gender), {:prompt=> "Select Gender "}, { class: 'form-control' } %>
			  </div>
			</div>
	  </div>
	  <div class="col-md-6">
	  	<div class="form-group">
			  <label class="col-sm-12">Phone</label>
			  <div class="col-sm-12">
			   	<%= f.text_field :phone, class: 'form-control' %>
			  </div>
			</div>
	  </div> 
	</div>                 
</div>