<div class="col-md-8">
  <div class="panel panel-default">
  	<div class="panel-heading">
  		<h4 class="panel-title"> Edit Profile</h4>
  	</div>
		<div class="panel-body">
			<%= render partial: 'member/prepare_form',
						locals: { form_name: 'Members', action_name: 'Edit', form_method: 'put' } %>
		</div>
	</div>
</div>