<div class="col-md-4">
	<% if current_user.staff? %>
	  <div class="sidebar-show">
	  	<%= link_to 'View Portfolio', portfolio_path(current_user.username), class: "btn btn-success full-width" %>
	  </div>
	<% end %>

	<% if params[:action] == 'profile' %>
		<div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-title"> Profile</h4>
	  	</div>
	  	<div class="panel-body">
				<table class="table-item-attributes" cellspacing="0" cellpadding="0" border="0">
		      <tbody>
		        <tr>
		          <td class="meta-attributes__attr-name">Fullname</td>
		          <td class="meta-attributes__attr-detail">
		          	<%= @profile.try(:full_name) %>
		          </td>
		        </tr>
		        <tr>
		          <td class="meta-attributes__attr-name">Birthday</td>
		          <td class="meta-attributes__attr-detail">
		          	<%= @profile.try(:birthday).strftime("%B, %d, %Y") if @profile.try(:birthday).present? %>
		          </td>
		        </tr>
		        <tr>
		          <td class="meta-attributes__attr-name">Gender</td>
		          <td class="meta-attributes__attr-detail">
		          	<%= @profile.try(:gender) %>
		          </td>
		        </tr>
		        <tr>
		          <td class="meta-attributes__attr-name">Phone</td>
		          <td class="meta-attributes__attr-detail">
		          	<%= @profile.try(:phone) %>
		          </td>
		        </tr>
		      </tbody>
		    </table>
		  </div>
		</div>

		<div class="panel panel-default">
	  	<div class="panel-heading">
	  		<h4 class="panel-title"> Addreess</h4>
	  	</div>
	  	<div class="panel-body">
				<table class="table-item-attributes" cellspacing="0" cellpadding="0" border="0">
		      <tbody>
		        <tr>
		          <td class="meta-attributes__attr-name">Country</td>
		          <td class="meta-attributes__attr-detail">
		          	<%= @address.try(:country) %>
		          </td>
		        </tr>
		        <tr>
		          <td class="meta-attributes__attr-name">Province</td>
		          <td class="meta-attributes__attr-detail">
		          	<%= @address.try(:province) %>
		          </td>
		        </tr>
		        <tr>
		          <td class="meta-attributes__attr-name">City</td>
		          <td class="meta-attributes__attr-detail">
		          	<%= @address.try(:city) %>
		          </td>
		        </tr>
		        <tr>
		          <td class="meta-attributes__attr-name">Address</td>
		          <td class="meta-attributes__attr-detail">
		          	<%= @address.try(:address) %>, <%= @address.try(:postcode) %>
		          </td>
		        </tr>
		      </tbody>
		    </table>
		  </div>
		</div>
	<% end %>

	<div class="panel panel-default">
  	<div class="panel-heading">
  		<h4 class="panel-title"> Social Profiles</h4>
  	</div>
  	<div class="panel-body">
			<table class="table-item-attributes" cellspacing="0" cellpadding="0" border="0">
	      <tbody>
	        <tr>
	          <td class="meta-attributes__attr-name">
	          	<i class="fa fa-facebook-square"></i> Facebook
	          </td>
	          <td class="meta-attributes__attr-detail">
	          	<a href="https://www.facebook.com/<%= @address.try(:facebook_url) %>">
	          		<%= @address.try(:facebook_url) %>
	          	</a>
	          </td>
	        </tr>
	        <tr>
	          <td class="meta-attributes__attr-name">
	          	<i class="fa fa-twitter-square"></i> Twitter
	          </td>
	          <td class="meta-attributes__attr-detail">
	          	<a href="https://twitter.com/<%= @address.try(:twitter_url) %>">
                  <%= @address.try(:twitter_url) %>
                </a>
	          </td>
	        </tr>
	        <tr>
	          <td class="meta-attributes__attr-name"><i class="fa fa-envelope-square"></i> Email</td>
	          <td class="meta-attributes__attr-detail">
	          	<a href="mailto:<%= current_user.try(:email) %>"> <%= current_user.try(:email) %></a>
	          </td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	</div>

	<div class="sidebar-show">
  	<table class="table-item-attributes" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td class="meta-attributes__attr-name"><b>Member Since</b></td>
          <td class="meta-attributes__attr-detail">
          	<%= current_user.try(:created_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:created_at).present? %>
          </td>
        </tr>
        <tr>
          <td class="meta-attributes__attr-name"><b>Last sign in</b></td>
          <td class="meta-attributes__attr-detail">
          	<%= current_user.try(:last_sign_in_at).strftime("%H:%M %B, %d, %Y") if current_user.try(:last_sign_in_at).present? %>
          </td>
        </tr>
      </tbody>
    </table>
	</div>
</div>