<div class="portfolio-header col-md-6">
  <div class="row">
  	<div class="col-xs-3 photo-portfolio">
      <%= image_tag @profile.try(:avatar).url(:small) %>
    </div>
    <div class="col-xs-9">
      <h3>
        <%= current_user.try(:username).titleize %>
      </h3>
      <h5>
        <a href="mailto:<%= current_user.try(:email) %>">
          <%= current_user.try(:email) %>
        </a>
      </h5>
    </div>
  </div>
</div>
<% if current_user.staff? %>
  <div class="user-header-sales col-md-6">
    <div class="pie-chart-main float-right">
      <span class="chart-earning" data-percent="<%= @income %>">
      <span class="percent percent-earning"></span>
      </span>
      <h4 class="color-dark">Income</h4>
    </div>
    <div class="pie-chart-main float-right">
      <span class="pie-chart" data-percent="<%= @sales %>">
      <span class="percent"></span>
      </span>
      <h4 class="color-dark">Items Sold</h4>
    </div>
  </div>
<% end %>
<div class="col-md-12">
	<div class="tab-item-show">
	  <%= link_to 'Dashboard', member_home_path, class: "#{active_sidebar?(:member, :home)}" %>
	  <%= link_to 'Profile', profile_path, class: "#{active_sidebar?(:member, :profile)}" %>
	  <%= link_to 'Settings', edit_member_member_path(current_user), class: "#{active_sidebar?(:members, :edit)}" %>
    <% if current_user.staff? %>
	    <%= link_to 'My Items', member_catalogs_path, class: "#{active_sidebar?(:catalogs, :index, :new, :edit)}" %>
    <% end %>
	  <%= link_to 'My Favorites', member_favorites_path, class: "#{active_sidebar?(:favorites, :index)}" %>
	  <%= link_to 'Invoice Orders', member_orders_path, class: "#{active_sidebar?(:orders, :index, :show)}" %>
	  <%= link_to 'Messages', member_messages_path, class: "#{active_sidebar?(:messages, :index, :show)}" %>
	  <%= link_to 'Supports', member_tickets_path, class: "#{active_sidebar?(:tickets, :index, :new, :home, :show)}" %>
	</div>
</div>
