<div class="col-md-8">
  <div class="panel panel-default">
  	<div class="panel-heading">
  		<h4 class="panel-title">About Me</h4>
  	</div>
		<div class="panel-body">
			<p><%= @profile.try(:about_me).html_safe if @profile.about_me.present? %></p>
		</div>
	</div>
  <% if current_user.staff? %>
    <div class="row item-on-profile">
      <div class="col-xs-12">
        <h3> Latest item</h3>
      </div>
      <div class="col-xs-12">
        <% @catalogs.each do |resource| %>
          <div class="col-xs-2 latest-user-item" data-toggle="popover" title="<%= truncate(strip_tags(resource.title.to_s), length: 40, omission: ' ...') %>">
            <div class="tooltips-content">
              <div class="tooltips-image">
                <%= image_tag resource.try(:galleries).try(:oldest).try(:first).try(:file).url(:medium) %>
              </div>
              <div class="tooltips-desc">
                <%= rating_for resource, "price", :star => 5 %>
              </div>
              <span class="tooltips-tag">
                <%= resource.try(:catalog_category_root).try(:name).titleize %>, 
                <%= resource.try(:catalog_category_child).try(:name).titleize %>
              </span>
              <span class="tooltips-price"><%= number_to_currency_br(resource.try(:price)) %></span>
            </div>
            <%= link_to catalog_path(resource), class: "po-image avatar-responsive" do %>
              <%= image_tag resource.try(:thumbnail).url(:small) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>