<div class="col-md-8">
	<div class="catalog-item-show">
		<%= image_tag current_user.try(:profile).try(:banner_user).url(:large), class: "full-width" %>
	</div>

  <div class="panel panel-default">
  	<div class="panel-heading">
  		<h4 class="panel-title"> About Me</h4>
  	</div>
		<div class="panel-body">
			<p><%= current_user.try(:profile).try(:about_me) %></p>
		</div>
	</div>
</div>