<%= form_tag "#{collection_path}/destroy_multiple", method: :delete do %>
  <div class="col-sm-9 main">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: "backend/shareds/prepare_table", 
                    locals: {table_name: 'Admins', button_name: 'Admins', add_method: true } %>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @collection.each do |resource| %>
                <tr>
                  <td><%= check_box_tag "ids[]", resource.id %></td>
                  <td><%= resource.username %></td>
                  <td><%= resource.email %></td>
                  <td><%= resource.created_at %></td>
                  <td class="text-center">
                    <%= render partial: 'backend/shareds/prepare_action', 
                        locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}" } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pagination">
            <%= paginate @collection %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>