/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require backend/bootstrap
 *= require backend/theme
 *= require backend/font-awesome.min
 *= require backend/alertify
 *= require backend/theme
 */

.controls select{
	margin-bottom: 0;
}

#wrap .alert{
	margin: 0;
}

.ticket-username a{
  color: #0088cc!important;
  font-weight: normal!important;
}

.blue, .blue a{
	color: #2166A1!important;
}

.text-center{
 	text-align: center !important;
}

.head-single-title{
	padding-top: 18px;
	padding-bottom: 10px;
	border: 1px solid #ccc;
	border-top: 0;
	float: left;
	width: 100%;
	background-color: #fff;
	font-size: 13px;
}

.head-single-title p{
	font-size: 13px;
	margin-bottom: 5px;
}

.admin-total{
	border-top: 2px solid #ccc;
}

.admin-total-price{
	float: left;
}

.admin-total-number{
	float: right;
	width: 20%;
}

/*Tickets*/

.ticket-username{
	margin-top: 0;
	margin-bottom: 6px;
}

.subject-ticket{
	margin-top: 10px !important;
}

.widget-body{
	float: left;
	width: 100%;
}
.height-160{
	height:160px!important;
}
.height-100{
	height:100px!important;
}
.radius-none{
 	border-radius: 0px!important;
}
.margin-top0{
	margin-top: 0px;
}
.margin-top20{
	margin-top: 20px;
}
.margin-top30{
	margin-top: 30px;
}
.margin-top40{
	margin-top: 40px;
}
.padding0{
	padding: 0px!important;
}
.float-right{
	float: right;
}
.padding-right0{
	padding-right: 0px!important;
}
.padding-left0{
	padding-left: 0px!important;
}
.margin-right4{
	margin-right: 4px;
}
.margin-left4{
	margin-left: 4px;
}
.label{
	font-weight: normal!important;
}
.margin-right10{
	margin-right:10px;
}
.gallery-capture{
  width: 100%;
  max-height: 190px;
  overflow: hidden;
  float: left;
}

/********************************/
/*         Label Custom         */
/********************************/
.btn-labeled{
  margin-bottom: 10px;
  font-size: 10px;
}
.btn-label {
  position: relative;left: -12px;
  display: inline-block;
  padding: 6px 12px!important;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
