body{
  overflow-x: hidden;
  margin: 64px 0 0 0;
  padding: 0;
  font-size: 13px;
  line-height: normal;
  color: #464646;
  min-width: 320px;
  outline: none;
}
#home-slider{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.gallery-capture{
  width: 100%;
  max-height: 190px;
  overflow: hidden;
  float: left;
}
.align-center{
  text-align: center;
}
.width-auto{
  width: auto!important;
}
.margin-right4{
  margin-right: 4px;
}
.margin-left2{
  margin-left: 2px;
}
.brdr-grey{
  border: solid 1px #ccc!important;
  padding: 2px!important;
}
.span14{
  font-size: 14px;
}
.logo-load{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.footer h3{
  text-transform: uppercase;
}
a .msg-content{
  color: #444!important;
}

.label-important{
  background-color: #E62525;
}

.blue{
  color: #2166A1!important;
}

.strong{
  font-weight: bold;
}

.click-show-form-comment{
  cursor: pointer;
}

.display-none-fom-comment{
  display: none;
}

.support-icon{
  font-size: 80px;
  text-align: center;
}

.align-center{
  text-align: center;
}

.loading{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #3C5EA7;
  background-image: url('ajaxload.gif');
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}

.border-bottom{
  border-bottom: solid 1px #ddd;
}

nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe.twitter-share-button{ width: 80px !important; }
nav.share iframe.twitter-share-button, nav.share #fb-root {border:0; margin-top:0; padding-top:0; margin-left: 6px; float: right; } /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/

p{
  line-height: 23px;
  margin-bottom: 15px;
}

a{
  outline : none;
  color: #25B700;
  text-decoration: none;
  transition: color 0.4s, border 0.4s, opacity 0.4s, background 0.4s;
}

a:hover{
  color: #E06400;
  text-decoration: none;
}

a:focus{
  text-decoration: none;
  color: inherit;
}

a img{
  border: 0;
}

h1{
  margin: 18px 0;
  font-size: 30px;
}

h2{
  margin: 14px 0;
  font-size: 26px;
}

h3{
  margin: 11px 0;
  font-size: 23px;
}

h4{
  margin: 9px 0;
  font-size: 19px;
}

h5{
  margin: 8px 0;
  font-size: 16px;
}

h6{
  margin: 7px 0;
  font-size: 15px;
}

/*AUTHOR FEATURED*/

.featured-section-author-featured{
  margin-top: 40px;
}

/*LANDING PAGE*/

.container-landing{
  background: #ffffff;
  padding: 30px 50px;
  line-height: 24px;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0px -1px 6px -3px #404040;
}

.item-on-profile{
  margin-bottom: 25px;
}

.item-on-profile .latest-user-item{
  margin-bottom: 12px;
  cursor: pointer;
  border: 0;
  padding: 0 6px;
}

.item-on-profile .po-image{
  border: 4px solid #384452;
  width: 100%;
  display: block;
  position: relative;
}

.popover {
  min-width: 350px;
  padding-bottom: 6px;
  background: #333333;
  color: #ffffff;
  position: absolute;
}

.popover .tooltips-image{
  margin: 5px 0;
  height: 165px;
  overflow: hidden;
}

.popover .tooltips-image img{
  width: 100%;
  height: auto;
}

.popover-title{
  background: #384452;
  font-weight: bold;
  border-bottom: 0;
  color: #ffffff;
}
.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #333333;
  border-bottom-width: 0;
}

.popover.top .arrow:after{
  border-top-color: #333333;
}

.tooltips-content{
  display: block;
}

.tooltips-desc{
  width: 100%;
  float: left;
  margin: 6px 0 4px 0;
  clear: both;
}

.tooltips-tag{
  font-size: 11px;
  color: #cccccc;
  float: left;
  display: inline-block;
  line-height: 24px;
}

.tooltips-price{
  float: right;
  font-size: 24px;
  font-weight: bold;
}


.popover.bottom .arrow{
  display: none;
}

.item-on-profile .latest-user-item > .tooltips-content{
  display: none;
}

/*SIDE MENU*/
.list-terms{
  font-size: 18px;
  padding-left: 0;
  margin-left: 15px;
}
.list-group-item{
  padding: 15px;
  font-size: 15px;
}

/*MAGNIFY-BOOTSTRAP*/

.mag {
  width:450px;
  margin: 0 auto;
  float: none;
}

.mag img {
  max-width: 100%;
}


.mag1 {
  width:120px;
  margin: 0 auto;
  float: none;
}

.mag1 img {
  max-width: 100%;
}

.mag2 {
  width:900px;
  margin: 0 auto;
  float: none;
}

.mag2 img {
  max-width: 100%;
}

.magnify {
  position: relative;
  cursor: none
}

.magnify-large {
  position: absolute;
  display: none;
  width: 500px;
  height: 500px;

  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.55), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
           border-radius: 100%
}

/*CAROUSEL*/

.carousel-indicators .active{
  width: 10px;
  height: 10px;
}

.home-carousel .item{
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-carousel .item img{
  visibility: hidden;
}

.home-carousel .btn-home-slider{
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.4s;
}

.home-carousel .btn-home-slider:hover{
  background: rgba(255, 255, 255, 0.5);
}

.home-carousel .carousel-indicators li{
  margin: 0 3px;
}

.home-carousel .carousel-inner img{
	display: table;
	margin: auto;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: -5px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: -5px;
}

#dot-nav{
  right: 10px;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  z-index: 999;
}

#dot-nav ul {
  list-style: none;
  margin:0;
  padding: 0;
}
#dot-nav li {
  position: relative;
  background-color: #bdc3c7;
  border:3px solid #bdc3c7;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  padding: 5px;
  height: 10px;
  margin: 10px 10px 0px 0px;
  width: 10px;
  vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
  background-color: #8e44ad;
}

#dot-nav a {
  outline: 0;
  vertical-align:top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top:-5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #8e44ad;
    color: #f5f5f5;
    border: 1px solid #8e44ad;
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #8e44ad;
}

/*testimonial form*/

.modal-testimonial .modal-content h3 a{
  color: #464646;
}

 .animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.post-review-box img{
  max-height: 81px;
}

.testimonial-rating-field{
  margin: 10px 0 15px 0;
  font-size: 19px;
  color: #FFD900;
}

.featured-section{
  display: table;
  margin: auto;
  max-width: 81%;
}

.featured-section .latest-user-item{
  width: 92px;
}

.wrap-featured-button{
  margin-top: 16px;
  clear: both;
  float: left;
}

.wrap-featured-button .btn{
  display: table;
  margin: 0 auto;
}

/*SEARCH FRONT*/

.search-big{
  font-size: 17px;
  display: table;
  position: absolute;
  margin: auto;
  top: 35%;
  left: 0;
  right: 0;
  width: 100%;
  height: 46px;
  max-width: 50%;
  z-index: 11;
}

.input-group .btn{
  border-bottom-width: 1px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.section-show .search-big{
  position: relative;
  max-width: 60%;
}

.search-big .input-group-btn, .search-big input, .search-big .btn{
  height: 70px;
}

.search-big .input-group-btn:first-child > .btn, .search-big .input-group-btn:first-child > .btn-group{
  margin-right: -2px;
}

.margin0{
  margin: 0;
}

/*MARGIN LEFT*/


.margin-left0{
  margin-left: 0;
}

.margin-left5{
  margin-left: 5px;
}

.margin-left10{
  margin-left: 10px;
}

/*MARGIN LEFT*/

.margin-right0{
  margin-right: 0;
}

.margin-right5{
  margin-right: 5px;
}

.margin-right10{
  margin-right: 10px;
}

/*MARGIN TOP*/

.margin-top0{
  margin-top: 0px!important;
}

.margin-top5{
  margin-top: 5px!important;
}

.margin-top10{
  margin-top: 10px!important;
}

.margin-top15{
  margin-top: 15px!important;
}

.margin-top20{
  margin-top: 20px!important;
}

.margin-top30{
  margin-top: 30px!important;
}

/*MARGIN BOTTOM*/

.margin-bottom0{
  margin-bottom: 0px!important;
}

.margin-bottom5{
  margin-bottom: 5px!important;
}

.margin-bottom10{
  margin-bottom: 10px!important;
}

.margin-bottom15{
  padding-bottom: 15px!important;
}

.margin-bottom20{
  margin-bottom: 20px!important;
}

.margin-bottom30{
  margin-bottom: 30px!important;
}

.margin-bottom40{
  margin-bottom: 40px!important;
}

/*PADDING*/

.padding0{
  padding: 0!important;
}

.padding10{
  padding: 10px !important;
}

.padding15{
  padding: 15px !important;
}

.padding20{
  padding: 20px!important;
}

/*PADDING TOP*/

.padding-top0{
  padding-top: 0!important;
}

.padding-top10{
  padding-top: 10px!important;
}

.padding-top20{
  padding-top: 20px!important;
}

.padding-top15{
  padding-top: 15px!important;
}

.padding-top30{
  padding-top: 30px!important;
}

/*PADDING BOTTOM*/

.padding-bottom0{
  padding-bottom: 0!important;
}

.padding-bottom10{
  padding-bottom: 10px!important;
}

.padding-bottom20{
  padding-bottom: 20px!important;
}

.padding-bottom15{
  padding-bottom: 15px!important;
}

.padding-bottom30{
  padding-bottom: 30px!important;
}

/*PADDING LEFT*/

.padding-left0{
  padding-left: 0;
}

/*PADDING RIGHT*/

.padding-right0{
  padding-right: 0;
}

.breadcrumb-step{
  color: #DCDCDC;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.breadcrumb-step a{
  color: #DCDCDC;
}

.navbar-inverse{
  background: #384452;
  border: 0;
}
.navbar-brand{
  padding: 10px;
  margin-right: 13px;
}

.navbar-brand img{
  height: 40px;
  width: auto;
}

.navbar-inverse .navbar-nav > li > a{
  color: #ffffff;
  border-bottom: 3px solid transparent;
  padding: 22px 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a.active{
  color: #62DAFF;
  border-bottom: 3px solid #62DAFF;
}

.dropdown {
  border-radius:4px;
}

.dropdown > a > .fa{
  font-size: 12px;
}

.dropdown-menu{
  left: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu>li>a {
  color:#428bca;
}


.dropdown ul.dropdown-menu {
  border-radius:4px;
  box-shadow:none;
  margin-top:20px;
  width: 200px;
  background: #ffffff !important;
}

.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  color: #333 !important;
}

.navbar-inverse a{
  text-decoration: none;
}

.navbar-form{
  margin-top: 8px;
}

.margin-auto-display-table{
	display: table;
	margin: auto;
  float: none;
}
.bs-example-form{
	position: absolute;
}

.login-reg-actions {
  margin-top: 16px;
  margin-left: 15px;
}

.login-reg-actions{
}

.login-reg-actions .divider{
  margin: 0;
}

.login-reg-actions .dropdown-menu li a{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #464646;
}

.login-reg-actions .nav-login{
  margin-right: 6px;
  background: transparent;
  border: 1px solid #DCDCDC;
  color: #ffffff;
  transition: border 0.4s;
}

.login-reg-actions .nav-login:hover{
  border: 1px solid #ffffff;
}

.login-reg-actions .nav-register{
}

.nav-logged{
  margin-top: 16px;
}

.nav-logged .user-menu-dropdown{
  background: #363641;
}

.nav-logged .dropdown .divider{
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.dropdown-menu li a{
  line-height: 27px;
  width: 100%;
  float: left;
}

.nav-logged .btn{
  opacity: 1 !important;
  border: 0 !important;
  padding: 0;
}

.nav-logged .btn a{
  padding: 5px 15px;
  display: block;
}

.nav-logged .btn a:hover, .nav-logged .btn a:focus{
  color: #ffffff;
}

.logged{
  border: 0;
  color: #ffffff;
}

.login-reg-actions .logged:hover{
  border: 0;
}

.menu-notification{
  background: #4D687D;
}

.menu-notification a{
  padding-left: 0;
  color: #ffffff;
}

.menu-notification .label{
  font-size: 10px;
  padding: 2px 4px;
  margin: 0 5px;
}

.dropdown-notification{
  width: 300px !important;
}

.content-notification{
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  float: left;
}

.photo-notification{
  width: 35px;
  height: 35px;
  margin-right: 6px;
  overflow: hidden;
}

.content-notification .date-notification{
  font-size: 12px;
  float: right;
  color: #A4A4A4;
}

.content-notification h5{
  line-height: 15px;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 6px;
}

.content-notification p{
  line-height: 15px;
  font-size: 13px;
  margin-bottom: 0;
}

.content-notification small{
  float: left;
}

.photo-notification img{
  width: 100%;
  height: auto;
}

.view-all-notification a{
  background: #F5F5F5;
}

.view-all-notification a:hover{
  background: #E6E6E6 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background: inherit;
}

.br10{
  float: left;
  width: 100%;
  height: 10px;
}
.br20{
  float: left;
  width: 100%;
  height: 20px;
}
.br20{
  float: left;
  width: 100%;
  height: 20px;
}
.padding0{
  padding: 0px!important;
}
/**** LAYOUT ****/
.list-inline>li {
  padding: 0 10px 0 0;
}
.container-pad {
  padding: 30px 15px;
}

/**** MODULE ****/

.top-menu > .dropdown ul.dropdown-menu:before, .top-menu > .dropdown ul.dropdown-menu:after {
  display: none;
}

.top-menu > .dropdown ul.dropdown-menu{
  margin-top: 0 !important;
  border-radius: 0 !important;
}

/*CAROUSEL CONTROL*/

.carousel-control span, .carousel-control span{
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

input[type="checkbox"]{
  width: 16px;
  height: 16px;
  float: left;
  display: inline-block;
  margin: 0px 4px 0 0;
}

label{
  padding-bottom: 4px;
}

.modal-sm{
  width: 340px;
}

.label{
  font-weight: normal;
  padding: 5px 6px;
  font-size: 13px;
}

.panel{
  border: 0;
}

.panel-default, .panel-info{
  border-color: #ccc;
}

.grey-panel-body{
  padding: 10px;
  background: #ccc;
  margin: 10px 0;
}

.rgba-black{
  background: rgba(0, 0, 0, 0.7);
}

.red{
  color: #D00000;
}

.clear-both{
  clear: both;
}

#property-listings{
  width: 100%;
  float: left;
}

.display-table-auto{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.background-none{
  background: none !important;
}

.background-smoke{
  background: #E4E4E4;
}

.background-bluesky{
  background-color: #E5EFF6;
}

.background-shappire{
  background-color: #384452;
  color: #ffffff;
}

.background-gradient-blue{
  background: rgb(30,87,153); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(41,137,216,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 100%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 100%,rgba(125,185,232,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 100%,rgba(125,185,232,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.alert{
  border-radius: 0;
  display: table;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body > .alert{
  margin-bottom: 0;
}

.content-bottom{
}

.table{
  margin-bottom: 0;
}

.meta-attributes__attr-name{
  padding: 6px 0;
  width: 30%;
}

.meta-attributes__attr-detail{
  width: 50%;
}

section{
  width: 100%;
  float: left;
}

.btn{
  outline: none !important;
  border-radius: 3px;
  transition: color 0.3s, opacity 0.3s, background 0.3s;
}

.btn:hover{
  opacity: 0.85;
}

.btn-success,.btn-success:hover {
  background-color: #2CC92C;
  border: 1px solid transparent;
  border-bottom: 2px solid #2F9600;
}

.btn-info, .btn-info:hover {
  background-color: #3EBFE6;
  border: 1px solid transparent;
  border-bottom: 2px solid #00A0B8;
}

.btn-danger, .btn-danger:hover {
  background-color: #E62525;
  border: 1px solid transparent;
  border-bottom: 2px solid #B30606;
}

.btn-default {
  background-color: #fff;
  border-color: #ccc;
  border-bottom: 2px solid #B2B2B2;
}

.btn-default:hover{
  background: #F9F9F9;
}

.btn:active{
  border-bottom: 2px solid transparent;
}

.btn-default:active{
  border-bottom: 1px solid #B2B2B2;
}

.avatar-responsive, .image-responsive{
  overflow: hidden;
  position: relative;
  min-height: 49px;
}


.image-responsive img{
  width: 100%;
}

.avatar-responsive{
  border: 2px solid #ffffff;
}

.avatar-responsive img{
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumb-responsive {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  margin-left: 4px;
  width: 30%;
  margin-bottom: 10px;
}

.thumb-responsive img{
  width: 100%;
}

.thumb-responsive{
  border: 2px solid #ffffff;
}

.thumb-responsive img{
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-dialog{
  overflow: hidden;
  border-radius: 5px;
  margin: 15px auto;
}

.modal-header{
  background: #384452;
  color: #ffffff !important;
  padding: 19px 15px;
}

.modal-header h1, .modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5, .modal-header h6{
  margin: 0;
}

.modal-content{
  border-radius: 0;
  border: 0;
}

.modal-body .col-md-12{
  float: left;
}

.modal-confirm .modal-header{
  background: #F6F6F6;
  color: initial !important;
}

#accordion h4, #accordion a{
  display: block;
  width: 100%;
  height: 100%;
}

.panel-heading{
  background-color: #384452 !important;
  color: #ffffff !important;
  padding: 13px 15px;
}

.panel-heading a{
  color: #ffffff !important;
}

.panel .panel .panel-heading{
  color: initial !important;
  background: #F3F3F3 !important;
}

.side-search-filter-choice .panel a.strong:before{
  content: "√";
  margin-right: 5px;
}

.side-filter-search{
  background: #ffffff;
  border-radius: 4px;
  padding-top: 8px;
  float: left;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body{
  border: 1px solid #cccccc;
  border-radius: 0 0 4px 4px;
}

/*.table > thead > tr > td:first-child, .table > tbody > tr > td:first-child, .table > tfoot > tr > td:first-child{
  border-top: 0;
}*/

.background-white {
  background-color: #fff!important;
}

.box-shadow {
  -webkit-box-shadowow: 1px 1px 0 rgba(0,0,0,.2);
  box-shadowow: 1px 1px 0 rgba(0,0,0,.2);
}

.border {
  border: 1px solid #ededed;
}

.section-testimonial{
}

.section-testimonial .section-main-title, .section-testimonial .desc-main-title{
  color: #384452;
}

.image-testimonial{
  margin-bottom: 12px;
  height: 175px;
  overflow: hidden;
}

/*SECTION SEARCH FILTER SIDE*/

.button-grid-list a{
}

.button-grid-list a.active{
  background-color: #e6e6e6;
  border-color: #adadad;
}

.section-search-filter{
  margin-bottom: 10px;
  width: 100%;
  float: left;
}

.section-search-filter h5{
  font-weight: bold;
  margin: 11px 0;
}

.section-search-filter table tr td{
  border-top: 0;
}

/*SHOW ITEM*/

.wrapper-show{
  min-height: 300px;
  padding: 40px 0 50px 0;
}

.tab-item-show{
  overflow: hidden;
}

.tab-item-show a{
  background: #384452;
  float: left;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  padding: 10px 15px;
  color: #ffffff;
  border: 0;
  margin-right: 3px;
}

.tab-item-show a.active{
  background: #E5EFF6;
  color: #464646;
}

.section-show{
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(135deg,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.section-show .section-main-title{
  color: #ffffff;
  margin: 20px 0;
  font-size: 32px;
  text-align: left;
}

.button-item-description .btn{
  margin-top: 10px;
  margin-right: 10px;
}

.button-item-share .btn{
  margin-right: 0;
  color: #ffffff;
  border: 0;
}

.button-item-share .btn:hover{
  opacity: 0.8;
}

.button-item-share .share-facebook{
  background: #3a599c;
}

.button-item-share .share-twitter{
  background: #4b91ce;
}

.button-item-share .share-google-plus{
  background: #dd4b39;
}

.stButton .stLarge{
  width: 100% !important;
  position: absolute;
  background-image: none !important;
}

.image-item-show{
  width: 100%;
}

.table-item-attributes tr{
  line-height: 19px;
}

.table-item-attributes td:first-child{
  font-weight: bold;
}

textarea {
  height: 1em;
  width: 50%;
  padding: 3px;
  transition: all 0.5s ease;
}

textarea:focus{
    height: 4em;
}

textarea.form-control{
  height: 114px;
}

/*SHOW ITEM SIDE RIGHT*/

.side-right-show .panel{
  border: 0;
  float: left;
  width: 100%;
}

.side-right-show, .side-right-show p, .side-right-show label{
  color: #6C6C6C;
}

.side-right-show h4{
  font-size: 17px;
}

.side-author h4 a{
  color: #464646;
}

.side-sales h2{
  padding: 0;
  margin: 0;
}



/*SECTION*/

section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-main-title{
  font-size: 32px;
  color: #384452;
  text-align: center;
}

.desc-main-title{
  font-size: 16px;
  color: #384452;
  text-align: center;
  width: 60%;
  margin: 0 auto 30px auto;
}

.header-bg-about{
  color: #fff;
  font-size: 16px;
}

.header-bg-about h1{
  font-size: 35px;
  font-weight: normal;
}

.header-bg-about h1 span{
  color: #444;
}

.desc-bg-about h1{
  font-size: 35px;
  font-weight: normal;
}

.desc-bg-about h1 span{
  color: #25B700;
}

.desc-bg-about{
  font-size: 16px;
}



/* Font changes */
.fnt-smaller {
  font-size: .9em;
}
.fnt-lighter {
  color: #bbb;
}


/* Color  */
.clr-535353 {
  color: #535353;
}
.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.btn-primary-fb {
  color: #fff;
  background-color: #3a599c;
  border-color: #357ebd;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}

.btn-primary-fb:hover{
  opacity: 0.9;
  color: #fff;
}

.omb-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: block;
}
.omb-span {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
  font-size: 1.5em;
  color: #aaa;
}

.form-group {
  float: left;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}


/*CATALOG*/

.filter-catalog{
  display: table;
  margin: 20px auto;
  padding: 0 15px;
}

.filter-catalog a {
  color:#666;
  text-decoration:none;
}

.filter-catalog a.current {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.section-list-catalog .section-main-title, .section-list-catalog .desc-main-title{
  color: #ffffff;
}

.catalog-item{
  overflow: hidden;
  margin-bottom: 30px;
  background: #ffffff;
  color: #384452;
}

.catalog-item .carousel img{
  padding: 0px;
}

.desc-catalog{
  padding: 13px 13px 0 13px;
  width: 100%;
  float: left;
}

.desc-catalog h2{
  margin: 0 0 7px 0;
}

.desc-catalog h2 a{
  color: #333333;
  font-size: 19px;
  font-weight: bold;
  text-transform: capitalize;
}

.desc-catalog .likes-grid-list span{
}

.desc-grid-list .tag-catalog{
  margin-bottom: 14px;
}

.list-view-item .tag-catalog{
  margin-bottom: 0;
}

.tag-catalog{
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.tag-catalog li{
  display: inline-block;
  font-size: 11px;
  line-height: 12px;
  color: #5A5A5A;
}

.btn-item-catalog{
  font-weight: bold;
}

.price-catalog-item{
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

/*CATALOG COMMENT*/


.comment-comment-wrapper > h3{
  margin-bottom: 18px;
}

.wrapper-comment-list{
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper-comment-list:first-child{
  margin-top: 0;
}

.comment-parent{
  overflow: hidden;
  margin-bottom: 10px;
}

.catalog-item #comment_comment{
  height: 56px;
  transition: height 0.5s ease;
}

.catalog-item #comment_comment:focus{
  height: 86px;
}

#comment_comment.form-reply-comment{
  height: 46px;
  transition: height 0.5s ease;
}

#comment_comment.form-reply-comment:focus{
  height: 66px;
}

.comment-username{
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}

.comment-date{
  margin-left: 10px;
}

.comment-reply-link{
  font-size: 13px;
  text-align: right;
  background: #E4E4E4;
  color: #888888;
  margin: 0 -15px -15px -15px;
  padding: 12px;
}

/*COMMENT CHILDREN / REPLIES*/

.wrapper-comment-list .new_comment{
  display: none;
}

.back-grey{
  background: #ccc;
}

.description-catalog{
}

.description-catalog img{
  width: 100%;
  margin-bottom: 20px;
}
.price-lg{
  font-size: 33px;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}
.full-width{
  width: 100%!important;
}
.full-height{
  height: 100%!important;
}

.meta-attributes tr td {
  font-size: 13px;
  vertical-align: middle;
  padding-top: 9px;
  padding-bottom: 9px;
  vertical-align: top;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
}

.meta-attributes tr:last-child td{
  border-bottom: 0;
}

.border-bottom-left-radius{
  border-bottom-left-radius: 0;
}
.border-bottom-right-radius{
  border-bottom-right-radius: 0;
}
.btn-default-show:hover, .btn-default-show:focus, .btn-default-show:active, .btn-default-show.active {
  color: #fff;
  background: #384452;
  border-color: none;
}
.btn-default-show {
  color: #384452;
  background-color: #ccc;
  border-right-color: #000;
}

/*FOOTER*/
.footer{
  background: #1f2329;
  color: #999;
  padding-bottom: 0;
}

.footer p{
  line-height: 50px;
  margin-bottom: 0;
}

.footer a:hover{
  color: #ffffff;
}

.footer ul{
  padding: 0;
  list-style: none;
}

.footer ul li, .footer ul li a{
  color: #999;
  line-height: 22px;
}

.footer hr{
  border-top: 1px solid #484848;
  margin-bottom: 0;
  margin-top: 40px;
}

.footer h3{
  font-size: 19px;
  color: #ffffff;
}

.logo-footer img{
  margin-top: 15px;
  width: 140px;
}

.follow-us a{
  color: #ffffff;
  width: 34px;
  height: 34px;
  margin-right: 9px;
  font-size: 18px;
  padding: 6px;
  transition: opacity 0.4s;
}

.follow-us a:hover{
  color: #ffffff;
  opacity: 0.8;
}

.follow-us .site-facebook{
  background: #3a599c;
}

.follow-us .site-twitter{
  background: #4b91ce;
}

.follow-us .site-google-plus{
  background: #dd4b39;
}

.footer-subscribe .btn{
  margin-top: 10px;
}

.position-relative-search{
  position: relative!important;
}

.title-bottom-search{
  color: #fff;
  margin: auto;
  display: table;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.label-search-left{
  padding: 0px 0px 10px 0px;
  float: left;
  font-weight: bold;
  font-size: 15px;
}

.label-price{
  font-weight: normal!important;
}

.panel-body-left {
  padding:0px;
}

.panel-body-left table tr td {
  padding-left: 15px
}

.panel-body-left .table {
  margin-bottom: 0px;
}

/*CATALOG LIST BY SEARCHER*/

.glyphicon {
  margin-right:5px;
}

.item-grid-list{
  margin-bottom: 20px;
}

.item-grid-list-inner {
  background-color: #ffffff;
  border-radius: 0px;
  overflow: hidden;
}

.item-grid-list .carousel{
  margin-bottom: 6px;
  background: #000000;
}

.item-grid-list-inner .carousel-inner{
  padding: 0;
  overflow: hidden;
}

.item-grid-list-inner h4{
  margin-top: 0;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}

.item-grid-list-inner h4 a{
  color: #464646;
  text-transform: capitalize;
}

.item-grid-list .carousel-indicators{
  width: 100%;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.item-grid-list .carousel-indicators li{
  margin: 0 3px;
}

.item.list-view-item {
  width: 100%;
}

.item.list-view-item .list-group-image{
  margin-right: 10px;
}

.item.list-view-item .image-item-grid{
  margin-bottom: 0px;
}

.item.list-view-item .caption{
  padding: 9px 9px 0px 9px;
}

.item.list-view-item:before, .item.list-view-item:after{
  display: table;
  content: " ";
}

.item.list-view-item:after{
  clear: both;
}

.item.list-view-item .image-responsive{
  height: 149px !important;
  float: left;
}

.item.list-view-item .image-responsive{
  width: 34.5%;
  float: left;
}

.item.list-view-item .image-responsive img{
  width: 100%;
  height: auto;
  min-height: 153px;
}

.item.user-has-item .image-responsive img{
  min-height: 138px;
}

.item.list-view-item .desc-grid-list{
  width: 63%;
  float: right;
  padding-top: 11px;
}

.item.list-view-item .content-bottom{
  background: #ffffff;
}

.list-view-item-text{
  margin: 0 0 11px;
}

.desc-grid-list{
  padding: 4px 11px 0 11px;
}

.likes-grid-list span{
  margin: 0 2px;
  float: left;
  font-size: 12px;
}

.desc-grid-list .content-bottom{
  padding: 8px 12px;
}

.attr-grid-list{
  padding-bottom: 0;
}

.price-grid-list{
  font-weight: bold;
  font-size: 24px;
  /*margin: 6px 0 0 0;*/
}

/*User Dashboard*/

.rating-user{
  color: #FFEA00;
  font-size: 16px;
}

.float-right{
  float: right!important;
}

.float-left{
  float: left!important;
}

.list-item-user{
  margin: 8px 0;
}

.list-item-user h2{
  margin-top: 0;
  margin-bottom: 4px;
}

.list-item-user p{
  margin-bottom: 12px;
}

.checkbox-list-item-user{
  width: 16px;
}

.total-sales-item-user{
  font-size: 14px;
  margin-right: 15px;
}

.label-status{
  font-size: 12px;
  margin-right: 15px;
}

.date-list-item-user{
  font-style: italic;
  color: #717171;
}

.stats-list-item-user{
  float: right;
  text-align: center;
}

.list-item-user-sales{
  font-size: 15px;
  background: #FF75D5;
  margin: 10px auto;
  display: table;
}

.cart-text a{
  color: #fff!important;
}

.table-order-list p{
  margin-top: 15px;
}

.image-order-list{
  height: 40px;
  overflow: hidden;
}

.image-order-list img{
  margin-right: 8px;
  height: 100%;
  width: auto;
}
.grey{
  color: #ccc!important;
}

/*MESSAGE*/

.wrapper-message{
  border-radius: 4px;
}

.message-body{
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.message-body:last-child{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.message-body > ul{
  list-style: none;
}

.message-body-photo{
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.message-body-username{
  margin-top: 8px;
  font-weight: bold;
}

.message-body-username a{
  margin-bottom: 8px;
  display: block;
}

.message-body-photo img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.message-body-subject{
  margin-top: 8px;
  font-weight: normal;
  font-size: 14px;
}

.messages-reply-body{
  border-radius: 4px;
  margin-top: 18px;
}

/*TICKETS*/

.ticket-message{
  border-radius: 4px;
}

.ticket-header{
  margin-bottom: 20px;
}

.ticket-header h3{
  margin-top: 12px;
  margin-bottom: 18px;
}

.ticket-header .label{
  margin-right: 4px;
}

.ticket-main-message{
  margin-bottom: 20px;
  background: #E9FFDE;
  border: 1px solid #ededed;
  border-radius: 4px;
}

.ticket-body{
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.ticket-body:last-child{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.ticket-body > ul{
  list-style: none;
}

.ticket-body-photo{
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
}

.ticket-body-username{
  margin-top: 8px;
  font-weight: bold;
}

.ticket-body-username a{
  margin-bottom: 8px;
  display: block;
}

.ticket-body-photo img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.ticket-body-subject{
  margin-top: 8px;
  font-weight: normal;
  font-size: 14px;
}

.ticket-reply-body{
  border-radius: 4px;
  margin-top: 18px;
}


/*TABLE INVOICE*/
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 2px solid #ccc;
}

.list-group-item{
  z-index: 2;
}

/*USER PORTFOLIO*/

.portfolio-header{
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.info-portfolio-header{
  display: inline-block;
  color: #ffffff;
  margin-left: 14px;
}

.portfolio-header h3{
  margin: 3px 0 6px 0;
  font-weight: bold;
  text-shadow: 1px 1px 1px #525252;
}

.portfolio-header h5, .portfolio-header h6, .portfolio-header a{
  color: #ffffff;
  clear: both;
  text-shadow: 1px 1px 1px #525252;
}

.photo-portfolio{
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: inline-block;
  border: 2px solid #ffffff;
}

.photo-portfolio img{
  position: absolute;
  width: 100%;
  height: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*PIE CHART*/

.pie-chart-main{
  width: 90px;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
}

.pie-chart, .chart-earning {
  position: relative;
}

.percent.percent-earning:before{
  content: "$";
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
}

.percent {
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  width: 100%;
  display: block;
  padding: 34px 0;
  z-index: 2;
}

.pie-chart-main h4 {
  color: #ffffff;
  font-size: 17px;
}

.list-group-item-heading a{
  color: #464646;
}

.list-item-user h4{
  margin-bottom: 10px;
  font-weight: bold;
}

.list-item-user .cat-user-item{
  margin: 10px 0 7px 0;
  display: table;
  font-size: 12px;
}

.list-item-user .user-item-update{
  float: right;
  margin-top: -16px;
}

/*SCROLL UP*/

.scrollup {
  width: 46px;
  height: 46px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  display: none;
  background: #384452;
  opacity: 0.7;
  border-radius: 50%;
  border: 0;
  text-align: center;
  z-index: 3;
  transition: background 0.4s;
}

.scrollup i {
  color: #ffffff;
  font-size: 17px;
  display: block;
  line-height: 38px;
}

.scrollup:hover {
  background: #ffffff;
  border: 1px solid #384452;
}

.scrollup:hover i {
  color: #4B4B4B;
}

.lb-outerContainer{
  width: 50% !important;
  min-height: 200px;
  height: auto !important;
  overflow: auto;
}

.lb-outerContainer img{
  width: 100% !important;
  height: auto !important;
}

.lb-nav{
  top: 1% !important;
  height: 134px !important;
}

.lb-nav a.lb-prev{
  background-position: left 0 !important;
}

.lb-nav a.lb-next{
  background-position: right 0 !important;
}

nav{
  width: 100%;
  float: left;
}

/*RESPONSIVE*/

@media (min-width: 1200px){
  .container {
    width: 1024px;
  }
}

@media (max-width: 768px){

  body{
    margin-top: 50px;
  }

  .lb-outerContainer{
    width: 90% !important;
  }

  .navbar-brand img{
    height: 100%;
    width: auto;
  }

  .navbar-nav{
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-inverse .navbar-nav > li > a{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-logged{
    width: 100%;
  }

  .nav-logged .btn{
    width: 33.2%;
  }

  .search-big{
    max-width: 80%;
    height: 48px;
  }

  .search-big .input-group-btn, .search-big input, .search-big .btn{
    height: 48px;
  }

  .home-carousel .carousel-caption{
    display: none;
  }

  .item.list-view-item img{
    height: auto;
  }

  .btn{
    margin-top: 7px;
  }

  .login-reg-actions{
    margin: 0 !important;
  }

  .dropdown ul.dropdown-menu:before, .dropdown ul.dropdown-menu:after{
    display: none !important;
  }

  .list-group-item-heading{
    margin-top: 10px;
    width: 100%;
    float: left;
  }

  .stats-list-item-user{
    display: table;
    margin: 22px auto 0 auto;
    float: none;
  }

  .image-testimonial{
    margin-bottom: 12px;
    height: auto;
  }

  .image-featured{
    height: auto;
  }

  .tab-item-show a{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
  }

  .pie-chart-main{
    margin-left: 0;
    margin-bottom: 18px;
    margin-right: 12px;
  }

  .filter-catalog a{
    width: 100%;
  }

}
