.carousel-control.left,.carousel-control.right  {
  background:none;width:25px;
  z-index: 12;
}
.broun-block {
  padding-bottom: 34px;
}
.block-text {
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  margin-top: 27px;
  padding: 15px 18px;
  background: #fff;
}
.block-text .price{
  color: #444;
  font-weight: bold;
  font-size: 20px;
}

.block-text h3{
  margin: 5px 0;
}

.block-text h3 a {
 font-size: 20px;
 color: #333333;
 line-height: 21px;
 margin: 0;
 text-decoration: none;
}

.rating-testimonial{
  color: #FFFA44;
  font-size: 16px;
}

.rating-testimonial .mark {
  padding: 2px 0 12px 0;
  background :none;
}

.mark{
  background: none;
}


.testimonial-rating-field .glyphicon{
  margin-right: 0;
  padding-right: 5px;
}

.block-text p {
  font-family: Georgia;
  font-style: italic;
  line-height: 20px;
}

.block-text p:before{
  content: "\201C";
  float: left;
  font-size: 22px;
  margin-right: 4px;
}
.sprite {
  background: black;
}
.sprite-i-triangle {
  background-position: 0 -1298px;
  height: 44px;
  width: 50px;
}
.block-text ins {
  bottom: -44px;
  left: 50%;
  margin-left: -60px;
}


.block {
  display: block;
}
.zmin {
  z-index: 1;
}
.ab {
  position: absolute;
}

.person-text {
  padding: 10px 0 0;
  text-align: center;
  z-index: 2;
}

.person-text a {
  color: #333333;
  display: block;
  font-size: 15px;
  margin-top: 3px;
}

.person-text i {
  font-family: Georgia;
  font-size: 13px;
}
.rel {
  position: relative;
}

.section-black{
  background: black;
}
.section-black h1{
  color: #fff;
}
.section-grey{
  background: #ddd;
}

.background-bluesky{
  background: #333;
}