<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'shareds/web_setting' %>
  <%= csrf_meta_tags %>
</head>
	<body>
	  <%#= render "shareds/load" %>
	  <div class="alert-new">
	  	<%= flash_messages %>
	  </div>
	  <%= yield %>
	</body>
	<%= javascript_include_tag 'application' %>
</html>
