<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'shareds/web_setting' %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<%= render "shareds/top_menu" %>
		<div class="container">
		  <div class="row vertical-offset-100">
		    <div class="col-md-4 col-md-offset-4">
		      <div class="panel panel-default">
		        <div class="panel-heading blue">                                
		          <div class="row-fluid user-row">
		            <%= link_to root_path do %>
				          <%= image_tag @setting.logo.url(:medium), class: "img-responsive"  %>
				        <% end %>
		          </div>
		        </div>
		        <div class="panel-body">
		        	<%= render 'shareds/notice_alert/errors' %>
							<%= yield %>
						</div>
		      </div>
		    </div>
		  </div>
		</div>
		<%= render "shareds/footer" %>
	</body>
	<%= javascript_include_tag 'devise', 'data-turbolinks-track' => true %>
</html>
