<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= render 'shareds/web_setting' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= render "shareds/load" %>
  <%= flash_messages %>
  <%= render "shareds/top_menu" %>

  <section class="section-header-show for-catalog-show">
  	<div class="container">
  		<%= render "shareds/breadcrumb" %>
  		<%= render "member/top_bar" %>
  	</div>
  </section>

  <section>
  	<div class="container">
  	  <div class="row">
        <div class="col-md-12">
    	  	<%= yield %>
          <% unless params[:controller] == 'member/orders' && params[:action] == 'show' ||
                    params[:controller] == 'member/catalogs' && params[:action] == 'new'||
                    params[:controller] == 'member/catalogs' && params[:action] == 'edit' %>
    	  	  <%= render 'member/side_right' %>
          <% end %>
        </div>
  	  </div>
  	</div>
  </section>

  <%= render "shareds/footer" %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
